<div class="row" style="width: 50%; margin-left: 25%">
    <div style="text-align:center;background-color:#1A6225; font-size:30px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
        <b> </b>
        <div class="titulo" style="color:white"> Acceso del Usuario </div>
    </div>
    <div style="background-color:azure;">
        <br />
        <article style="font-size:15px; margin-left: 5%">
            Estimado Usuario de la organización <strong>@ViewBag.RazSocial</strong> con Nro. de RUC: <strong>"@ViewBag.rucOA"</strong>, Usted cuenta con 10 días para registrar el <strong> Formato  1 </strong> y<strong> Formato 3 </strong>de los datos solicitados:
        </article>

        <article style="font-size:14px; margin-left: 45%;">
            <strong>Fecha Inicio:</strong>  @ViewBag.fechaAlta <br />
            <strong>Fecha Fin:</strong> @ViewBag.fechaBaja <br />
        </article>
        <article style="font-size:15px; margin-left: 5%">
            Si tiene algún incoveniente por favor contáctenos al correo eléctronico <strong>sel@agroideas.gob.pe</strong> o al <strong>teléfono: 511-416-9880, Anexo: 857</strong>
        </article>
        <article style="font-size:15px; margin-left: 5%">
            Horario de Atención de Lunes a Viernes de 8:30 a.m. a 5:30 p.m.
        </article>
        <article style="font-size:15px; margin-left: 5%">
            Para iniciar su sesion haga click <a href="@ViewBag.ConfirmationLink">aqui</a>
        </article>

        <br />
        <br />
    </div>
</div>