<div class="col-xs-12 col-md-12" style="width: 65%; margin-left: 20%">
    <div style="text-align:center;background-color:#1A6225; font-size:30px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
        <b> </b>
        <div class="titulo" style="color:white">SEL - PRPA Observado </div>
    </div>

    <div style="background-color:azure; ">
        <br />
        <article class="col-xs-12 col-md-6" style="font-size:15px; margin-left: 5%; color:black;">
            Estimado Usuario:   
            <br /><br />
            Es grato dirigirme a usted, con relación al <strong>Proyecto de Reconversión Productiva Agropecuaria</strong>, de la Organización:
            <strong> @ViewBag.razSocial </strong> denominado <strong>"@ViewBag.nombrePlanNeg"</strong> con N° de Expediente: <strong>@ViewBag.nroExpediente></strong> y N° de CUT:<strong>@ViewBag.nroCutExpediente></strong>, 
            se ha realizado la evaluación y como resultado se ha formualdo observaciones.

        </article>

        <br />
        <article style="font-size:15px; color:black; margin-left: 5%">
            El detalle de las observaciones podrá ser visualizado a través del Sistema en Línea del Programa ingresando a la página web: <a href="https://www.agroideas.gob.pe/">www.agroideas.gob.pe</a>
        </article>

        <br />
        <article style="font-size:15px; color:black; margin-left: 5%">
            Para tales fines se le otorga un plazo máximo de <strong>@ViewBag.periodoEstado </strong> días hábiles a partir de la fecha de recepción de esta notificación para <strong>la  subsanación de las observaciones identificadas.</strong> Asi mismo a solicitud de la organización, este plazo podrá ser ampliado hasta por un periodo máximo de <strong> 5 días hábiles</strong> adicionales.
        </article>
        <br />

    </div>
</div>