<div class="col-xs-12 col-md-12" style="width: 65%; margin-left: 20%">
    <div style="text-align:center;background-color:#1A6225; font-size:30px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
        <b> </b>
        <div class="titulo" style="color:white">SEL - Recepción de Expediente  </div>
    </div>

    <div style="background-color:azure; ">
        <br />
        <article class="col-xs-12 col-md-6" style="font-size:15px; margin-left: 5%; color:black;">
            Estimado/a Sr. / Sra.: <br />
            <strong> @ViewBag.repLegal </strong> <br />
            Representante Legal de <strong> @ViewBag.razon_social </strong>.
            <br /><br />
            Es grato dirigirnos a usted, para saludarlo y comunicarle que su solicitud presentada para la <strong> línea de acción:  @ViewBag.tipoSDA </strong>, ha sido: <strong> @View.estadoActual </strong> 
            en la mesa de partes del Programa de Compensaciones para la Competividad con N° de Expediente: <strong>@ViewBag.nroExpedienteOA</strong>.
            <br />
        </article>


        <article style="font-size:15px; color:black; margin-left: 5%">
            Los detalles podrá visualizarlos a través del Sistema en Línea del Programa ingresando a la página  web: <a href="https://www.agroideas.gob.pe/">www.agroideas.gob.pe</a>
        </article>

        <br />

    </div>
</div>