
@{
    ViewBag.Title = "consultaEstructuraInversion";
    Layout = "~/Views/Shared/_LayoutMenuUn.cshtml";
}


<div class="main-content">
<!-- contenedor -->

<div class="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <span>Bienvenido  Sr: @Session["NombreUsua"]   </span>
        <!-- Fin Ruta -->
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="/Modulos/">Modulos</a>
            </li>
            <li><a href="/UNegocios/Index">U.Negocios</a></li>
            <li class="active">Estructura de Inversión</li>
        </ul>

    </div><!-- Inicio ruta -->

    <div class="page-content">
        <!-- contenido -->

        <div class="page-header">
            <!-- Inicio titulo -->

            <div class="cbp-mc-column">

                <h1> Consultar Estructura de Inversión</h1>
            </div>
        </div>       <!-- Fin titulo -->
        <!-- inicio pasos-->

        <div class="col-xs-12 col-md-12">
            <!-- contenido de ACORDEON 1 -->
            <div id="accordion" style="border:1px solid;">

                <div class="card">

                    <div class="widget-header card-header" id="headingOne" style="text-align:left;">
                        <h5 class="widget-title" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <a style="color:white; text-decoration:none;">
                                <i class="ace-icon fa fa-search"></i>
                                &nbsp; BUSQUEDA
                            </a>
                        </h5>

                        <div class="widget-toolbar" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <a href="#collapseOne" data-action="collapse" style="color:#fff;">
                                <i class="ace-icon fa fa-chevron-down"></i>
                            </a>
                        </div>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body" style="padding-left:12px;padding-right:12px;">
                            <br />

                            <!----- VALIDA RUC ----->


                            <div class="row" style="margin-bottom:5px;">
                                <form class="card-body" style="padding-left:25px;padding-right:25px;">


                                    <div class="row" style="margin-bottom:10px;">

                                        <div class="col-xs-12 col-sm-12 col-md-1" style="text-align: left;"> 
                                            <label style="text-align:left"><strong> Buscar por:</strong></label> 
                                        </div>


                                        <div class="col-xs-12 col-sm-12 col-md-1" style="text-align: left;">

                                            <div class="radio">

                                                <label for="text" class="col-lg-6 col-form-label align-right">
                                                    <input type="radio" name="optionsRadios" id="rb_Ruc" value="option1" checked>
                                                    RUC:
                                                </label>
                                            </div>

                                        </div>

                                        <div class="col-xs-12 col-sm-12 col-md-1" style="text-align: left;">

                                            <div class="radio">
                                                <label for="text" class="col-lg-6 col-form-label align-right width-100">
                                                    <input type="radio" name="optionsRadios" id="rb_Sgd" value="option2">
                                                    Nro. SGD_CUT:
                                                </label>
                                            </div>
                                        </div>

                                    </div>



                                    @*margin-bottom: 5px;*@

                                    @using (Html.BeginForm())
                                    {
                                        @*<div class="row" style="margin-bottom:5px;">*@

                                        <div class="row" style="margin-bottom:10px;">

                                            <div class="col-xs-12 col-md-6" style="text-align: left; margin-bottom: 5px;">
                                                <label style="text-align:left; width:20%">R.U.C :</label>
                                                @Html.Hidden("usuario", (string)"", new { Value = @Session["Usuario"] })
                                                @*@Html.Hidden("rucOA", (string)"", new { Value = @Session["RucOA"] })*@

                                                @Html.Hidden("fechaAlta", (string)"", new { @class = "" })
                                                @Html.Hidden("fechaBaja", (string)"", new { @class = "" })

                                                @Html.TextBox("rucOA", (string)"", new { @class = "campoNumero", @style = "width:23%", disabled = true, Value = @Session["RucOA"] })
                                                <button type="button" class="btn btn-info" id="btnBuscarExpediente" title="Validar"> <i class="ace-icon fa fa-search"></i></button><br />
                                                <p id="ArucOA" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Solo valores numéricos en este campo.</p>
                                            </div>




                                            <div class="col-xs-12 col-sm-12 col-md-3" style="text-align: left;">
                                                <div><label style="text-align:left; width:50%">No Expediente:</label></div>
                                                @*@Html.TextBox("nroExp", (string)"", new { @class = "campoTexto", @style = "width:30%" })*@
                                                <div><select id="cbxNroExpedienteOAFl" class="custom-select" style="width:40%;"> </select></div>

                                            </div>


                                            <div class="col-xs-12 col-sm-12 col-md-3" style="text-align: left;">
                                                <div>
                                                    <label style="text-align:left; width:50%">Nº SGD (CUT):</label>
                                                </div>

                                                @*@Html.TextBox("nroSGD", (string)ViewBag.bus_ruc, new { @class = "campoTexto", @style = "width:30%" })*@
                                                <div>
                                                    <select id="cbxNroSGD" class="custom-select" style="width:40%;"> </select>
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-md-6" style="text-align: left; margin-bottom: 5px;">
                                                <label style="text-align:left; width:20%">No SGD (CUT):</label>
                                                @Html.Hidden("usuario", (string)"", new { Value = @Session["Usuario"] })
                                                @*@Html.Hidden("rucOA", (string)"", new { Value = @Session["RucOA"] })*@

                                                @Html.Hidden("fechaAlta", (string)"", new { @class = "" })
                                                @Html.Hidden("fechaBaja", (string)"", new { @class = "" })

                                                @Html.TextBox("rucOA", (string)"", new { @class = "campoNumero", @style = "width:23%", disabled = true, Value = @Session["RucOA"] })
                                              
                                                <p id="ArucOA" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Solo valores numéricos en este campo.</p>
                                            </div>
                                        </div>


                                            @*</div>*@



                                            <div class="row" style="margin-bottom:10px;">
                                                <div class="col-xs-12 col-md-6" style="text-align: left; margin-bottom: 5px;">
                                                    <label style="text-align:left; width:20%">Razón Social :</label>
                                                    @Html.TextBox("razonSocial", (string)"", new { @MaxLength = "500", @style = "width:65%", disabled = true })
                                                </div>

                                                <div class="col-xs-12 col-md-6" style="text-align: left; margin-bottom:5px;">
                                                    <label style="text-align:left; width:20%">Tipo de S.D.A.:</label>
                                                    @Html.TextBox("razonSocial", (string)"", new { @MaxLength = "500", @style = "width:65%", disabled = true })
                                                </div>
                                            </div>
                                                <!-- columna  3 -->

                                            <div class="row" style="margin-bottom:10px;">
                                                <div class="col-xs-12 col-md-6" style="text-align: left; margin-bottom: 5px;">
                                                    <label style="text-align:left; width:20%">Nombre de PN / PRPA:</label>
                                                    @Html.TextBox("razonSocial", (string)"", new { @MaxLength = "500", @style = "width:65%", disabled = true })
                                                </div>

                                                <div class="col-xs-12 col-md-6" style="text-align: left; margin-bottom:5px;">
                                                    <label style="text-align:left; width:20%">Tipo Incentivo:</label>
                                                    @Html.TextBox("razonSocial", (string)"", new { @MaxLength = "500", @style = "width:65%", disabled = true })
                                                </div>

                                               
                                            </div>

                                    }


                                </form>
                            </div>
 

                            @*FIN ACORDEON*@
                            <div class="row">

                                <div class="cbp-mc-column " style="align-content:center">
                                    <br>
                                    <button id="btnConsultarEI" class="btn btn-success" style="margin-bottom:25px"><i class="ace-icon fa fa-search"></i>BUSCAR</button>
                                    &nbsp;
                                    <button id="btnLimpiarFiltro" class="btn btn-success" style="margin-bottom:25px"><i class="ace-icon fa fa-eraser"></i>LIMPIAR</button>
                                </div>

                            </div>
 
                        </div>
                    </div>
                   


                    <div class="row">
                        <!-- inicio grid-->
                        <!-- Fin tabla-->


                    </div><!-- fin grid -->
                </div><!-- contenido -->
            </div>

          <div class="col-xs-12">
                <br />
                <h2>Estructura de Inversión de Bienes</h2>
                <!-- inicio tabla-->
                <div class="table-responsive margen">
                    <table id="tab_opa" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle;" width="3%" class="center">N°</th>
                                <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle;" width="7%" class="center">Componente</th>
                                <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle;" width="7%" class="center">Categoría</th>
                                <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle;" width="7%" class="center">SubCategoría</th>
                                <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle;" width="10%" class="center">Descripción B/S</th>
                                <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle;" width="7%" class="center">Especificación B/S</th>
                                <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle;" width="5%" class="center">Unid. Medida</th>
                                <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle;" width="4%" class="center">Cantidad</th>
                                <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle;" width="5%" class="center">Costo Unitario</th>
                                <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle;" width="5%" class="center">Aporte PCC</th>
                                <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle;" width="5%" class="center">Aporte OA</th>
                                <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle;" width="5%" class="center">%PCC</th>
                                <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle;" width="5%" class="center">%OA</th>
                                <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle;" width="7%" class="center">Motivo Actualización</th>
                                <th colspan="2" width="12%" style="background-color:darkseagreen; color:black;" class="center">Acciones</th>
                            </tr>
                            <tr>
                                <th class="text-center" style="background-color:darkseagreen; color:black; min-width:5%; max-width:5%">Modificar</th>
                                <th class="text-center" style="background-color:darkseagreen; color:black; min-width:5%; max-width:5%">Eliminar</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td class="center">Activo</td>
                                <td class="center">15/10/2019 </td>
                                <td style="text-align:center"> Robert Rayco </td>
                                <td class="center"> 05 </td>
                                <td class="center"> Bueno </td>
                                <td class="center"> User </td>
                                <td class="center"> 20/10/2019 </td>
                                <td class="center">Activo</td>
                                <td class="center">15/10/2019 </td>
                                <td style="text-align:center"> Robert Rayco </td>
                                <td class="center"> 05 </td>
                                <td class="center"> Bueno </td>
                                <td class="center"> User </td>
                                <td class="center"> 20/10/2019 </td>
                                <td class="center">
                                    <a class="btn btn-warning" id="" href="#modificarModal" title="Modificar" data-toggle="modal">
                                        <i class="ace-icon fa fa-edit"></i>
                                    </a>
                                </td>
                                <td class="center">
                                    <a> &nbsp;</a>
                                    <a class="btn btn-danger" id="eliminarBtn" href="#eliminarModal" title="Eliminar" data-toggle="modal">
                                        <i class="ace-icon fa fa-trash"></i>
                                    </a>
                                </td>

                            </tr>


                        </tbody>
                    </table>
                </div>

                <br />


                <h2>Estructura de Inversión de Servicios</h2>
                <!-- inicio tabla-->
                <div class="table-responsive margen">
                    <table id="tab_dae" class="table table-bordered table-hover">
                        <thead>
                            <tr>

                                <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle;" width="3%" class="center">N°</th>
                                <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle;" width="7%" class="center">Componente</th>
                                <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle;" width="7%" class="center">Categoría</th>
                                <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle;" width="7%" class="center">SubCategoría</th>
                                <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle;" width="10%" class="center">Descripción B/S</th>
                                <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle;" width="7%" class="center">Especificación B/S</th>
                                <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle;" width="5%" class="center">Unid. Medida</th>
                                <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle;" width="4%" class="center">Cantidad</th>
                                <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle;" width="5%" class="center">Costo Unitario</th>
                                <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle;" width="5%" class="center">Aporte PCC</th>
                                <th rowspan="2"style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle;" width="5%" class="center">Aporte OA</th>
                                <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle;" width="5%" class="center">%PCC</th>
                                <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle;" width="5%" class="center">%OA</th>
                                <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle;" width="7%" class="center">Motivo Actualización</th>
                                <th colspan="2" width="12%" style="background-color:darkseagreen; color:black;" class="center">Acciones</th>

                            </tr>
                            <tr>
                                <th class="text-center" style="background-color:darkseagreen; color:black; min-width:5%; max-width:5%">Modificar</th>
                                <th class="text-center" style="background-color:darkseagreen; color:black; min-width:5%; max-width:5%">Eliminar</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td class="center">Activo</td>
                                <td class="center">15/10/2019 </td>
                                <td style="text-align:center"> Robert Rayco </td>
                                <td class="center"> 05 </td>
                                <td class="center"> Bueno </td>
                                <td class="center"> User </td>
                                <td class="center"> 20/10/2019 </td>
                                <td class="center">Activo</td>
                                <td class="center">15/10/2019 </td>
                                <td style="text-align:center"> Robert Rayco </td>
                                <td class="center"> 05 </td>
                                <td class="center"> Bueno </td>
                                <td class="center"> User </td>
                                <td class="center"> 20/10/2019 </td>

                                <td class="center">
                                    <a class="btn btn-warning" id="" href="#modificarModal" title="Modificar" data-toggle="modal">
                                        <i class="ace-icon fa fa-edit"></i>
                                    </a>
                                </td>
                                <td class="center">
                                    <a> &nbsp;</a>
                                    <a class="btn btn-danger" id="eliminarBtn" href="#eliminarModal" title="Eliminar" data-toggle="modal">
                                        <i class="ace-icon fa fa-trash"></i>
                                    </a>
                                </td>

                            </tr>

                        </tbody>
                    </table>
                </div>


                @*TABLA TOTAL*@
                <h2>Resumen</h2>
                <div class="table-responsive margen">
                <table id="tbResumenEI" class="table table-bordered table-hover" style="width:100%; align-content:center; text-align:center;">
                    <thead>
                        <tr>
                            
                            <th style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle;" width="15%" class="center">Descripción B/S</th>
                            <th style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle;" width="5%" class="center">Inversión Total</th>
                            <th style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle;" width="5%" class="center">Aporte PCC</th>
                            <th style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle;" width="5%" class="center">%PCC</th>
                            <th style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle;" width="5%" class="center">Aporte OA</th>
                            <th style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle;" width="5%" class="center">%OA</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td class="center">Activo</td>
                            <td class="center">15/10/2019 </td>
                            <td style="text-align:center"> Robert Rayco </td>
                            <td class="center"> 05 </td>
                            <td class="center"> Bueno </td>
                            <td class="center"> User </td>
                            
                        </tr>

                    </tbody>
                </table>
            </div>

                <div class="row" style="margin-bottom:10px;">
                   
                </div>

            </div>

        </div>


    </div>


</div>

                </div><!-- fin contenedor -->