
@{
    ViewBag.Title = "registroDatosSda";
    Layout = "~/Views/Shared/_LayoutMenuUn.cshtml";
}

<head>
    <title>Registro Datos SDA</title>

</head>
<div class="main-content">
    <!-- contenedor -->

    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <span>Bienvenido  Sr: @Session["NombreUsua"]   </span>
            <!-- Fin Ruta -->
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="/Modulos/">Modulos</a>
                </li>
                <li><a href="/UNegocios/index"> U.Negocios</a></li>
                <li class="active">S.D.A.</li>
            </ul>  

        </div><!-- Inicio ruta -->

        <div class="page-content">
            <!-- contenido -->

            <div class="page-header">
                <!-- Inicio titulo -->

                <div class="cbp-mc-column">

                    <h1> Registro de Datos del SDA</h1>
                </div>
            </div>       <!-- Fin titulo -->


            <!-- inicio pasos-->
            <div class="col-xs-12 col-md-12">
                <!--------- ACORDEON 1  card-header ------------>
                <div id="accordion" style="border:1px solid;">

                    <div class="card">

                        @*1ER ACORDEON*@    <div class="widget-header card-header" id="headingOne" style="text-align:left;">
                            <h5 class="widget-title" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <a href="#" style="color:white; text-decoration:none;">
                                    <i class="ace-icon fa fa-search"></i>
                                    &nbsp; BUSQUEDA
                                </a>
                            </h5>
                            <div class="widget-toolbar" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <a href="#" data-action="collapse" style="color:#fff;">
                                    <i class="ace-icon fa fa-chevron-down"></i>
                                </a>
                            </div>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body" style="padding-left:25px;padding-right:12px;">
                                <br />

                                <div class="row" style="margin-bottom:10px; text-align:left;">

                                    <div class="col-xs-12 col-sm-12 col-md-1" style="text-align: left;">

                                        <label style="text-align:left"><strong> Buscar por:</strong></label>

                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-md-2" style="text-align: left;">

                                        <div class="radio">

                                            <label for="text" class="col-lg-12 col-form-label align-right width-35">
                                                <input type="radio" name="optionsRadios" id="rdbRucFl" value="option1" checked>
                                                RUC:
                                            </label>
                                        </div>

                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-md-2" style="text-align: left;">

                                        <div class="radio">
                                            <label for="text" class="col-lg-12 col-form-label align-left width-60">
                                                <input type="radio" name="optionsRadios" id="rdbSgdCutFl" value="option2" style="text-align:left">
                                                N° SGD_CUT:
                                            </label>
                                        </div>

                                    </div>
                                </div>

                                <div class="row" style="margin-bottom:10px;">

                                    <div class="col-xs-12 col-sm-12 col-md-3" style="text-align: left;">
                                        <div>
                                            <label style="text-align:left;">RUC :</label>
                                        </div>
                                        <div>
                                            @Html.TextBox("nroRucFl", (string)"", new { style = "width:60%" })

                                            <button type="button" class="btn btn-info" id="btnBuscarExpediente" title="Validar"> <i class="ace-icon fa fa-search"></i></button><br />
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-md-3" style="text-align: left;">
                                        <div> <label style="text-align:left;">Nro Expediente: </label> </div>
                                        <div>  <select id="cbxNoExpFl" class="custom-select" style="width:60%;"> </select> </div>
                                    </div>


                                    <div class="col-xs-12 col-sm-12 col-md-3" style="text-align: left;">
                                        <div> <label style="text-align:left;">Estado: </label> </div>
                                        <div>
                                            @{
                                                List<KeyValuePair<int, string>> ddlstEstado = new List<KeyValuePair<int, string>>();
                                                ddlstEstado.Add(new KeyValuePair<int, string>(0, "Seleccione..."));
                                                ddlstEstado.Add(new KeyValuePair<int, string>(1, "NUEVO"));
                                                ddlstEstado.Add(new KeyValuePair<int, string>(2, "RECEPCIONADO"));
                                                SelectList selectEstado = new SelectList(ddlstEstado, "key", "value", 0);
                                            }
                                            @Html.DropDownList("cbxEstadoFl", selectEstado, new { style = "width:60%" })
                                        </div>

                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-md-3" style="text-align: left;">
                                        <div> <label style="text-align:left;">Región: </label> </div>
                                        <div>  <select id="cbxRegionFl" class="custom-select" style="width:60%;"> </select> </div>
                                    </div>

                                </div>

                                <div class="row" style="margin-bottom:5px;">

                                    <div class="col-xs-12 col-sm-12 col-md-3" style="text-align: left;">
                                        <div>  <label style="text-align:left;">Nro.SGD(CUT):</label> </div>
                                        <div>
                                            @Html.TextBox("NroSgdCutFl", (string)"", new { @class = "campoNumero", style = "width:60%" })
                                            @*<button type="button" class="btn btn-info" id="btnBuscarSgdCut" title="Validar"> <i class="ace-icon fa fa-search"></i></button><br />*@
                                            <p id="ANroDocumento" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Solo valores numéricos en este campo.</p>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-md-3" style="text-align: left;">
                                        <div> <label style="text-align:left;">N° SGD (CUT): </label> </div>
                                        <div>  <select id="cbxSgdCutFl" class="custom-select" style="width:60%;"> </select> </div>
                                    </div>


                                    <div class="col-xs-12 col-sm-12 col-md-3" style="text-align: left;">
                                        <div> <label style="text-align:left;">Tipo SDA:</label> </div>
                                        <div>
                                            <select id="cbxTipoSdaFl" class="custom-select" style="width:60%;"> </select>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-md-3" style="text-align: left;">
                                        <div> <label style="text-align:left;">Provincia:</label> </div>
                                        <div>
                                            <select id="cbxProvinciaFl" class="custom-select" style="width:60%;"> </select>
                                        </div>
                                    </div>

                                </div>

                                <div class="row" style="margin-bottom:5px;">

                                    <div class="col-xs-12 col-sm-12 col-md-3" style="text-align: left;">
                                        <div><label style="text-align:left;">Distrito :</label></div>
                                        <div>
                                            <select id="cbxDistritoFl" class="custom-select" style="width:60%;"> </select>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-md-4" style="text-align: left; margin-bottom: 5px;">
                                        <div>
                                            <label style="text-align:left;"><strong>Fecha de Trámite:</strong></label>
                                        </div>
                                        <div class="form-inline">
                                            Del:&nbsp;
                                            <div class="input-group date" style="width:40%; Text-align:left;">
                                                @Html.TextBox("fecIni1", (string)"", new { @class = "datetimepicker", style = "width:95%; text-align:left;" })
                                                <span class="input-group-addon" style="text-align:left; width:5%;">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                            &nbsp;&nbsp; al:&nbsp;
                                            <div class="input-group date" style="width:40%; Text-align:left;">
                                                @Html.TextBox("fecIni2", (string)"", new { @class = "datetimepicker", style = "width:95%; text-align:left;" })
                                                <span class="input-group-addon" style="text-align:left; width:5%;">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>

                                    </div>

                                  


                                   


                                </div>

                                <div class="row">
                                    <div class="cbp-mc-column">
                                    </div>

                                    <div class="cbp-mc-column">
                                    </div>

                                    <div class="cbp-mc-column">
                                    </div>

                                    <!-- columna  3 -->
                                    <br />
                                    <br />
                                    <div class="cbp-mc-column ">
                                        <button id="btnConsultar" class="btn btn-success" style="margin-bottom:25px"><i class="ace-icon fa fa-search"></i>Buscar</button>
                                        <a> &nbsp;</a>
                                        <button id="btnLimpiarFiltro" class="btn btn-success" style="margin-bottom:25px"><i class="ace-icon fa fa-eraser"></i>Limpiar</button>
                                    </div>
                                </div>
                            </div>

                            @*FIN 1 ACORDEON*@

                        </div>

                        @*2DO ACORDEON*@    
             
             
                @*TABLA EXTERIOR*@  
                
              



            </div>
        </div>

                <br />
                <h2>Expedientes de S.D.A.</h2>
                <div id="div-tabla" class="table-responsive margen">
                    <table id="tablaMpExpOA" class="table table-bordered table-hover table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle;">Nro</th>
                                <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; max-width:5%">R.U.C</th>
                                <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; max-width:5%">Razon Social </th>
                                <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; max-width:5%">Tipo de S.D.A.</th>

                                <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; max-width:5%">Tipo Incentivo</th>

                                <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; max-width:5%">Nro. Expediente</th>
                                <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; max-width:5%">Nro. SGD(CUT)</th>
                                <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; max-width:5%">Origen de Expediente</th>

                                <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; max-width:5%">Asunto</th>
                                <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; max-width:5%">Estado</th>
                                <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; max-width:5%">Fecha Recepcion</th>
                                <th colspan="1" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle;">Ver Historial</th>
                                <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; max-width:5%">Datos SDA</th>
                                <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; max-width:5%">Asignar Especialista</th>
                                <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; max-width:5%">Reasignar Especialista</th>
                            </tr>

                        </thead>
                        <tbody id="tbodyMPExpOA" class="tbodyMPExpOA">

                            <tr>
                                <td class="center">1</td>
                                <td class="center"> - </td>
                                <td style="text-align:center"> - </td>
                                <td class="center"> - </td>
                                <td class="center"> - </td>
                                <td class="center"> - </td>
                                <td class="center"> - </td>
                                <td class="center"> - </td>
                                <td class="center"> -</td>

                                <td class="center"> -</td>

                                <td class="center"> - </td>

                                <td class="center">
                                    <button id="btnVerHistorial" class="btn btn-warning" title="Historial">
                                        <i class="ace-icon fa fa-eye"></i>
                                    </button>

                                </td>
                                <td class="center">
                                    <button id="btnRegistrarDatosSDA" class="btn btn-success" title="Registrar">
                                        <i class="ace-icon fa fa-pencil"></i> Registrar
                                    </button>

                                </td>
                                <td class="center">

                                    <button id="btnAsignarEsp" class="btn btn-primary" title="Asignar">
                                        <i class="ace-icon fa fa-pencil"></i> Asignar
                                    </button>
                                </td>

                                <td class="center">

                                    <button id="btnReasignarEsp" class="btn btn-info" title="Reasignar">
                                        <i class="ace-icon fa fa-repeat"></i> Reasignar
                                    </button>
                                </td>
                            </tr>


                        </tbody>
                    </table>
                    @*FIN TABLA*@
                </div>


        </div>
            <!-- -->
        </div>

<script type="text/javascript">

    $(document).ready(function () {

        controles_SDA();



    });

</script>