
@{
    ViewBag.Title = "registroProgramaAct";
    Layout = "~/Views/Shared/_LayoutMenuUn.cshtml";
}

<div class="main-content">
<!-- contenedor -->

<div class="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <span>Bienvenido  Sr: @Session["NombreUsua"]   </span>
        <!-- Fin Ruta -->
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="/Modulos/">Modulos</a>
            </li>
            <li><a href="/UNegocios/Index">U.Negocios</a></li>
            <li class="active">Registro Program. Actividades</li>
        </ul>

    </div><!-- Inicio ruta -->

    <div class="page-content">
        <!-- contenido -->

        <div class="page-header">
            <!-- Inicio titulo -->

            <div class="cbp-mc-column">

                <h1> Registro de Programación de Actividades </h1>
            </div>
        </div>       <!-- Fin titulo -->
        <!-- inicio pasos-->

        <div class="col-xs-12 col-md-12">
            <!-- contenido de ACORDEON 1 -->
            <div id="accordion" style="border:1px solid; align-content:center">

                <div class="card" style="align-content:center">

                    <div class="widget-header card-header" id="headingOne" style="text-align:left;">
                        <h5 class="widget-title" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <a style="color:white; text-decoration:none;">
                                <i class="ace-icon fa fa-file"></i>
                                &nbsp; ACTIVIDADES PNT / PRPA
                            </a>
                        </h5>

                        <div class="widget-toolbar" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <a href="#collapseOne" data-action="collapse" style="color:#fff;">
                                <i class="ace-icon fa fa-chevron-down"></i>
                            </a>
                        </div>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body" style="padding-left:35px; padding-right:35px; align-content:center">
                        <br />

                        <div class="row" style="margin-bottom:10px;">


                            @*margin-bottom: 5px;*@

                            <div class="col-xs-12 col-md-4" style="text-align:left; margin-bottom:15px;">
                                <div>
                                    <label style="text-align:left;"> RUC: </label>
                                </div>
                                <div>
                                    @Html.TextBox("idJuntaDirectivaf", (string)"", new { style = "width:65%; display:none;" })
                                    @Html.TextBox("rucOAf", (string)"", new { style = "width:65%", disabled = true, Value = @Session["RucOA"] })
                                </div>
                            </div>



                            <div class="col-xs-12 col-sm-12 col-md-4" style="text-align: left; margin-bottom:15px;">
                                <div><label style="text-align:left;"> N° Expediente: </label></div>
                                <div>
                                    @Html.TextBox("razonSocial", (string)"", new { @class = "campoTexto", @MaxLength = "250", style = "width:65%", disabled = "disabled" })
                                    <p id="ARazSocial" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Solo texto en este campo.</p>
                                </div>
                            </div>

                            @*margin-bottom: 5px;*@


                            <div class="col-xs-12 col-sm-12 col-md-4" style="text-align: left; margin-bottom:15px;">
                                <div><label style="text-align:left;"> N° SGD(CUT): </label></div>
                                <div>
                                    @Html.TextBox("razonSocial", (string)"", new { @class = "campoTexto", @MaxLength = "250", style = "width:65%", disabled = "disabled" })
                                    <p id="ARazSocial" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Solo texto en este campo.</p>
                                </div>
                            </div>
                        </div>


                        <div class="row" style="margin-bottom:10px;">


                            @*margin-bottom: 5px;*@

                            <div class="col-xs-12 col-sm-12 col-md-6" style="text-align: left; margin-bottom:15px">
                                <div><label style="text-align:left;"> Razón Social: </label></div>
                                <div>
                                    @Html.TextBox("razonSocial", (string)"", new { @class = "campoTexto", @MaxLength = "250", style = "width:65%", disabled = "disabled" })
                                    <p id="ARazSocial" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Solo texto en este campo.</p>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-6" style="text-align: left; margin-bottom:15px">
                                <div><label style="text-align:left;"> Nombre PN/PRPA: </label></div>
                                <div>
                                    @Html.TextBox("razonSocial", (string)"", new { @class = "campoTexto", @MaxLength = "250", style = "width:65%", disabled = "disabled" })
                                    <p id="ARazSocial" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Solo texto en este campo.</p>
                                </div>
                            </div>

                            @*margin-bottom: 5px;*@


                        </div>

                        @*OTRA FILA*@

                        <div class="row" style="margin-bottom:10px;">


                            @*margin-bottom: 5px;*@

                            <div class="col-xs-12 col-sm-12 col-md-4" style="text-align: left; margin-bottom:15px;">
                                <div><label style="text-align:left;">Cadena Productiva: </label></div>
                                <div>
                                    @Html.TextBox("razonSocial", (string)"", new { @class = "campoTexto", @MaxLength = "250", style = "width:65%", disabled = "disabled" })
                                    <p id="ARazSocial" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Solo texto en este campo.</p>
                                </div>
                            </div> 
                            
                            
                            <div class="col-xs-12 col-sm-12 col-md-4" style="text-align: left; margin-bottom:15px;">
                                <div><label style="text-align:left;"> Producto: </label></div>
                                <div>
                                    @Html.TextBox("razonSocial", (string)"", new { @class = "campoTexto", @MaxLength = "250", style = "width:65%", disabled = "disabled" })
                                    <p id="ARazSocial" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Solo texto en este campo.</p>
                                </div>
                            </div>

                            @*margin-bottom: 5px;*@


                            <div class="row" style="margin-bottom:10px;">
                                <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom:10px;">
                                    <label style="text-align: left;">Comentario:</label>
                                    <textarea class="form-control" rows="2" style="width:87%" placeholder="Texto ..."></textarea>
                                </div>

                            </div>
                        </div>

                        @*OTRA FILA*@

                        <div class="row" style="margin-bottom:5px;">
                            @*margin-bottom: 5px;*@

                            <div class="cbp-mc-column " style="align-content:center">
                                <br>
                                <button id="btnSalvarPerfil" type="button" class="btn btn-primary" >GUARDAR</button>
                                 
                            </div>

                            @*margin-bottom: 5px;*@


                            <br />
                        </div>

                        <br />

                     

                    </div>


                    </div>
                    
                  
                </div><!-- contenido -->
            </div>

            <br /> 

            @*ACORDEON 2 ACTUALIZA ESTADO*@
            <div id="accordion2" style="border:1px solid;">

                <div class="card">

                    <div class="card-header widget-header" id="headingOne" style="text-align:left;">
                        <h5 class="widget-title" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            <a style="color:white; text-decoration:none;">
                                <i class="ace-icon fa fa-file"> </i>
                                &nbsp; PROGRAMACIÓN DE ACTIVIDADES DEL PNT / PRPA
                            </a>
                        </h5>
                        <div class="widget-toolbar" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            <a href="#collapseTwo" data-action="collapse" style="color:#fff;">
                                <i class="ace-icon fa fa-chevron-down"></i>
                            </a>
                        </div>
                    </div>


                    <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordion2">
                        <div class="card-body" style="padding-left:35px;padding-right:35px;">
                            <br />

                            @*OTRA FILA*@

                            <br />

                            <div class="row" style="margin-bottom:5px;">

                                @*<form class="card-body" style="padding-left:25px;padding-right:25px;">*@


                                    @*<div class="row" style="margin-bottom:10px;">*@

                                        <div class="col-xs-12 col-sm-12 col-md-3" style="text-align: left;">
                                            <div>
                                                <label style="text-align:left; width:60%">(B/S) Estructura de Inversión:</label>
                                            </div>
                                            <div>
                                                @*@Html.TextBox("nroExp", (string)"", new { @class = "campoTexto", @style = "width:30%" })*@
                                                <select id="cbxNroExpedienteOAFl" class="custom-select" style="width:65%;"> </select>
                                            </div>

                                        </div>

                                        <div class="col-xs-12 col-sm-12 col-md-3" style="text-align: left;">
                                            <div>
                                                <label style="text-align:left; width:50%">Objetivo Estratégico:</label>
                                            </div>
                                            <div>
                                                @*@Html.TextBox("nroExp", (string)"", new { @class = "campoTexto", @style = "width:30%" })*@
                                                <select id="cbxNroExpedienteOAFl" class="custom-select" style="width:65%;"> </select>
                                            </div>

                                        </div>

                                        <div class="col-xs-12 col-sm-12 col-md-3" style="text-align: left;">
                                            <div>
                                                <label style="text-align:left; width:40%">SubCategoría:</label>
                                            </div>
                                            <div>
                                                @*@Html.TextBox("nroExp", (string)"", new { @class = "campoTexto", @style = "width:30%" })*@
                                                <select id="cbxNroExpedienteOAFl" class="custom-select" style="width:65%;"> </select>
                                            </div>

                                        </div>

                                        <div class="col-xs-12 col-sm-12 col-md-3" style="text-align: left;">
                                            <div>
                                                <label style="text-align:left; width:60%">Componente de Bien/Servicios:</label>
                                            </div>
                                            <div>
                                                @*@Html.TextBox("nroExp", (string)"", new { @class = "campoTexto", @style = "width:30%" })*@
                                                <select id="cbxNroExpedienteOAFl" class="custom-select" style="width:65%;"> </select>
                                            </div>

                                        </div>


                                    @*</div>*@


                                    @*OTRA FILA*@
                                    <div class="row" style="margin-bottom:10px;">

                                        <div class="col-xs-12 col-md-6" style="text-align: left; margin-bottom:10px;">
                                            <label style="text-align: left;">Estrategia:</label>
                                            <textarea class="form-control" rows="1" placeholder="Texto ..." style="width:65%;"></textarea>
                                        </div>

                                        <div class="col-xs-12 col-md-6" style="text-align: left; margin-bottom:10px;">
                                            <label style="text-align: left;">Actividad:</label>
                                            <textarea class="form-control" rows="1" placeholder="Texto ..." style="width:65%;"></textarea>
                                        </div>

                                      

                                    </div>


                                    <div class="row" style="margin-bottom:10px;">

                                        <div class="col-xs-12 col-sm-12 col-md-3" style="text-align: left;">
                                            <div>
                                                <label style="text-align:left; width:60%">Unidad de Medida:</label>
                                            </div>
                                            <div>
                                                @*@Html.TextBox("nroExp", (string)"", new { @class = "campoTexto", @style = "width:30%" })*@
                                                <select id="cbxNroExpedienteOAFl" class="custom-select" style="width:65%;"> </select>
                                            </div>
                                        </div>


                                        <div class="col-xs-12 col-sm-12 col-md-3" style="text-align: left;">
                                            <div>
                                                <label style="text-align:left; width:50%">Año:</label>
                                            </div>
                                            <div>
                                                @*@Html.TextBox("nroExp", (string)"", new { @class = "campoTexto", @style = "width:30%" })*@
                                                <select id="cbxNroExpedienteOAFl" class="custom-select" style="width:65%;"> </select>
                                            </div>

                                        </div>

                                        <div class="col-xs-12 col-sm-12 col-md-3" style="text-align: left;">
                                            <div>
                                                <label style="text-align:left; width:50%">Mes:</label>
                                            </div>
                                            <div>
                                                @*@Html.TextBox("nroExp", (string)"", new { @class = "campoTexto", @style = "width:30%" })*@
                                                <select id="cbxNroExpedienteOAFl" class="custom-select" style="width:65%;"> </select>
                                            </div>

                                        </div>

                                        <div class="col-xs-12 col-sm-12 col-md-3" style="text-align: left;">
                                            <div>
                                                <label style="text-align:left; width:50%">Motivo de Actualización:</label>
                                            </div>
                                            <div>
                                                @*@Html.TextBox("nroExp", (string)"", new { @class = "campoTexto", @style = "width:30%" })*@
                                                <select id="cbxNroExpedienteOAFl" class="custom-select" style="width:65%;"> </select>
                                            </div>

                                        </div>


                                    </div>

                                    @*OTRA FILA*@
                                    <div class="row" style="margin-bottom:10px;">

                                        <div class="col-xs-12 col-md-6" style="text-align: left; margin-bottom:15px;">
                                            <label style="text-align: left;">Meta:</label>
                                            <textarea class="form-control" rows="1" placeholder="Texto ..." style="width:65%;"></textarea>
                                        </div>

                                        <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom:15px; margin-top:3px;">

                                            <button id="btn_nuevoSocio" class="btn btn-primary" style="width:30%; margin-right:2%; margin-top:15px; align-content:center">
                                                @*<i class="ace-icon fa fa-user-plus"></i>*@AGREGAR
                                            </button>
                                        </div>

                                    </div>

                                @*</form>*@


                            </div>

                        </div>

                        <div class="row">
                            <div class="cbp-mc-column">
                            </div>

                            <div class="cbp-mc-column">
                                <br />

                            </div>

                            <!-- columna  3 -->

                           
                        </div>

                    </div>
                </div>

                @*FIN DE ACORDEONES*@
            </div>


            <div class="col-xs-12">
                <br />
                <h2>Actividades Registradas</h2>
                <!-- inicio tabla-->
                <div class="table-responsive margen">
                    <table id="tab_opa" class="table table-bordered table-hover">
                        <thead>
                            <tr>

                                <th rowspan="2" style="background-color:darkseagreen; color:black;  width:2%" class="center">Nro</th>
                                <th rowspan="2"  width="7%" style="background-color:darkseagreen; color:black;" class="center">Bien/Servicio</th>
                                <th rowspan="2"  width="10%" style="background-color:darkseagreen; color:black;" class="center">Objetivo Estratégico</th>
                                <th rowspan="2"  width="10%" style="background-color:darkseagreen; color:black;" class="center">Estrategia</th>
                                <th rowspan="2"  width="10%" style="background-color:darkseagreen; color:black;" class="center">Actividad</th>
                                <th rowspan="2"  width="5%" style="background-color:darkseagreen; color:black;" class="center">Unidad Medida</th>
                                <th rowspan="2"  width="4%" style="background-color:darkseagreen; color:black;" class="center">Año</th>
                                <th rowspan="2"  width="4%" style="background-color:darkseagreen; color:black;" class="center">Mes</th>
                                <th rowspan="2"  width="7%" style="background-color:darkseagreen; color:black;" class="center">Meta</th>
                                <th colspan="2"  width="12%" style="background-color:darkseagreen; color:black;" class="center">Acciones</th>

                            </tr>

                            <tr>
                                <th class="text-center" style="background-color:darkseagreen; color:black; min-width:5%; max-width:5%">Modificar</th>
                                <th class="text-center" style="background-color:darkseagreen; color:black; min-width:5%; max-width:5%">Eliminar</th>
                            </tr>


                        </thead>

                        <tbody>
                            <tr>
                                <td class="center">Activo</td>
                                <td class="center">15/10/2019 </td>
                                <td style="text-align:center"> Robert Rayco </td>
                                <td class="center"> 05 </td>
                                <td class="center"> Bueno </td>
                                <td class="center"> User </td>
                                <td class="center"> 20/10/2019 </td>
                                <td class="center"> User </td>
                                <td class="center"> 20/10/2019 </td>
                                <td class="center">
                                    <a class="btn btn-warning" id="" href="#modificarModal" title="Modificar" data-toggle="modal">
                                        <i class="ace-icon fa fa-edit"></i>
                                    </a>
                                </td>
                                <td class="center">
                                    <a> &nbsp;</a>
                                    <a class="btn btn-danger" id="eliminarBtn" href="#eliminarModal" title="Eliminar" data-toggle="modal">
                                        <i class="ace-icon fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <br />
             
            </div>

        </div>


    </div>


</div>

  </div><!-- fin contenedor -->


<script type="text/javascript">
    $(document).ready(function () {
        $('#accordion2').hide();

        $('#btnSalvarPerfil').click(function () {
            $('#accordion2').show();

        })

    });
     
</script>
