
@{
    ViewBag.Title = "condicionesLocalesParaDesarrollo";
    Layout = "~/Views/Shared/_LayoutMenuOA.cshtml";
}

<head>
<title>condicionesLocalesParaDesarrollo</title>
</head>

        <div class="main-content">
    <!-- contenedor -->
    <div class="main-content-inner">
        <div class="main-container ace-save-state" id="main-container">

            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <span>Bienvenido  Sr: @Session["NombreUsua"]   </span>

                <!-- Inicio ruta -->
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="/Opa/"> </a>
                    </li>
                    <li><a href="/Opa/Index">OPA</a></li>
                    <li class="active"> <a href="condicionesLocalesParaDesarrollo">Condiciones Locales Para el Desarrollo del Plan de Negocio</a></li>
                </ul>
                <!-- Fin Ruta -->
            </div>

            <div class="page-content">
                <!-- contenido -->
                <!-- Inicio titulo -->
                @*<div class="page-header">  
                    <div class="col-md-12">
                        <h1> Condiciones Locales Para el Desarrollo del Plan de Negocio </h1>
                    </div>
                </div>*@
                <!-- Fin titulo -->
                <!-- inicio pasos-->
                <div class="col-md-12">
                    <!-- contenido de pasos -->
                    <div class="row" style="margin-bottom:25px;">
                        <br />
                        <button class="btn btn-success" id="btnRegistarCondLocal" style="display:none" title="Registrar">
                            <i class="ace-icon fa fa-pencil"></i> REGISTRAR
                        </button>

                        <button class="btn btn-warning" id="btnModificarCondLocal" style="display:none" title="Modificar">
                            <i class="ace-icon fa fa-pencil"></i> MODIFICAR
                        </button>

                        <button class="btn btn-info" id="btnGrabarCondLocal" style="display:none" title="Grabar">
                            <i class="ace-icon fa fa-pencil"></i> GRABAR
                        </button>

                        <button class="btn btn-danger" id="btnCancelarCondLocal" style="display:none" title="Cancelar">
                            <i class="ace-icon fa fa-undo"></i> CANCELAR
                        </button>
                        <button class="btn btn-success" id="btnRegresarCondLocal" style="display:none" title="Regresar">
                            <i class="ace-icon fa fa-undo"></i> Regresar
                        </button>
                    </div>

                    <br />
                    <div class="row" style="margin-bottom:25px;">
                        <div class="col-md-6" style="text-align:left;">
                            <label style="text-align:left;">Organización : </label>
                            @Html.TextBox("rucOA", (string)"", new { style = "display:none; width:60%; text-align:left;", Value = Session["RucOA"] })
                            @Html.TextBox("idCondLoc", (string)"", new { style = "display:none; width:60%; text-align:left;" })
                            @Html.TextBox("idCultivoCrianza", (string)"", new { style = "display:none; width:60%; text-align:left;" })
                            @Html.TextBox("idUsuario", (string)"", new { style = "display:none; width:60%; text-align:left;", Value = Session["IdUsua"] })
                            @Html.TextBox("razSocialOA", (string)"", new { style = "width:60%; text-align:left;", disabled = true })
                        </div>
                    </div>

                    <br />
                    <!--------- ACORDEON ------------>
                    <div id="accordion" style="border:1px solid;">
                        <div class="card">

                            <div class="card-header widget-header" id="headingOne" style="text-align:left;">
                                <h5 class="widget-title" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <a href="#" style="color:white; text-decoration:none;">
                                        <i class="ace-icon fa fa-file"></i>
                                        Condiciones Locales Para el Desarrollo del Plan de Negocio
                                    </a>
                                </h5>
                                <div class="widget-toolbar" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <a href="#" data-action="collapse" style="color:#fff;">
                                        <i class="ace-icon fa fa-chevron-down"></i>
                                    </a>
                                </div>
                            </div>


                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                @*<div class="card-body" style="padding-left: 12px; padding-right: 12px; margin-left: 24%; margin-right: 5%;">*@
								<div class="card-body" style="text-align:center;">
									<br />

									<div class="row" style="margin-bottom:20px;">
										<div class="col-xs-12 col-sm-6 col-md-12" style="text-align:left;">
											<div class="col-xs-12 col-sm-6 col-md-10">
												<label style="text-align:left">5.1. Si la organización espera instalar infraestructura o bienes de uso común, ¿cuenta con un terreno o local a su nombre?  </label>
											</div>
											<div class="col-xs-12 col-sm-6 col-md-6" style="margin-left:1.5%;">
												<select id="cbxCuentaConLocal" class="custom-select" style="width:50%;">
													<option value="0" selected>Seleccione</option>
													<option value="1">Si, pasar a la pregunta 5.2</option>
													<option value="2">No, pasar a la pregunte 5.4</option>
													<option value="3">En trámite</option>
													<option value="4">No Aplica, pasar a la pregunta 5.4</option>
												</select>
											</div>
										</div>
									</div>

									<div class="row" style="margin-bottom:20px;">
										<div class="col-xs-12 col-sm-6 col-md-12" style="text-align:left;">
											<div class="col-xs-12 col-sm-6 col-md-10">
												<label style="text-align:left;">5.2. Si la organización cuenta con el terreno o local a su nombre. ¿Qué documentos lo acreditan? </label>
											</div>
											<div class="col-xs-12 col-sm-6 col-md-6" style="margin-left:1.5%;">
												<select id="cbxDocAcreditacionFr" class="custom-select" style="width:50%;"> </select>
											</div>

											<div  class="col-xs-12 col-sm-12 col-md-10 inline-block" style="text-align:left; margin-bottom:5px; margin-left:1.5%">
												<label style="text-align:left;">Descripción del Documentos que lo acredita : </label>
												@Html.TextBox("DescDocAcreditacion", (string)"", new { style = "width:80%;", disabled = true })
											</div>
										</div>
									</div>


									<div class="row" style="margin-bottom:20px;">
										<div class="col-xs-12 col-sm-6 col-md-12" style="text-align:left;">
											<div class="col-xs-12 col-sm-6 col-md-10">
												<label style="text-align:left;">5.3. Servicios básicos que tiene el terreno donde se instalaría la infraestructura o equipamiento de uso común : </label>
											</div>

											<div class="table-responsive margen col-xs-12 col-sm-8 col-md-12" style="margin-bottom:5px;">
												<table id="tablaServiciosBasicosOA" class="table table-bordered table-hover" style="width:80%;">
													<thead>
														<tr>
															<th rowspan="1" style="display:none; background-color:darkseagreen; color:black; text-align:center; vertical-align:middle;">IdServBasicoOA</th>
															<th rowspan="1" style="display:none; background-color:darkseagreen; color:black; text-align:center; vertical-align:middle;">IdServicioBasico</th>
															<th rowspan="1" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; width:5%; max-width:5%">N°</th>
															<th rowspan="1" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:20%; width:20%; max-width:20%"> Servicios Básicos</th>
															<th rowspan="1" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:10%; width:10%; max-width:10%"> ¿Aplica?</th>
														</tr>
													</thead>
												</table>
											</div>

											<div class="col-xs-12 col-sm-12 col-md-12" style="text-align:left; margin-left:1.5%;">
												<label>Especificación de otros servicios : </label>
												@Html.TextBox("otrosServicios", (string)"", new { style = "width:50%;" })
											</div>
										</div>
									</div>


									<div class="row" style="margin-bottom:20px;">
										<div class="col-xs-12 col-sm-6 col-md-12" style="text-align:left;">
											<div class="col-xs-12 col-sm-6 col-md-10">
												<label style="text-align:left;">5.4. Vías de acceso en la zona de producción (parcelas) : </label>
											</div>

											<div class="table-responsive margen col-xs-12 col-sm-8 col-md-12" style="margin-bottom:5px;">
												<table id="tablaViasAccesoZonaProdOA" class="table table-bordered table-hover" style="width:80%;">
													<thead>
														<tr>
															<th rowspan="1" style="display:none; background-color:darkseagreen; color:black; text-align:center; vertical-align:middle;">idViasAccesoZonaProdOA</th>
															<th rowspan="1" style="display:none; background-color:darkseagreen; color:black; text-align:center; vertical-align:middle;">idTiposViasAcceso</th>
															<th rowspan="1" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; width:5%; max-width:5%">N°</th>
															<th rowspan="1" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:20%; width:20%; max-width:20%">Vías de acceso a la zona de producción</th>
															<th rowspan="1" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:10%; width:10%; max-width:10%">¿Aplica?</th>
														</tr>
													</thead>
												</table>
											</div>

											<div class="col-xs-12 col-sm-12 col-md-12" style="text-align:left; margin-left:1.5%;">
												<label>Especificación de otras vías de acceso : </label>
												@Html.TextBox("otrasViasAccesoZonaProd", (string)"", new { style = "width:50%;" })
											</div>
										</div>
									</div>


									<div class="row" style="margin-bottom:20px;">
										<div class="col-xs-12 col-sm-6 col-md-12" style="text-align:left;">
											<div class="col-xs-12 col-sm-6 col-md-10">
												<label style="text-align:left;">5.5. Vías de acceso a la planta procesamientos centro de acopio / módulo post cosecha u otro que se propone en el plan de negocio : </label>
											</div>
											<div class="table-responsive margen col-xs-12 col-sm-8 col-md-12" style="margin-bottom:5px;">
												<table id="tablaViasAccesoPlantaProcesoOA" class="table table-bordered table-hover" style="width:80%;">
													<thead>
														<tr>
															<th rowspan="1" style="display:none; background-color:darkseagreen; color:black; text-align:center; vertical-align:middle;">idViasAccesoPlantaProcOA</th>
															<th rowspan="1" style="display:none; background-color:darkseagreen; color:black; text-align:center; vertical-align:middle;">idTiposViasAcceso</th>
															<th rowspan="1" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; width:5%; max-width:5%">N°</th>
															<th rowspan="1" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:20%; width:20%; max-width:20%">Vías de acceso a planta de procesamiento u otros</th>
															<th rowspan="1" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:10%; width:10%; max-width:10%">¿Aplica?</th>
														</tr>
													</thead>
												</table>
											</div>
											<div class="col-xs-12 col-sm-12 col-md-12" style="text-align:left; margin-left:1.5%;">
												<label>Especificación de otras vías de acceso : </label>
												@Html.TextBox("otrasViasAccesoPlantaProc", (string)"", new { style = "width:50%;" })
											</div>
										</div>
									</div>


									<div class="row" style="margin-bottom:20px;">
										<div class="col-xs-12 col-sm-6 col-md-12" style="text-align:left;">
											<div class="col-xs-12 col-sm-6 col-md-10">
												<label style="text-align:left;">5.6. La organización tiene maquinaria o equipos operativos destinados a la producción o negocio : </label>
											</div>
											<div class="col-xs-12 col-sm-6 col-md-6" style="margin-left:1.5%">
												<select id="cbxCuentaConMaquinaria" class="custom-select" style="width:50%;">
													<option value="0" selected>Seleccione</option>
													<option value="1">Si</option>
													<option value="2">No</option>
												</select>
											</div>
											<div class="col-xs-12 col-sm-8 col-md-6" style="text-align:left; margin-left:1.5%;">
												<label style="width:50%">Precise cuales : </label>
												@Html.TextBox("precisarMaquinas", (string)"", new { style = "width:50%;", disabled = true })
											</div>
										</div>
									</div>

									<div class="row" style="margin-bottom:20px;">
										<div class="col-xs-12 col-sm-6 col-md-12" style="text-align:left;">
											<div class="col-xs-12 col-sm-6 col-md-10">
												<label style="text-align:left;">5.7. ¿Cuál es el tiempo estimado que les toma a los socios trasladar su producto desde sus parcelas hasta el centro de acopío, planta o punto de entrega? </label>
											</div>

											<div class="col-xs-12 col-sm-6 col-md-10" style="margin-left:1%; margin-bottom:2px;">
												<div class="col-xs-12 col-sm-6 col-md-3">
													<label style="text-align:left">
														a) Tiempo máximo (Productores más alejados) :
													</label>
												</div>
												<div class="col-xs-12 col-sm-6 col-md-2">
													@Html.TextBox("tiempoMaximo", (string)"", new { @placeholder = "0" })
												</div>
												<div class="col-xs-12 col-sm-6 col-md-1">
													<select id="cbxTipoUnidMedFr" class="custom-select" style="width:0.5%; display:none" , disabled> </select>
												</div>
												<div class="col-xs-12 col-sm-6 col-md-2" style="margin-left:-10%">
													<select id="cbxUnidMedidaFr" class="custom-select"> </select>
												</div>
											</div>

											<div class="col-xs-12 col-sm-6 col-md-10" style="margin-left:1%; margin-bottom:2px;">
												<div class="col-xs-12 col-sm-6 col-md-3">
													<label style="text-align:left">
														b) Tiempo mínimo (Productores más alejados) :
													</label>
												</div>
												<div class="col-xs-12 col-sm-6 col-md-2">
													@Html.TextBox("tiempoMinimo", (string)"", new {@placeholder = "0" })
												</div>
												<div class="col-xs-12 col-sm-6 col-md-1">
													<select id="cbxTipoUnidMedFr2" class="custom-select" style="width:0.5%; display:none" disabled> </select>
												</div>
												<div class="col-xs-12 col-sm-6 col-md-2" style="margin-left:-10%">
													<select id="cbxUnidMedidaFr2" class="custom-select"> </select>
												</div>
											</div>


											<div class="row" style="margin-bottom:20px;">
												<div class="col-xs-12 col-sm-6 col-md-12" style="text-align:left;">
													<div class="col-xs-12 col-sm-6 col-md-10">
														<label style="text-align:left;">
															5.8. Tipo de riego que utilizan :
														</label>
													</div>
													<div class="col-xs-12 col-sm-6 col-md-10">
														<div class="table-responsive margen col-xs-12 col-sm-8 col-md-12">
															<table id="tablaTipoRiegoOA" class="table table-bordered table-hover;" style="width:80%;">
																<thead>
																	<tr>
																		<th rowspan="1" style="display:none; background-color:darkseagreen; color:black; text-align:center; vertical-align:middle;">idTipoRiegoxOA</th>
																		<th rowspan="1" style="display:none; background-color:darkseagreen; color:black; text-align:center; vertical-align:middle;">idTipoRiego</th>
																		<th rowspan="1" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; width:5%; max-width:5%">N°</th>
																		<th rowspan="1" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:20%; width:20%; max-width:20%">Tipo de Riego</th>
																		<th rowspan="1" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:10%; width:10%; max-width:10%">¿Aplica?</th>
																	</tr>
																</thead>
															</table>
														</div>
													</div>
												</div>
											</div>

											<div class="col-xs-2 col-sm-2 col-md-2">
												&nbsp;&nbsp;&nbsp;
											</div>

										</div>
									</div>

								</div>


                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
        

<script type="text/javascript">
    $(document).ready(function () {

        controles_CondicionesLocOA();
        
    });
</script>
