@model SEL_Entidades.SEL_E.OA_MiembroJDirectiva_E
@{
    ViewBag.Title = "modificarMiembroJD";
    Layout = "~/Views/Shared/_LayoutMenuOA.cshtml";
}


<head>
    <title>Modificar Miembro de Junta Directiva</title>
</head>

<div class="main-content">
    <!-- contenedor -->

    <div class="main-container ace-save-state" id="main-container">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <span>Bienvenido  Sr: @Session["NombreUsua"]   </span>
                <!-- Fin Ruta -->
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="/Opa/"> </a>
                    </li>
                    <li><a href="/Opa/Index">OPA</a></li>
                    <li class="active"> <a href="verJuntaDirectiva">Junta Directiva de la Organización</a></li>
                    <li class="active"> <a href="modificarMiembroJD">Modificar Junta Directiva </a></li>
                </ul>

            </div><!-- Inicio ruta -->

            <div class="page-content">
                <!-- contenido -->

                <div class="page-header">
                    <!-- Inicio titulo -->

                    <div class="col-xs-12">
                        <h1> Modificar Miembro a la Junta Directiva de la Organización </h1>
                    </div>
                </div>       <!-- Fin titulo -->
                <!-- inicio pasos-->

                <div class="col-xs-12">
                    <!-- contenido de pasos -->
                    <div class="row" style="margin-bottom:25px;">
                        <br />
                        <a class="btn btn-warning" id="btnGrabarmiembroJD"  title="Modificar">
                            <i class="ace-icon fa fa-pencil"></i> Grabar
                        </a>

                        <a class="btn btn-success" id="btnCancelar" title="Cancelar">
                            <i class="ace-icon fa fa-undo"></i> CANCELAR
                        </a>
                    </div>

                    <br />


                    <!--------- ACORDEON ------------>
                    <div id="accordion" style="border:1px solid;">
                        <div class="card">

                            <div class="card-header widget-header" id="headingOne" style="text-align:left;">
                                <h5 class="widget-title" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <a href="#" style="color:white; text-decoration:none;">
                                        <i class="ace-icon fa fa-file"></i>
                                        Miembro de la Junta Directiva
                                    </a>
                                </h5>
                                <div class="widget-toolbar" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <a href="#" data-action="collapse" style="color:#fff;">
                                        <i class="ace-icon fa fa-chevron-down"></i>
                                    </a>
                                </div>
                            </div>


                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body" style="padding-left:12px;padding-right:12px;">
                                    <br />

                                    <div class="row" style="margin-bottom:25px;">

										<div class="col-xs-12 col-md-4" style="text-align:left;">
											<div>
												<label style="text-align:left;">¿Pertenece a la Organización?:</label>
											</div>
											<div>
												<select id="cbxPertencePN" class="custom-select">
													<option value="0">Seleccione</option>
													<option value="1">No pertenece a la organizacion.</option>
													<option value="2">Pertenece a la organizacion.</option>
												</select>
											</div>
											@Html.TextBox("idUsuarioRegistro", (string)"", new { @class = "campoTelefono", @maxlength = "9", style = "display:none; width:40%", Value = @Session["IdUsua"] })
										</div>
										 
                                        <div class="col-xs-12 col-md-4" style="text-align:left;">
                                            <div>
                                                <label style="text-align:left;"> DNI :  </label>
                                            </div>
                                            <div>
                                                @Html.TextBox("idUsuar", (string)"", new { @class = "campoTexto", style = "display:none; width:45%", enabled = "true", Value = Session["IdUsua"] })
                                                @Html.TextBox("rucOA", (string)"", new { @class = "campoTexto", style = "display:none; width:45%", enabled = "true", Value = Session["RucOA"] })
                                                @Html.TextBox("tipoOrganizac", (string)"", new { @class = "", style = "display:none; width:45%", enabled = "true", })
                                                @Html.TextBoxFor(model => model.idUsuarioModificacion, new { style = "display:none; width:30%", Value = Session["IdUsua"] })
                                                @Html.TextBoxFor(m => m.idJuntaDirectiva, new { @class = "campoNumero", style = "display:none; width:45%", enabled = "true" })
                                                @Html.TextBoxFor(m => m.idMiembroJDirectiva, new { @class = "campoNumero", style = "display:none; width:45%", enabled = "true" })
                                                @Html.TextBoxFor(m => m.idSocio, new { @class = "campoNumero", style = "display:none; width:35%", enabled = "true" })
                                                @Html.TextBoxFor(m => m.dniMiembroJD, new { @class = "campoNumero", @MaxLength = 8, style = "width:30%", enabled = "true" })

                                                <a class="btn btn-success" id="btnBuscarSocio"   title="Validar"> <i class="ace-icon fa fa-check-circle"></i>Buscar</a>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-md-4" style="text-align:left;">
                                            <div>
                                                <label style="text-align:left;"> Nombre :  </label>
                                            </div>
                                            <div>
                                                @Html.TextBoxFor(m=>m.nombMiembroJD, new { @class = "campoTexto", style = "width:68%", disabled = "true" })
                                            </div>
                                        </div>
										 
                                    </div>

                                    <div class="row" style="margin-bottom:25px;">
                                      

                                        <div class="col-xs-12 col-md-4" style="text-align:left;">
                                            <div>
                                                <label style="text-align: left;"> Teléfono :  </label>
                                            </div>
                                            <div> 
                                                @Html.TextBoxFor(m => m.telefonoMiembroJD, new { @class = "campoTelefono col-xs-12 col-sm-6 col-md*10", @maxlength = "9" })
                                                <p id="Atelefono" class="alerta" style="display:none; width:25%; font-family:'Gill Sans'; color:darkred">Solo digitos en este campo.</p>
                                            </div>
                                        </div>

										<div class="col-xs-12 col-md-4 " style="text-align:left;">
											<div>
												<label style="text-align:left;"> Correo Eléctronico :  </label>
											</div>
											<div>
												@Html.TextBoxFor(m => m.correoElectronicoMiembroJD, new { @class = "campoEmail", style = "width:56%" })
											</div>
										</div>
										 
                                        <div class="col-xs-12 col-md-4" style="text-align: left; ">
                                            <div>
                                                <label style="text-align:left;">Cargo :</label>
                                            </div>
                                            <div>
                                                @Html.TextBoxFor(m => m.idOACargo, new { @class = "campoNumero", style = "display:none; width:40%", disabled = true })
                                                <select id="cbxOACargoFr" class="custom-select" style="width:65%"></select>
                                            </div>
                                        </div>
										 
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        controles_cbxOA();
        controles_MiembroJD();
        
        var idMiembroJD = $('#idMiembroJDirectiva').val();
        console.log('idMiembroJD: ' + idMiembroJD)
        obtenerMiembroJD(idMiembroJD);

    });  
</script>
