@{
    ViewBag.Title = "participacionCadenaValor";
    Layout = "~/Views/Shared/_LayoutMenuOA.cshtml";
}
<head>
    <title>Participación de la Organización en la cadena de Valor (Situación Actual)</title>
</head>


<div class="main-content">
    <!-- contenedor -->
    <div class="main-content-inner">
        <div class="main-container ace-save-state" id="main-container">

            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <span>Bienvenido  Sr: @Session["NombreUsua"]   </span>
                <!-- Inicio Ruta -->
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="/Opa/"> </a>
                    </li>
                    <li><a href="/Opa/Index">OPA</a></li>
                    <li class="active"> <a href="">Participación de la Organización en la cadena de Valor</a></li>
                </ul>

            </div><!-- Fin ruta -->

            <div class="page-content">
                <!-- contenido -->

                <!-- Inicio titulo -->
                @*<div class="page-header"> 
                    <div class="col-xs-12 col-md-12">
                        <h1> Participación de la Organización en la cadena de Valor (Situación Actual) </h1>
                    </div>
                </div>*@       
                <!-- Fin titulo -->
                <!-- inicio pasos-->

                <div class="col-xs-12 col-md-12">
                    <!-- contenido de pasos -->

                    <div class="row" style="margin-bottom:25px;">
                        <br />
                        <button class="btn btn-success" id="btnRegistarPartCadVal" style ="display:none" title="Registrar">
                            <i class="ace-icon fa fa-pencil"></i> REGISTRAR
                        </button>

						<button class="btn btn-warning" id="btnModificarPartCadVal" style="display:none" title="Modificar">
							<i class="ace-icon fa fa-pencil"></i> MODIFICAR
						</button>

						<button class="btn btn-info" id="btnGrabarPartCadVal" style="display:none" title="Grabar">
							<i class="ace-icon fa fa-pencil"></i> GRABAR
						</button>

                        <button class="btn btn-danger" id="btnCancelarPartCadVal" style ="display:none" title="Cancelar">
                            <i class="ace-icon fa fa-undo"></i> CANCELAR
                        </button>
                        <button class="btn btn-success" id="btnRegresarPartCadVal" style="display:none" title="Regresar">
                            <i class="ace-icon fa fa-undo"></i> REGRESAR
                        </button>
                    </div>


                    <br />
                    <div class="row" style="margin-bottom:25px;">
                        <div class="col-xs-12 col-sm-12 col-md-12" style="text-align:left;">
                            <label style="text-align:left;">Organización : </label>
                        </div>
                            <div class="col-xs-12 col-sm-12 col-md-10" style="text-align:left;">
                                @Html.TextBox("rucOA", (string)"", new { style = "display:none; width:60%; text-align:left;", Value = Session["RucOA"] })
                                @Html.TextBox("idPartCadVal", (string)"", new { style = "display:none; width:60%; text-align:left;" })
                                @Html.TextBox("idCultivoCrianza", (string)"", new { style = "display:none; width:60%; text-align:left;" })
                                @Html.TextBox("idUsuario", (string)"", new { style = "display:none; width:60%; text-align:left;", Value = Session["IdUsua"] })
                                @Html.TextBox("razSocialOA", (string)"", new { @class = "col-xs-12 col-sm-12 col-md-12", style = "text-align:left;", disabled = true })
                            </div>
                    </div>
                     
                      
                    <!--------- ACORDEON ------------>
                    <div id="accordion" style="border:1px solid;">
                        <div class="card">

                            <div class="card-header widget-header" id="headingOne" style="text-align:left;">
                                <h5 class="widget-title" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <a href="#" style="color:white; text-decoration:none;">
                                        <i class="ace-icon fa fa-file"></i>
                                        Participación de la Organización en la cadena de Valor (Situación Actual)
                                    </a>
                                </h5>
                                <div class="widget-toolbar" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <a href="#" data-action="collapse" style="color:#fff;">
                                        <i class="ace-icon fa fa-chevron-down"></i>
                                    </a>
                                </div>
                            </div>


                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
								<div class="card-body" style="padding-left: 12px; padding-right: 12px;">
									<br />

									<div class="row" style="margin-bottom:15px;">
										<div class="col-xs-12 col-sm-6 col-md-12" style="text-align:left;">
											<div class="col-xs-12 col-sm-6 col-md-10">
												<label style="text-align:left">4.1. Ingresos del último año del Producto Priorizado para el plan de Negocio : </label>
											</div>
											<div class="col-xs-12 col-sm-6 col-md-10" style="margin-left:1%; margin-bottom:2px;">
												<div class="col-xs-12 col-sm-6 col-md-3">
													<label style="text-align:left">a. Volúmnes de venta actual : </label>
												</div>
												<div class="col-xs-12 col-sm-6 col-md-1">
													@Html.TextBox("volVentaActual", (string)"", new { @class = "campoMilesDeci col-xs-12 col-sm-12 col-md-12", @placeholder = "0.00", style = "margin-top:-2px;" })&nbsp;
												</div>
												@*<label class="col-xs-12 col-sm-6 col-md-2">unid. medida:</label>*@

												<div class="col-xs-12 col-sm-6 col-md-2">
													<select id="cbxTipoUnidMedFr" class="custom-select col-xs-12 col-sm-6 col-md-12"> </select>
												</div>
												<div class="col-xs-12 col-sm-6 col-md-2" style="text-align:left;">
													<select id="cbxUnidMedidaFr" class="custom-select col-xs-12 col-sm-6 col-md-12"> </select>
												</div>
												<p id="AvolVentaActual" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Solo valores numéricos en este campo.</p>
											</div>

											<div class="col-xs-12 col-sm-6 col-md-10" style="margin-left:1%; margin-bottom:2px;">
												<div class="col-xs-12 col-sm-6 col-md-3">
													<label style="text-align:left">b. Precio de Venta Unitario: S/.</label>
												</div>
												<div class="col-xs-12 col-sm-6 col-md-2">
													@Html.TextBox("precioVentaU", (string)"", new { @Class = "campoMilesDeci col-xs-12 col-sm-12 col-md-12", @placeholder = "0.00", style = "margin-top:-2px;" })&nbsp;
													<p id="AprecioVentaU" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Solo valores numéricos en este campo.</p>
												</div>
											</div>
											<div class="col-xs-12 col-sm-6 col-md-10" style="margin-left:1%; margin-bottom:2px;">
												<div class="col-xs-12 col-sm-6 col-md-3">
													<label style="text-align:left">c. Valor de ventas anuales: S/.</label>
												</div>
												<div class="col-xs-12 col-sm-6 col-md-2">
													@Html.TextBox("precioVentaAnu", (string)"", new { @Class = "campoMilesDeci col-xs-12 col-sm-6 col-md-12", @placeholder = "0.00", style = "margin-top:-2px;" })&nbsp;
												</div>
												<p id="AprecioVentaAnu" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Solo valores numéricos en este campo.</p>
											</div>
										</div>
									</div>

									<div class="row" style="margin-bottom:15px;">
										<div class="col-xs-12 col-sm-12 col-md-12" style="text-align:left;">
											<div class="col-xs-12 col-sm-12 col-md-12">
												<label style="text-align:left">4.2. Actualmente, ¿Quién(es) es(son) el cliente directo de la organización? </label>
											</div>
											<div class="col-xs-12 col-sm-12 col-md-12">
												<div class="table-responsive margen">
													<table id="tablaClienteOA" class="table table-bordered table-hover" style="width:95%;">
														<thead>
															<tr>
																<th rowspan="1" style="display:none; background-color:darkseagreen; color:black; text-align:center; vertical-align:middle;">IdCliente</th>
																<th rowspan="1" style="display:none; background-color:darkseagreen; color:black; text-align:center; vertical-align:middle;">IdTipoCliente</th>
																<th rowspan="1" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; width:5%; max-width:5%">N°</th>
																<th rowspan="1" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:15%; width:15%; max-width:15%"> Tipo de Cliente</th>
																<th rowspan="1" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:10%; width:10%; max-width:10%"> ¿Aplica?</th>
																<th rowspan="1" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:35%; width:30%; max-width:30%"> Descripción</th>
															</tr>
														</thead>

													</table>
												</div>
											</div>
										</div>
									</div>


									<div class="row" style="margin-bottom:15px;">
										<div class="col-xs-12 col-sm-6 col-md-8" style="text-align:left;">
											<div class="col-xs-12 col-sm-12 col-md-12">
												<label style="text-align:left;">
													4.3. ¿Hasta qué etapa de la cadena de valor participa la organización en el negocio que tiene en marca?
												</label>
											</div>
											<div class="col-xs-12 col-sm-6 col-md-12">
												<div class="table-responsive margen">
													<table id="tablaEstapaValorPart" class="table table-bordered table-hover" style="width:95%;">
														<thead>
															<tr>
																<th rowspan="1" style="display:none; background-color:darkseagreen; color:black; text-align:center; vertical-align:middle;">IdEtapaOA</th>
																<th rowspan="1" style="display:none; background-color:darkseagreen; color:black; text-align:center; vertical-align:middle;">IdEtapa</th>
																<th rowspan="1" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; width:5%; max-width:5%">N°</th>
																<th rowspan="1" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:25%; width:25%; max-width:25%"> Etapa</th>
																<th rowspan="1" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:10%; width:10%; max-width:10%"> ¿Aplica?</th>
															</tr>
														</thead>
													</table>
												</div>
											</div>
										</div>
									</div>

									<div class="row" style="margin-bottom:15px;">
										<div class="col-xs-12 col-sm-6 col-md-12" style="text-align:left;">
											<div class="col-xs-12 col-sm-6 col-md-10">
												<label style="text-align:left;"> 4.4. La Organización vende sus producción : </label>
											</div>

											<div class="col-xs-12 col-sm-6 col-md-10" style="margin-bottom:2px; margin-left:1%">
												<div class="col-xs-12 col-sm-6 col-md-3">
													<label style="text-align:left"> a) En forma conjunta : </label>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-3">
													<select id="cbxORGVendeProd" class="custom-select">
														<option value="0" selected>Seleccione</option>
														<option value="1">SI</option>
														<option value="2">NO</option>
													</select>
												</div>
											</div>

											<div class="col-xs-12 col-sm-6 col-md-10" style="margin-bottom:2px; margin-left:1%">
												<div class="col-xs-12 col-sm-6 col-md-3">
													<label style="text-align:left"> b) Cada socio en forma individual :</label>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-3">
													<select id="cbxSocioVendeProd" class="custom-select">
														<option value="0" selected>Seleccione</option>
														<option value="1">SI</option>
														<option value="2">NO</option>
													</select>
												</div>
											</div>

										</div>
									</div>


									<div class="row" style="margin-bottom:15px;">
										<div class="col-xs-12 col-sm-6 col-md-12" style="text-align:left;">
											<div class="col-xs-12 col-sm-6 col-md-10">
												<label style="text-align:left;">4.5. ¿En qué proporción? : </label>
											</div>

											<div class="col-xs-12 col-sm-6 col-md-12" style="margin-bottom:2px; margin-left:1%">
												<div class="col-xs-12 col-sm-6 col-md-1">
													<label style="text-align:left; width:10%"> a) </label>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-1">
													@Html.TextBox("enFormaConjunta", (string)"", new { @class = "col-xs-12 col-sm-6 col-md-12", placeHolder = "0.00", style = "margin-top:-2px;" })
												</div>
												<div class="col-xs-12 col-sm-12 col-md-2">
													<label style="text-align: left;"> % en forma conjunta. </label>
												</div>
											</div>

											<div class="col-xs-12 col-sm-6 col-md-12" style="margin-bottom:2px; margin-left:1%">
												<div class="col-xs-12 col-sm-6 col-md-1">
													<label style="text-align:left; width:10%"> b) </label>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-1">
													@Html.TextBox("enFormaIndividual", (string)"", new { @class = "col-xs-12 col-sm-6 col-md-12", placeHolder = "0.00", style = "margin-top:-2px;" })
												</div>
												<div class="col-xs-12 col-sm-12 col-md-2">
													<label style="text-align: left;"> % en forma individual. </label>
												</div>
											</div>
										</div>
									</div>


									<div class="row" style="margin-bottom:15px;">
										<div class="col-xs-12 col-sm-6 col-md-8" style="text-align:left;">
											<div class="col-xs-12 col-sm-6 col-md-12">
												<label style="text-align:left;">4.6. Actualmente. ¿En qué mercado(s) le vende a su cliente directo? : </label>
											</div>
											<div class="col-xs-12 col-sm-6 col-md-12">
												<table id="tablaMercadoCliente" class="table table-bordered table-hover" style="width:95%;">
													<thead>
														<tr>
															<th rowspan="1" style="display:none; background-color:darkseagreen; color:black; text-align:center; vertical-align:middle;">IdMercadoOA</th>
															<th rowspan="1" style="display:none; background-color:darkseagreen; color:black; text-align:center; vertical-align:middle;">IdMercado</th>
															<th rowspan="1" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; width:5%; max-width:5%" ">N°</th>
															<th rowspan="1" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle;  min-width:25%; width:25%; max-width:25%"> Mercado de Venta</th>
															<th rowspan="1" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle;  min-width:10%; width:10%; max-width:10%"> ¿Aplica?</th>
														</tr>
													</thead>

												</table>
											</div>
											</div>
										</div>

										<div class="row" style="margin-bottom:15px;">
											<div class="col-xs-12 col-sm-6 col-md-8" style="text-align:left;">
												<div class="col-xs-12 col-sm-6 col-md-12">
													<label style="text-align:left;">4.7. Califique del 0 a 3 el nivel de gravedad de los problemas que existen en las actividades donde participa la organización. </label>
													<label style="text-align:left; margin-left:3%; font-size:90%;"> * 0 = Sin Problemas.  |  1 = Problemas Leves.  |  2 = Problemas Moderados.  |  3 = Problemas Severos.   </label>

												</div>
												<div class="col-xs-12 col-sm-6 col-md-12">
													<table id="tablaGravedadProblema" class="table table-bordered table-hover" style="width:95%;">
														<thead>
															<tr>
																<th rowspan="1" style="display:none; background-color:darkseagreen; color:black; text-align:center; vertical-align:middle;">IdProblemaOA</th>
																<th rowspan="1" style="display:none; background-color:darkseagreen; color:black; text-align:center; vertical-align:middle;">IdProblema</th>
																<th rowspan="1" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; width:5%; max-width:5%">N°</th>
																<th rowspan="1" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:25%; width:25%; max-width:25%">Tipo de Problemas</td>
																<th rowspan="1" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:10%; width:10%; max-width:10%"> Calificación</td>
															</tr>
														</thead>
													</table>
												</div>
												</div>

											</div>


											<div class="row" style="margin-bottom:15px;">
												<div class="col-xs-12 col-sm-6 col-md-8" style="text-align:left;">
													<div class="col-xs-12 col-sm-6 col-md-12">
														<label style="text-align:left;">4.8. La organización financia sus actividades productivas : </label>
													</div>
													<div class="col-xs-12 col-sm-6 col-md-12">
														<table id="tablaTipoFinanciamiento" class="table table-bordered table-hover" style="width:95%;">
															<thead>
																<tr>
																	<th rowspan="1" style="display:none; background-color:darkseagreen; color:black; text-align:center; vertical-align:middle;">IdFianciamientoOA</th>
																	<th rowspan="1" style="display:none; background-color:darkseagreen; color:black; text-align:center; vertical-align:middle;">IdFinanciamiento</th>
																	<th rowspan="1" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; width:5%; max-width:5%">N°</th>
																	<th rowspan="1" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:25%; width:25%; max-width:25%"> Tipo de Financiamiento</th>
																	<th rowspan="1" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:10%; width:10%; max-width:10%"> ¿Aplica?</th>
																</tr>
															</thead>
														</table>
													</div>
													</div>
												</div>

											</div>
										</div>
                        </div>

                    </div>
                    <!--------- FIN ACORDEON ------------>

                </div>
            </div>
        </div>

    </div>
</div>


<script type="text/javascript">
	$(document).ready(function () {
		  
		controles_ParticipacionCadVal();
	}) 
</script>
