 
@{
    ViewBag.Title = "quienesSomos";
    Layout = "~/Views/Shared/_LayoutMenuOA.cshtml";
}

@*<head>
    <title>¿Quienes Sómos?</title>
</head>*@

<div class="main-content">
    <!-- contenedor -->

    <div class="main-container ace-save-state" id="main-container">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <span>Bienvenido  Sr: @Session["NombreUsua"]   </span>
                <!-- Fin Ruta -->
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="/OA/"> </a>
                    </li>
                    <li><a href="/OA/Index">OA</a></li>
                    <li class="active"><a href="/OA/quienesSomos">¿Quiénes Sómos?</a></li>
                </ul>

            </div><!-- Inicio ruta -->

            <div class="page-content">
                <!-- contenido -->

                <div class="page-header">
                    <!-- Inicio titulo -->

                    @*<div class="col-md-12">
                        <h1> ¿Quiénes Sómos? </h1>
                    </div>*@
                </div>       <!-- Fin titulo -->
                <!-- inicio pasos-->

                <div class="col-xs-12">
                    <!-- contenido de pasos -->
                    <div class="row" style="margin-bottom:25px;">
                        <br />
                        <button class="btn btn-success" id="btnRegistarQS" href="" style="display:none" title="Registrar">
                            <i class="ace-icon fa fa-pencil-square"></i> REGISTRAR
                        </button>
                         
                        <button class="btn btn-warning" id="btnModificarQS"  style="display:none" href="" title="Registrar">
                            <i class="ace-icon fa fa-edit"></i> MODIFICIAR
                        </button>

                        <button class="btn btn-info" id="btnGrabarQS"  style="display:none" href="" title="Grabar">
                            <i class="ace-icon fa fa-save"></i> GRABAR
                        </button>

                        <button class="btn btn-danger" id="btnCancelarQS" style="display:none" href="" title="Cancelar">
                            <i class="ace-icon fa fa-undo"></i> CANCELAR
                        </button>

                        <button id="btnSalirQS" class="btn btn-success" style="display:none" title="Cancelar">
                            <i class="ace-icon fa fa-undo"></i> Regresar
                        </button>

                    </div>
                     
                    <!--------- ACORDEON ------------>
                    <!---- datos del Datos de la Organización ----->

                    <div id="accordion" style="border:1px solid;">

                        <div class="card">

                            <div class="card-header widget-header" id="headingOne" style="text-align:left;">
                                <h5 class="widget-title" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <a href="#" style="color:white; text-decoration:none;">
                                        <i class="ace-icon fa fa-file"></i>
                                        ¿Quiénes Sómos?
                                    </a>
                                </h5>
                                <div class="widget-toolbar" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <a href="#" data-action="collapse" style="color:#fff;">
                                        <i class="ace-icon fa fa-chevron-down"></i>
                                    </a>
                                </div>
                            </div>


                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body" style="padding-left: 12px; padding-right: 12px;">
                                    <br />


                                    <!----------- INGRESO DE DATOS ---------->
                                  @*  style="margin-bottom:15px;"*@
                                        <div class="row" style="margin-bottom:1%;"> 

                                                <div class="col-xs-12 col-sm-12 col-md-5" style="text-align:left;">
                                                    <div>
                                                        <label>1.1. Nombre de la Organización :</label>
                                                    </div>
                                                    <div style="margin-left:4%;">
                                                            @Html.TextBox("idOA",(string)"", new { @class = "campoNumero", @maxlength = "8", style = "width:32%; display:none" })
                                                            @Html.TextBox("idOADatos",(string)"", new { @class = "campoNumero", style = "width:35%; display:none;", disabled = true })
                                                            @Html.TextBox("rucOA",(string)"", new { @class = "campoNumero", @maxlength = "11", style = "width:35%; display:none;", disabled = true, Value = @Session["RucOA"] })
                                                            @Html.TextBox("completado",(string)"", new { @class = "", style = "display : none", disabled = true })
                                                            @Html.TextBox("razSocialOA",(string)"", new { @class = "campoTexto col-xs-12 col-sm-6 col-md-8", disabled = true })
                                                            <p id="ArazSocial" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Solo valores numericos en este campo.</p>
                                                    </div>
                                                 </div>
                                             
                                                <div class="col-xs-12 col-sm-12 col-md-5" style="text-align:left;">
                                                    <div>
                                                        <label>1.2. Fecha de Inscripción en SUNAT : </label>
                                                    </div>
                                                    <div class="input-group date col-xs-12 col-sm-6 col-md-8"" style="width: 40%;  margin-left:4%;">
                                                        @Html.TextBox("FecInscSunarp", (string)"", new { @class = "datetimepicker col-xs-12 col-sm-12 col-md-12", disabled = true })
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar" style="text-align:left;"></span>
                                                        </span>
                                                    </div>
                                                </div> 
                                        </div>

                                    @*</div>*@
                                       
                                    <!-------- ubigeo -------->
                                    <div class="row" style="margin-bottom:5px;"> 
                                        <div class="col-xs-12 col-sm-12 col-md-4" style="text-align:left;">
                                            <div>
                                                <label style="text-align:left">1.3. Lugar donde se desarrolla el plan de Negocio: </label>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-4" style="text-align:left;">
                                            <div>
                                               &nbsp;&nbsp;&nbsp;&nbsp;
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-4" style="text-align:left;">
                                            <div>
                                                &nbsp;&nbsp;&nbsp;&nbsp;
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" style="margin-bottom:5px; margin-left:1%;">
                                         
                                        <div class="col-xs-12 col-sm-12 col-md-3" style="text-align: left;">
                                            <div>
                                                <label> Departamento : </label>
                                            </div>
                                            <div>
                                                @Html.TextBox("departamento", (string)"", new { @class = "campoTexto col-xs-12 col-sm-6 col-md-8", disabled = true })
                                            </div>
                                        </div> 

                                            <div class="col-xs-12 col-sm-12 col-md-3" style="text-align: left; ">
                                                <div>
                                                    <label> Provincia :  </label>
                                                </div>
                                                <div>
                                                    @Html.TextBox("provincia", (string)"", new { @class = "campoTexto col-xs-12 col-sm-6 col-md-8", disabled = true })
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-sm-12 col-md-3" style="text-align: left;">
                                                <div>
                                                    <label> Distrito :  </label>
                                                </div>
                                                <div>
                                                    @Html.TextBox("distrito", (string)"", new { @class = "campoTexto col-xs-12 col-sm-6 col-md-8", disabled = true })
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-sm-12 col-md-3" style="text-align: left;">
                                                <div>
                                                    <label> Dirección : </label>
                                                </div>
                                                <div>
                                                    @Html.TextBox("direccionUbigeo", (string)"", new {@class= "campoTexto col-xs-12 col-sm-6 col-md-8", disabled = true })
                                                </div>
                                            </div> 

                                         

                                        </div> 


                                        <div class="row" style="margin-bottom:5px; margin-left:1%"> 
                                          
                                            <div class="col-xs-12 col-sm-12 col-md-3" style="text-align: left;">
                                                <div>
                                                    <label style="text-align:left;"> Centro Poblado : </label>
                                                </div>
                                                <div>
                                                    @Html.TextBox("direccionCentroPoblado",(string)"", new {@class="col-xs-12 col-sm-6 col-md-8", disabled = true })
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-sm-12 col-md-3" style="text-align: left;">
                                                <div>
                                                    <label style="text-align: left;">Tipo Ambito : </label>
                                                </div>
                                                <div>
                                                    @Html.TextBox("idZonaIntervencion", (string)"", new { @class = "campoGenerico", @maxlength = "250", style = "width:65%; display:none"  })
                                                    @Html.TextBox("descripAmbito",(string)"", new { @class = "campoGenerico col-xs-12 col-sm-6 col-md-8", @maxlength = "250",  disabled = true })
                                                </div>
                                            </div>
                                         
                                            <div class="col-xs-12 col-sm-12 col-md-3" style="text-align: left;">
                                                <div>
                                                    <label style="text-align: left;">Valor de Quintil : </label>
                                                </div>
                                                <div>
                                                    @Html.TextBox("valorQuintilPobreza", (string)"", new { @class = "campoTexto col-xs-12 col-sm-6 col-md-8", @maxlength = "250", disabled = true })
                                                </div>
                                            </div>


                                            <div class="col-xs-12 col-md-3" style="text-align: left;">
                                                <div>
                                                    <label style="text-align: left;"> Nivel de Quintil Pobreza:  </label>
                                                </div>
                                                <div>
                                                    @Html.TextBox("nivelQuintil", (string)"", new { @class = "campoTexto col-xs-12 col-sm-6 col-md-8", @maxlength = "250", disabled = true })
                                                </div>
                                            </div>
                                             
                                        </div>
                                



                                        <div class="row" style="margin-bottom:15px; margin-left:1%"> 

                                            <div class="col-xs-12 col-sm-12 col-md-3" style="text-align: left;">
                                                <div>
                                                    <label style="text-align: left;">Altitud por Distrito: </label>
                                                </div>
                                                <div>
                                                    @Html.TextBox("altitud", (string)"", new { @class = "campoGenerico col-xs-12 col-sm-6 col-md-8", @maxlength = "250",  disabled = true})
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-sm-12 col-md-3" style="text-align:left; margin-bottom:5px;">
                                                <div>
                                                    <label style="text-align: left;"> Área Geográfica :  </label>
                                                </div>
                                                <div>
                                                     @Html.TextBox("areaGeogFr", (string)"", new { @Class = "CampoTexto col-xs-12 col-sm-6 col-md-8", disabled = true })
                                                </div>
                                            </div>
                                         
                                        </div>

                                      
                                    <!-------- SOBRE LOS SOCIOS --------->
                                    
                                   
                                    <div class="row" style="margin-bottom:1%"> 

                                        <div class="col-xs-12 col-sm-12 col-md-5" style="text-align:left;">
                                            <div>
                                                <label>1.4. Experiencia promedio de los socios en actividades agropecuarios : </label>
                                            </div>
                                            <div style="margin-left:4%; margin-bottom:2%;">
                                                @Html.TextBox("ExperPromedioSocio", (string)"", new { @class = "campoDecimal col-xs-12 col-sm-6 col-md-3", @PlaceHolder="0", @MaxLength = 2, disabled=true })
                                                &nbsp;
												<label>
													años. &nbsp; 
												</label> 
                                            </div>
											<div style="margin-left:4%"> 
												<p id="AExperienciaPromedioSocio" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Solo valores numericos en este campo.</p>
												<p id="avisoExp" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">En caso no existir valor complete con "0" este campo.</p>
											</div>
											
                                        </div>  

                                        <div class="col-xs-12 col-sm-12 col-md-5" style="text-align:left;" >
                                            <div>
                                                <label>1.5. Número total de socios activos : </label>
                                            </div>
                                            <div style="margin-left:4%"> 
                                                &nbsp;
                                                <label>socios. </label>
												@Html.TextBox("productoresTotalParticipan", (string)"", new { @class = "campoMilesDeci col-xs-12 col-sm-6 col-md-3", @PlaceHolder = "0", disabled = true })
                                                <p id="ANrototalSociosOA" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Solo valores numericos en este campo.</p> 
                                            </div>
                                        </div>  
                                         
                                    </div>

                                     
                                     
                                    <div class="row" style="margin-bottom:1%"> 

                                        <div class="col-xs-12 col-sm-12 col-md-5" style="text-align:left;">
                                            <div>
                                                <label>1.6. Área Total que poseen todos los socios activos : </label>
                                            </div>
                                            <div style="margin-left:4%">
                                                @Html.TextBox("haTotales", (string)"", new { @class = "campoDecimal col-xs-12 col-sm-6 col-md-3", @MaxLength = "15",  disabled = true })
                                                &nbsp;
                                                <label>hectáreas. </label>
                                                <p id="AhaTotales" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Solo valores numericos en este campo.</p>
                                            </div>
                                        </div>  
                                        
                                        
                                        <div class="col-xs-12 col-sm-12 col-md-5" style="text-align: left;">
                                            <div>
                                                <label> 1.7. Ingreso promedio por socio que participará en el Plan de Negocio(último año): </label>
                                            </div>
                                            <div style="margin-left:4%; margin-bottom:2%;">
                                                @Html.TextBox("ingresoPromedioSocioUannio",(string)"", new {@Class= "campoMilesDeci col-xs-12 col-sm-6 col-md-3", @MaxLength = "15",  AutoComplete = "off", disabled=true })
                                                &nbsp;
                                                <label style="text-align:left">soles. </label> 
                                            </div>

											<div style="margin-left:4%">
												<p id="avisoIngProm" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">En caso no existir valor complete con "0" este campo.</p>
												<p id="AingresoPromedioSocioUannio" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Solo valores numericos en este campo.</p> 
											</div>
                                        </div>    
                                          
                                        @Html.TextBox("idUsuar", (string)"", new { @Class = "",  style = "display:none; width:30%", Values = @Session["IdUsuar"] })
                                          
                                    </div>

                                    <br />
                                    <br />
                                </div> 
                            </div>
                        </div>
                        </div>
                     
                    <br />
                    @*<div class="row" style="margin-bottom:25px;">
                        <br />
                        <a class="btn btn-success" id="" href="" title="Registrar">
                            <i class="ace-icon fa fa-pencil"></i> REGISTRAR
                        </a>

                        <a class="btn btn-success" id="" href="" title="Cancelar">
                            <i class="ace-icon fa fa-undo"></i> CANCELAR
                        </a>

                    </div>*@


                                </div>

                            </div>
                        </div>
                    </div>
                </div>


<script type="text/javascript"> 
    $(document).ready(function () {
       
        controles_Fmt2_QS();
        
         
    }); 
</script>