@model SEL_Entidades.Seguridad_E.Aplicacion_E
@{
    ViewBag.Title = "aplicaciones";
    Layout = "~/Views/Shared/_LayoutMenuASist.cshtml";
}


<head>
    <title>APLICACIONES DE PCC </title>
</head>

<div class="main-content">
    <!-- contenedor -->

    <div class="main-content-inner">

        <div class="main-container ace-save-state" id="main-container">

            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <span>Bienvenido  Sr: @Session["NombreUsua"]   </span>
                <!-- Inicio Ruta -->

                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="/Home/Modulos/">Modulos</a>
                    </li>
                    <li><a href="/UASistemas/Index">U. Sitesmas</a></li>
                    <li class="active"> <a href="/UASistemas/aplicaciones">Aplicaciones de PCC</a></li>
                </ul>
            </div><!-- Fin ruta -->

            <div class="page-content">
                <!-- contenido -->

                <div class="page-header">
                    <!-- Inicio titulo -->
                    <div class="col-md-12">
                        <h1>APLICACIONES DE PCC  </h1>
                    </div>
                </div>                  <!-- Fin titulo -->
                <!-- inicio pasos-->
                <div class="col-xs-12">
                    <!-- contenido de pasos -->
                  

                    <div class="col-xs-12 col-md-12">

                        <br>
                        <div align="right" class="row">

                            <button type="button" class="btn btn-primary" style="width:10%; margin-right:2%;" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();">
                                <i class="glyphicon glyphicon-plus"></i> Nuevo
                            </button><br />
                        </div>

                        <div id="div-tabla" class="table-responsive margen">

                            <table id="tablaAplicaciones"class="table table-bordered table-hover table-striped" style="width:100%">

                                <thead>
                                    <tr>
                                        <th rowspan="2" style="Display:none; background-color:darkseagreen; color:black; text-align:center; vertical-align:middle;">Id</th>
										<th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; max-width:5%">Nro.</th>
                                        <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; max-width:5%">Aplicación</th>
                                        <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; max-width:5%">Siglas</th> 
                                        @*<th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; max-width:5%">Orden</th>*@
                                        <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; max-width:5%">Activo</th>
                                        @*<th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; max-width:5%">Registrado Por</th>*@
                                        <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; max-width:5%">Fecha Registro</th>
                                        @*<th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; max-width:5%">Modificado Por</th>*@
                                        <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; max-width:5%">Fecha de Modificación</th>
                                        <th colspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle;">Acción</th>
                                    </tr>

                                    <tr>
                                        <th class="text-center" style="background-color:darkseagreen; color:black; min-width:5%; max-width:5%">Modificar</th>
                                        <th class="text-center" style="background-color:darkseagreen; color:black; min-width:5%; max-width:5%">Eliminar</th>
                                    </tr>
                                </thead>

                                <tbody id="tbodyApli" class="tbodyApli"></tbody>

                            </table>

                        </div>
                    </div>

                    @*fade*@
                    <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="overflow-y: auto;">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header alert-success alert-dismissible">
                                    <button type="button" class="close" data-dismiss="modal"></button>
                                    <h4 class="modal-title" id="myModalLabel"> Aplicación de PCC</h4>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        @using (Html.BeginForm())
                                        { 
                                            <div class="form-inline col-xs-12 col-md-12">
                                                <label style="text-align: left; margin-bottom:5%; width:30%;">Aplicacion :</label> 
                                                @Html.TextBoxFor(model => model.IdAplicacion, new { @class = "campoNumero", @maxlength = "100", style = "display:none; width:31%", disabled = "disabled" })
                                                @Html.TextBox("idUsuario", (string)"", new { @class = "campoNumero", @maxlength = "10", style = "display:none; width:25%", Value = @Session["IdUsua"] })
                                                @Html.TextBoxFor(model => model.NombreAplicacion, new { HtmlAttributes = new { @class = "campoTexto", @maxlength = "10", style = "width:85%" } })
                                            </div>

                                            <div class="form-inline col-xs-12 col-md-12">
                                                <label style="text-align: left; margin-bottom:5%; width:30%;">Siglas :</label>
                                                @Html.TextBoxFor(model => model.Siglas, new { HtmlAttributes = new { @class = "campoTexto", @maxlength = "10", style = "width:85%" } })
                                            </div>
                                                
                                        }
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" id="btnSalvarAplicacion">Salvar</button>
                                    <button type="button" class="btn btn-primary" id="btnModificarAplicacion" style="display:none;">Modificar</button>
                                    <button type="button" class="btn btn-danger"  id="btnCerrarFormulario" data-dismiss="modal">Cerrar </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>


</div>

 <script>
     $(document).ready(function () {
         listarAplicaciones();
         controles_Aplicaciones();
     }); 
 </script>



