@model SEL_Entidades.Seguridad_E.AplicacionModulo_E

@{
    ViewBag.Title = "ModulodeAplicacion";
    Layout = "~/Views/Shared/_LayoutMenuASist.cshtml";
}

<h2></h2>


<head>
    <title>Modulos de Aplicación</title>
</head>

<div class="main-content">
    <!-- contenedor -->

    <div class="main-content-inner">

        <div class="main-container ace-save-state" id="main-container">

            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <span>Bienvenido  Sr: @Session["NombreUsua"]   </span>
                <!-- Inicio Ruta -->

                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="/Home/Modulos/">Modulos</a>
                    </li>
                    <li><a href="/UASistemas/Index">U. Sistemas</a></li>
                    <li class="active"> <a href="/UASistemas/ModulodeAplicacion">Modulos por Aplicación</a></li>
                </ul>
            </div><!-- Fin ruta -->

            <div class="page-content">
                <!-- contenido -->

                <div class="page-header">
                    <!-- Inicio titulo -->
                    <div class="col-md-12">
                        <h1> MODULOS DE APLICACIÓN  </h1>
                    </div>
                </div>                  <!-- Fin titulo -->
                <!-- inicio pasos-->
                <div class="col-xs-12">
                    <!-- contenido de pasos -->
                    <div id="accordion" style="border:1px solid;">
                        <div class="card">

                            <div class="widget-header card-header" id="headingOne" style="text-align:left;">
                                <h5 class="widget-title" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <a href="#" style="color:white; text-decoration:none;">
                                        <i class="ace-icon fa fa-file"></i>
                                        Criterios de Búsqueda
                                    </a>
                                </h5>
                                <div class="widget-toolbar" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <a href="#" data-action="collapse" style="color:#fff;">
                                        <i class="ace-icon fa fa-chevron-down"></i>
                                    </a>
                                </div>
                            </div>


                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body" style="padding-left:12px;padding-right:12px;">
                                    <br />

                                    <div class="row" style="margin-bottom:10px;">

                                        <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom: 5px;">
                                            <div>
                                                <label style="text-align:left;">Aplicación :</label>
                                            </div>
                                            <div>
                                                <select id="cbxAplicacionFl" class="custom-select" style="width:65%;"> </select>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom: 5px;">
                                            <div>
                                                <label style="text-align:left;">Módulo :</label>
                                            </div>
                                            <div>
                                                @Html.TextBox("nombModulo", (string)"", new {@class="campoTexto", style="width:100%" })
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom: 5px;">
                                            <div>
                                                &nbsp; &nbsp;
                                            </div>
                                            <div>
                                                &nbsp; &nbsp;
                                            </div>
                                        </div>
                                         

                                        <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom: 5px;">
                                            <div>
                                                &nbsp; &nbsp;
                                            </div>
                                            <div>
                                                <button id="btnConsultar" class="btn btn-success" style="margin-bottom:25px"><i class="ace-icon fa fa-search"></i>Consultar</button>
                                                <button id="btnLimpiarFiltro" class="btn btn-success" style="margin-bottom:25px"><i class="ace-icon fa fa-eraser"></i>Limpiar</button>
                                            </div>
                                        </div>
                                         
                                    </div>
                                  


                                </div><!-- fin contenido-->
                            </div>
                        </div>
                    </div>


                    <div class="col-xs-12 col-md-12">

                        <br>
                        <div align="right" class="row">

                            <button id="btnNuevo" type="button" class="btn btn-primary" style="width:10%; margin-right:2%;" >
                                <i class="glyphicon glyphicon-plus"></i> Nuevo
                            </button><br />
                        </div>

                        @*<div id="div-tabla" class="table table-bordered table-hover table-striped" style="width:100%">*@
                        <div id="div-tabla" class="table-responsive margen">
                            <table id="tablaModulos" class="table table-bordered table-hover table-striped">

                                <thead>
                                    <tr>
                                        <th rowspan="2" style="display:none; background-color:darkseagreen; color:black; text-align:center; vertical-align:middle;">Id</th>
										<th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; max-width:5%">Nro.</th>
                                        <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; max-width:5%">Aplicación </th>
                                        <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; max-width:5%">Modulo</th>
                                        <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; max-width:5%">Activo</th>
                                        @*<th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; max-width:5%">Registrado Por</th>*@
                                        <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; max-width:5%">Fecha Registro</th>
                                        @*<th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; max-width:5%">Modificado Por</th>*@
                                        <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; max-width:5%">Fecha de Modificacion</th>
                                        <th colspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; max-width:5%">Acción</th>
                                    </tr>

                                    <tr>
                                        <th class="text-center" style="background-color:darkseagreen; color:black; min-width:5%; max-width:5%">Modificar</th>
                                        <th class="text-center" style="background-color:darkseagreen; color:black; min-width:5%; max-width:5%">Eliminar</th>
                                    </tr>
                                </thead>

                                <tbody id="tbodyAM" class="tbodyAM"></tbody>

                            </table>

                        </div>
                    </div>


                    <div class="modal" id="frmAplicaModulo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"  style="overflow-y: auto;">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header alert-success alert-dismissible">
                                    <button id="btnClose" type="button" class="close" data-dismiss="modal"></button>
                                    <h4 class="modal-title" id="myModalLabel"> Modulo por Aplicación </h4>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        @using (Html.BeginForm())
                                        {

                                            <div class="row" style="margin-bottom:10px;">
                                                <div id="idAplicacionModulo" class="col-xs-12 col-md-12" style="text-align:left; display:none;">
                                                    <label style="text-align: left;">ID :</label>
                                                    @Html.TextBoxFor(model => model.IdAplicacionModulo, new { @class = "campoNumero", @maxlength = "100", style = "width:31%", disabled = "disabled" })
                                                </div>
                                              
                                            </div>
                                             
                                                <div class="row" style="margin-bottom:10px;">
                                                    <div class="col-xs-12 col-md-12" style="text-align:left;">
                                                        <label style="text-align: left; margin-bottom:5%; width:30%;">Aplicación : </label>
                                                        <select id="cbxAplicacionFr" class="custom-select" style="width:65%;"> </select>
                                                    </div>
                                                </div>
                                             

                                            <div class="row" style="margin-bottom:10px;">
                                                <div class="col-xs-12 col-md-12" style="text-align:left;">
                                                    <label style="text-align: left; margin-bottom:5%; width:30%;">Modulo :</label>
                                                    @Html.TextBoxFor(model => model.NombreModulo, new { @class = "campoTexto ", @maxlenght = "8", style = "width:65%;" })
                                                    <p id="ANombreModulo" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Solo digitos en este campo.</p>
                                                </div>
                                            </div>


                                           @*<div class="row" style="margin-bottom:10px; display:none;">
                                                <div class="col-xs-12 col-md-12" style="text-align:left;">
                                                    <label style="text-align: left; margin-bottom:5%; width:30%;">Orden Modulo : </label>
                                                    @Html.TextBoxFor(model => model.OrdenModulo, new { @class = "campoNumero", style = "width:45%" , disabled = "disabled" })
                                                    <p id="AOrdenModulo" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Solo texto en este campo.</p>
                                                </div>
                                            </div>*@

                                                <div class="row" style="margin-bottom:10px;">
                                                    <div id="AActivo" class="col-xs-12 col-md-12" style="text-align:left;">
                                                        <label style="text-align: left; margin-bottom:5%; width:30%;">ACTIVO :</label>
                                                        @Html.TextBox("EActivo", (string)"SI", new { @class = "campoTexto", style = "width:45%", disabled = "disabled", })
                                                    </div>

                                                    <div id="UActivo" class="col-xs-12 col-md-12" style="text-align:left; display:none;">
                                                        <label style="text-align: left; margin-bottom:5%; width:30%;">ACTIVO :</label>
                                                        @Html.TextBoxFor(model => model.Activo, new { @class = "campoTexto", style = "width:45%", disabled = "disabled", })
                                                    </div>

                                                </div>



                                                <div class="col-xs-12 col-md-12" hidden="hidden" style="text-align:left; margin-bottom:5%;">
                                                    <label style="text-align: left;">Responsable :</label> 
                                                    @Html.TextBoxFor(m => m.IdUsuarioRegistro, new { @class = "campoNumero", @maxlength = "10", style = "width:25%", Value = @Session["IdUsua"] })
                                                </div>

                                                <div class="col-xs-12 col-md-12" hidden="hidden" style="text-align:left; margin-bottom:5%;">
                                                    <label style="text-align: left;">Responsable :</label> 
                                                    @Html.TextBoxFor(m => m.IdUsuarioModificacion, new { @class = "campoNumero", @maxlength = "10", style = "width:25%", Value = @Session["IdUsua"] })
                                                </div>
                                                } 
                                </form>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" id="btnAgregar">Salvar</button>
                                        <button type="button" class="btn btn-primary" id="btnModificar" style="display:none;">Modificar</button>
                                        <button type="button" class="btn btn-danger"  id="btnCerrarFormulario" data-dismiss="modal">Cerrar </button>
                                    </div>
                                </div>



                            </div>
                        </div>


                    </div>

                </div>
            </div>

        </div>
    </div>


</div>

<script>

    $(document).ready(function(){
        controles_Modulo();
        listarModulos();
    
    }); 


</script>
