@model SEL_Entidades.RRHH_E.Trabajador_E
@{
    ViewBag.Title = "modficarEstadoAsignado_Mant";
    Layout = "~/Views/Shared/_LayoutMenuUp.cshtml";
}


<head>
    <title>TRABAJADORES</title>
</head>

<div class="main-content">
    <!-- contenedor -->

    <div class="main-content-inner">

        <div class="main-container ace-save-state" id="main-container">

            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <span>Bienvenido  Sr: @Session["NombreUsua"]   </span>
                <!-- Inicio Ruta -->

                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="/Home/Modulos/">Modulos</a>
                    </li>
                    <li><a href="/UAdministracion/Index">U.Administración</a></li>
                    <li class="active"> <a href="/UAdministracion/Trabajador">Trabajador</a></li>
                </ul>
            </div><!-- Fin ruta -->

            <div class="page-content">
                <!-- contenido -->

                <div class="page-header">
                    <!-- Inicio titulo -->
                    <div class="col-md-12">
                        <h1> TRABAJADORES  </h1>
                    </div>
                </div>                  <!-- Fin titulo -->
                <!-- inicio pasos-->
                <div class="col-xs-12">
                    <!-- contenido de pasos -->
                    <div id="accordion" style="border:1px solid;">
                        <div class="card">

                            <div class="widget-header card-header" id="headingOne" style="text-align:left;">
                                <h5 class="widget-title" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <a href="#" style="color:white; text-decoration:none;">
                                        <i class="ace-icon fa fa-file"></i>
                                        Criterios de Búsqueda
                                    </a>
                                </h5>
                                <div class="widget-toolbar" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <a href="#" data-action="collapse" style="color:#fff;">
                                        <i class="ace-icon fa fa-chevron-down"></i>
                                    </a>
                                </div>
                            </div>


                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body" style="padding-left:12px;padding-right:12px;">
                                    <br />

                                    <div class="row" style="margin-bottom:10px;">

                                        <div class="col-xs-12 col-sm-12 col-md-4" style="text-align: left; margin-bottom: 5px;">
                                            <div>
                                                <label style="text-align:left;">Nro. Documento :</label>
                                            </div>
                                            <div>
                                                @Html.TextBox("nroDocF", (string)"", new { @class = "campoNumero", style = "width:50%" })
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-sm-12 col-md-4" style="text-align: left; margin-bottom: 5px;">
                                            <div>
                                                <label style="text-align:left;">Trabajador :</label>
                                            </div>
                                            <div>
                                                @Html.TextBox("trabajador", (string)"", new { @class = "campoTexto", style = "width:90%" })
                                            </div>
                                        </div>


                                        <div class="col-xs-12 col-sm-12 col-md-4" style="text-align: left; margin-bottom: 5px;">
                                            <div>
                                                &nbsp;
                                            </div>
                                            <div>
                                                <button id="btnConsultarTrab" class="btn btn-success" style="margin-bottom:25px"><i class="ace-icon fa fa-search"></i>Consultar</button>
                                                <button id="btnLimpiarFiltrotrab" class="btn btn-success" style="margin-bottom:25px"><i class="ace-icon fa fa-eraser"></i>Limpiar</button>
                                            </div>

                                        </div>

                                    </div>



                                    <div class="row">
                                        <div class="cbp-mc-column">

                                            <br />


                                        </div>

                                        <div class="cbp-mc-column">
                                            <br />

                                        </div>

                                        <div class="cbp-mc-column">
                                            <br />

                                        </div>

                                        <!-- columna  3 -->


                                    </div>


                                </div><!-- fin contenido-->
                            </div>
                        </div>
                    </div>


                    <div class="col-xs-12 col-md-12">

                        <br>
                        <div align="right" class="row">

                            <button id="btn_nuevo" type="button" class="btn btn-primary" style="width:10%; margin-right:2%;" data-toggle="modal" data-target="#myModal">
                                <i class="glyphicon glyphicon-plus"></i> Nuevo
                            </button><br />
                        </div>

                        <div id="div-tabla" class="table-responsive margen">
                            <table id="tablaTrabajador" class="table table-striped table-bordered table-hover" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th rowspan="2" style="display:none; background-color:darkseagreen; color:black; text-align:center; vertical-align:middle;">Id</th>
                                        <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; max-width:5%">Nro.</th>
                                        <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; max-width:5%">Nro. DNI </th>
                                        <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; max-width:5%">Nombre Completo</th>
                                        <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; max-width:5%">Fecha Nacimiento</th>
                                        <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; max-width:5%">Profesión</th>
                                        <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; max-width:5%">Ubigeo</th>
                                        <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; max-width:5%">Dirección</th>
                                        <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; max-width:5%">Telf. Fijo</th>
                                        <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; max-width:5%">Telf. Movil</th>
                                        <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; max-width:5%">Email</th>
                                        <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; max-width:5%">Activo</th>
                                        @*<th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; max-width:5%">Registrado Por</th>*@
                                        <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; max-width:5%">Fecha Registro</th>
                                        @*<th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; max-width:5%">Modificado Por</th>*@
                                        <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; max-width:5%">Fecha de Modificación</th>
                                        <th colspan="4" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; max-width:5%">Acción</th>
                                    </tr>

                                    <tr>
                                        <th class="text-center" style="background-color:darkseagreen; color:black; min-width:5%; max-width:5%">Cargo</th>
                                        <th class="text-center" style="background-color:darkseagreen; color:black; min-width:5%; max-width:5%">Modificar</th>
                                        <th class="text-center" style="background-color:darkseagreen; color:black; min-width:5%; max-width:5%">Eliminar</th>
                                    </tr>
                                </thead>

                                <tbody id="tbodyTrb" class="tbodyTrb"></tbody>

                            </table>
                        </div>
                    </div>
                </div>


                <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="overflow-y: auto; display: none;">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header alert-success alert-dismissible">
                                <button id="btnClose" type="button" class="close" data-dismiss="modal"></button>
                                <h4 class="modal-title" id="myModalLabel"> Trabajador </h4>
                            </div>
                            <div class="modal-body" id="mdialTamanio" style="max-height:90%">
                                <form>
                                    @using (Html.BeginForm())
                                    {
                                        
                                                <div class="row" style="margin-bottom:10px;">


                                                </div>

                                                <div class="row" style="margin-bottom:10px;">
                                                    <div class="col-xs-12 col-md-6" style="text-align:left;">
                                                        <label style="text-align: left; margin-bottom:5%; width:30%;">Dep./Prov./Dist. :</label>
                                                        @Html.TextBoxFor(model => model.UbigeoRef, new { @class = "campoTexto", style = "width:65%", })
                                                        @Html.HiddenFor(model => model.CodigoUbigeo, new { @class = "", style = "width:65%", })
                                                        <p id="AUbigeoRef" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Solo texto y signos("/",".") en este campo.</p>
                                                    </div>

                                                    <div class="col-xs-12 col-md-6" style="text-align:left;">
                                                        <label style="text-align: left; margin-bottom:5%; width:30%;">Dirección :</label>
                                                        @Html.TextBoxFor(model => model.Direccion, new { @class = "", style = "width:65%", disabled = "true" })
                                                    </div>
                                                </div>

                                                <div class="row" style="margin-bottom:10px;">
                                                    <div class="col-xs-12 col-md-6" style="text-align:left;">
                                                        <label style="text-align: left; margin-bottom:5%; width:30%;">Teléfono Fijo :</label>
                                                        @Html.TextBoxFor(model => model.Telefono, new { @class = "campoTelefono", @maxlength = "9", style = "width:55%" })
                                                        <p id="ATelefono" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Solo digitos en este campo.</p>
                                                    </div>

                                                    <div class="col-xs-12 col-md-6" style="text-align:left;">
                                                        <label style="text-align: left; margin-bottom:5%; width:30%;">Celular :</label>
                                                        @Html.TextBoxFor(model => model.Celular, new { @class = "campoTelefono", @maxlength = "9", style = "width:55%" })
                                                        <p id="ACelular" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Solo digitos en este campo.</p>
                                                    </div>

                                                </div>

                                                <div class="row" style="margin-bottom:10px;">
                                                    <div class="col-xs-12 col-md-6" style="text-align:left;">
                                                        <label style="text-align: left; margin-bottom:5%; width:30%;">Email :</label>
                                                        @Html.TextBoxFor(model => model.CorreoElectronico, new { @class = "campoEmail", style = "width:65%" })
                                                        <p id="ACorreoElectronico" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Formato incompleto o incorrecto para correo.</p>
                                                    </div>
                                                    <div class="col-xs-12 col-md-6" style="text-align:left;">
                                                        <label style="text-align: left; margin-bottom:5%; width:30%;">Profesión :</label>
                                                        @Html.TextBoxFor(model => model.Profesion, new { @class = "campoTexto", style = "width:65%" })
                                                        <p id="AProfesion" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Solo texto en este campo</p>
                                                    </div>
                                                </div>
     

                                                <div class="col-xs-12 col-md-12" hidden="hidden" style="text-align:left; margin-bottom:5%;">
                                                    <label style="text-align: left;">Responsable :</label>
                                                    @Html.TextBoxFor(m => m.IdUsuarioRegistro, new { @class = "campoNumero", @maxlength = "10", style = "width:25%", Value = @Session["IdUsua"] })
                                                </div>

                                                <div class="col-xs-12 col-md-12" hidden="hidden" style="text-align:left; margin-bottom:5%;">
                                                    <label style="text-align: left;">Responsable :</label>
                                                    @Html.TextBoxFor(m => m.IdUsuarioModificacion, new { @class = "campoNumero", @maxlength = "10", style = "width:25%", Value = @Session["IdUsua"] })
                                                </div>
                                    }
                                </form>

                                <div class="modal-footer">
                                    <button id="btnGrabarTrab" type="button" class="btn btn-primary;">Salvar</button>
                                    <button id="btnModTrab" type="button" class="btn btn-warning" style="display:none;">Modificar</button>
                                    <button id="btnCerrarFormulario" type="button" class="btn btn-danger" data-dismiss="modal">Cerrar </button>
                                </div>
                            </div>



                        </div>
                    </div>


                </div>

            </div>
        </div>

    </div>
</div>