
@{
    ViewBag.Title = "requisitos_elegibilidadDocOA";
    Layout = "~/Views/Shared/_LayoutMenuUp.cshtml";
}


<div class="main-content">
    <!-- contenedor -->

    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <span>Bienvenido  Sr: @Session["NombreUsua"]   </span>
            <!-- Fin Ruta -->
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="/Modulos/">Modulos</a>
                </li>
                <li><a href="/UPromocion/Index">U.Promoción</a></li>
                <li class="active">Requisitos Elegibilidad </li>
            </ul>

        </div><!-- Inicio ruta -->

        <div class="page-content">
            <!-- contenido -->

            <div class="page-header">
                <!-- Inicio titulo -->

                <div class="cbp-mc-column">

                    <h1> Requisitos Elegibilidad </h1>
                </div>
            </div>



            <!-- Fin titulo -->
            <div class="col-md-12">
                <div class="nav-tabs-custom">

                    <div class="tab-content">

                        <div class="active tab-pane" id="pesProrroga">

                            <div class="row">
                                <div class="col-xs-12 col-md-11" style="text-align: left; margin-left: 1%; border-bottom: 1px solid #ede9e9;">
                                    <h3>
                                        <i class="ace-icon fa fa-file"></i>
                                        Registrar documentos requeridos de OA
                                    </h3>
                                </div>
                            </div>

                            <br />
                            <div>
                                <div class="row" style="margin-bottom:10px;">

                                    <div class="col-xs-1 col-sm-1 col-md-1">
                                        <div>&nbsp;</div>
                                    </div>


                                    <div class="col-xs-10 col-sm-10 col-md-10 panel panel-default">

                                        <div class="row" style="margin-bottom:10px; margin-left:auto">
                                            <br />

                                            <div class="col-xs-12 col-sm-12 col-md-6" style="text-align:left; margin-bottom:5px; display:none">
                                                <div>
                                                    <label> Id Requisito: </label>
                                                </div>
                                                <div>
                                                    @Html.TextBox("IdRequisito", (string)"", new { @class = "campoNumero", @maxlength = "250", style = "width:83%" })
                                                    <p id="ADescripcionRequisito" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Ingresar solo texto en este campo.</p>

                                                </div>
                                            </div>

                                            @*<div class="col-xs-12 col-sm-12 col-md-6" style="text-align: left;">
                                                    <div> <label style="text-align:left;">Nuevo estado: </label> </div>
                                                    <div> <select name="cbxTipoSDA" id="cbxTipoSDA" class="custom-select" style="width:65%;"> </select> </div>
                                                </div>*@

                                            <div class="col-xs-12 col-sm-12 col-md-3" style="text-align:left; margin-bottom:5px;">
                                                <div>
                                                    <label>Línea de Acción: </label>
                                                </div>
                                                <div>
                                                    <select id="cbxTipoSDAFr" name="cbxTipoSDAFr" class="custom-select" style="width:75%;"> </select>
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-sm-12 col-md-3" style="text-align:left; margin-bottom:5px;">
                                                <div>
                                                    <label>Unidad PCC: </label>
                                                </div>
                                                <div>
                                                    <select id="cbxUnidadProgFl" name="cbxUnidadProgFl" class="custom-select" style="width:75%;"> </select>
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-sm-12 col-md-3" style="text-align:left; margin-bottom:5px;">
                                                <div>
                                                    <label>Requisito para: </label>
                                                </div>
                                                <div>
                                                    <select id="cbxTipoDocEv" class="custom-select" style="width:75%;"> </select>
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-sm-12 col-md-3" style="text-align:left; margin-bottom:5px;">
                                                <div>
                                                    <label>Tipo de solicitante: </label>
                                                </div>
                                                <div>
                                                    <select id="cbxTipoSolicitante" class="custom-select" style="width:75%;"> </select>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row" style="margin-bottom:10px; margin-left:auto">

                                            <div class="col-xs-12 col-sm-12 col-md-12" style="text-align:left; margin-bottom:5px;">
                                                <div>
                                                    <label> Descripción requisito: </label>
                                                </div>
                                                <div>
                                                    @Html.TextBox("idUsuario", (string)"", new { @class = "campoNumero", style = "display:none; width:40%", Value = @Session["idUsua"] })
                                                    @Html.TextBox("DescripcionRequisito", (string)"", new { @class = "campoTexto", @maxlength = "250", style = "width:95%" })
                                                    <p id="ADescripcionRequisito" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Ingresar solo texto en este campo.</p>

                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-sm-12 col-md-6" style="text-align:left; margin-bottom:5px; display:none">
                                                <div>
                                                    <label> FechaReg: </label>
                                                </div>
                                                <div>
                                                    @Html.TextBox("FechaReg", (string)"", new { @class = "campoTexto", @maxlength = "250", style = "width:83%" })
                                                    <p id="ADescripcionRequisito" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Ingresar solo texto en este campo.</p>

                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-sm-12 col-md-6" style="text-align:left; margin-bottom:5px; display:none">
                                                <div>
                                                    <label> Fecha Modif: </label>
                                                </div>
                                                <div>
                                                    @Html.TextBox("FechaMod", (string)"", new { @class = "campoTexto", @maxlength = "250", style = "width:83%" })
                                                    <p id="ADescripcionRequisito" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Ingresar solo texto en este campo.</p>

                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-sm-6 col-md-12" style="text-align:center; margin-top:25px">
                                                <button id="btnConsultarRequisito" class="btn btn-success" style="display:none; margin-bottom:25px;">
                                                    <i class="ace-icon fa fa-search"></i> CONSULTAR
                                                </button>
                                                &nbsp;
                                                <button id="btnLimpiarRequisito" class="btn btn-info" style="display:none; margin-bottom:25px;">
                                                    <i class="ace-icon fa fa-eraser"></i> LIMPIAR
                                                </button>

                                                <button id="btnGrabarRequisito" class="btn btn-warning" style="display:none; margin-bottom:25px;">
                                                    <i class="ace-icon fa fa-floppy-o"></i> GUARDAR
                                                </button>
                                                <button id="btnModificarRequisito" class="btn btn-warning" style="display:none; margin-bottom:25px;">
                                                    <i class="ace-icon fa fa-floppy-o"></i> MODIFICAR
                                                </button>
                                                &nbsp;   &nbsp;
                                                <button id="btnCancelarRequisito" class="btn btn-danger" style="display:none; margin-bottom:25px;">
                                                    <i class="ace-icon fa fa-undo"></i> CANCELAR
                                                </button>

                                            </div>
                                        </div>


                                        <div class="roW" style="text-align: center; margin-bottom: 5px;">
                                            <div class="col-xs-12 col-sm-6 col-md-2">
                                                &nbsp;&nbsp;&nbsp;&nbsp;

                                            </div>


                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-4">
                                            <div>&nbsp;&nbsp;</div>
                                        </div>

                                        <div class="col-xs-12 col-sm-6 col-md-4" style="text-align:center">
                                            <button id="btnNuevoRequisito" class="btn btn-info" style="margin-bottom:auto;">
                                                <i class="ace-icon fa fa-pencil-square"></i> AGREGAR
                                            </button>
                                        </div>

                                        <div class="col-xs-12 col-sm-6 col-md-4">
                                            <div>&nbsp;&nbsp;</div>
                                        </div>
                                    </div>

                                    @*--- TABLA PLAZOS --*@

                                    <div class="col-xs-12 col-md-12" style="align-content:center;">
                                        <br />
                                        <!-- inicio tabla-->

                                        <div class="row">
                                            <div class="col-xs-1  col-sm-1  col-md-1">
                                                <div> &nbsp;&nbsp; </div>
                                            </div>

                                            <div class="col-xs-10 col-sm-10 col-md-10">
                                                <div class="col-xs-12 col-sm-12 col-md-12" style="text-align:left; margin-bottom: 1%; border-bottom: 1px solid #ede9e9;">
                                                    <h3>
                                                        <b> Listado de requisitos para documentos de OA </b>
                                                    </h3>
                                                </div>

                                                <div class="table-responsive margen col-xs-12 col-sm-12 col-md-12" style="align-content:center;">
                                                    <table id="tbListaRequisitos" class="table table-bordered table-hover" style="width:100%;">
                                                        <thead>
                                                            <tr>

                                                                <th rowspan="1" style="display:none; background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:2%; max-width:2%">ID</th>
                                                                <th rowspan="1" width="2%" style="background-color:darkseagreen; color:black; min-width:3%; max-width:5%" class="center">N°</th>
                                                                <th rowspan="1" width="15%" style="background-color:darkseagreen; color:black; min-width:6%; max-width:12%" class="center">Linea de acción</th>
                                                                <th rowspan="1" width="15%" style="background-color:darkseagreen; color:black; min-width:6%; max-width:8%" class="center">Unidad PCC</th>
                                                                <th rowspan="1" width="15%" style="background-color:darkseagreen; color:black; min-width:6%; max-width:8%" class="center">Requisito para:</th>
                                                                <th rowspan="1" width="15%" style="background-color:darkseagreen; color:black; min-width:6%; max-width:8%" class="center">Tipo de solicitante</th>
                                                                <th rowspan="1" width="25%" style="background-color:darkseagreen; color:black; min-width:20%; max-width:35%" class="center">Descripción de requisito</th>
                                                                <th rowspan="1" width="15%" style="background-color:darkseagreen; color:black; min-width:7%; max-width:10%" class="center">Usuario registro</th>
                                                                <th rowspan="1" width="15%" style="background-color:darkseagreen; color:black; min-width:7%; max-width:10%" class="center">Fecha registro</th>
                                                                <th rowspan="1" width="10%" style="background-color:darkseagreen; color:black; min-width:7%; max-width:10%" class="center">Usuario modificación</th>
                                                                <th rowspan="1" width="10%" style="background-color:darkseagreen; color:black; min-width:7%; max-width:10%" class="center">Fecha modificación</th>
                                                                <th rowspan="1" width="10%" style="background-color:darkseagreen; color:black; min-width:8%; max-width:8%" class="center">Modificar</th>
                                                                <th rowspan="1" width="10%" style="background-color:darkseagreen; color:black; min-width:8%; max-width:8%" class="center">Eliminar</th>
                                                            </tr>

                                                        </thead>

                                                        <tbody>
                                                            <tr>
                                                                <td class="center">01</td>
                                                                <td style="text-align:center"> - </td>
                                                                <td style="text-align:center"> -- </td>
                                                                <td style="text-align:center"> -- </td>
                                                                <td style="text-align:center"> -- </td>
                                                                <td style="text-align:center"> -- </td>
                                                                <td style="text-align:center"> -- </td>
                                                                <td style="text-align:center"> -- </td>
                                                                <td style="text-align:center"> -- </td>
                                                                <td style="text-align:center"> -- </td>

                                                                <td class="center">
                                                                    <a class="btn btn-warning" id="btnModificaRequisito" href="#" title="Modificar" data-toggle="modal">
                                                                        <i class="ace-icon fa fa-edit"></i>
                                                                    </a>
                                                                </td>
                                                                <td class="center">
                                                                    <a> &nbsp;</a>
                                                                    <a class="btn btn-danger" id="btnEliminarRequisito" href="#" title="Eliminar" data-toggle="modal">
                                                                        <i class="ace-icon fa fa-trash"></i>
                                                                    </a>
                                                                </td>

                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>

                                            <div class="col-xs-1 col-sm-1 col-md-1">
                                                <div> &nbsp;&nbsp; </div>
                                            </div>

                                        </div>

                                    </div>

                                    <br />

                                    <div class="col-xs-1 col-sm-1 col-md-1">
                                        <div>&nbsp;</div>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>





        </div>
    </div>

</div>

<script type="text/javascript">

    $(document).ready(function () {

        controles_RequisitosElegibilidad();

    })


</script>