
@{
    ViewBag.Title = "documentoFormulacionPRPA";
    Layout = "~/Views/Shared/_LayoutMenuUpPrp.cshtml";
}

<head>
    <title>Documentos de PRPA</title>
</head>

<div class="main-content">
<!-- contenedor -->

<div class="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <!-- INICIO RUTA -->
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="/Modulos/">Modulos</a>
            </li>
            <li><a href="/UPromocion/Index">U.Promoción PRP</a></li>
            <li class="active"><a href="/UPromocionPrp/documentoFormulacionPRPA">Documentos de formulación de proyecto de reconversión productiva agropecuaria</a></li>
        </ul>

    </div><!-- FIN RUTA -->

    <div class="page-content">
        <!-- contenido -->

        <div class="page-header">
            <!-- Inicio titulo -->

            <div class="cbp-mc-column">
                <h1> Documentos de formulación de proyecto de reconversión productiva agropecuaria </h1>
            </div>

        </div>
        <!-- Fin titulo -->
        <!-- inicio pasos-->
        <div class="col-xs-12 col-md-12" style="margin-bottom:25px;">
            <!-- contenido de pasos -->
            <!--------- ACORDEON ------------>

            <div id="accordion" style="border:1px solid; ">
                <div class="card">

                    <div class="card-header widget-header" id="headingOne" style="text-align:left;">
                        <h5 class="widget-title" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <a href="#" style="color:white; text-decoration:none;">
                                <i class="ace-icon fa fa-search"></i>
                                Documentos de formulación de proyecto de reconversión productiva agropecuaria
                            </a>
                        </h5>
                        <div class="widget-toolbar" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <a href="#" data-action="collapse" style="color:#fff;">
                                <i class="ace-icon fa fa-chevron-down"></i>
                            </a>
                        </div>
                    </div>

                    <!--------- card body ------------>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">

                        <div class="card-body" style="padding-left:12px;padding-right:12px;">


                            <div id="" class="row" style="margin-bottom:15px; margin-left:auto">
                                <br />
                                <div class="col-xs-12 col-md-3" style="text-align:left">
                                    <div>
                                        <label>RUC:</label>
                                    </div>
                                    <div>
                                        @Html.TextBox("rucOA", (string)"", new { @class = "campoNumero", @MaxLenght = "11", style = "width:70%", disabled = true })

                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-3" style="text-align:left;">
                                    <div>
                                        <label style="text-align:left;">
                                            Razón social:
                                        </label>
                                    </div>
                                    <div>
                                        @Html.TextBox("razon_social", (string)"", new { @MaxLength = "500", style = "width:70%", disabled = true })
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-3" style="text-align:left">
                                    <div>
                                        <label>Nro. expediente:</label>
                                    </div>
                                    <div>
                                        <select id="cbxExpedientes" class="custom-select" style="width:70%;"> </select>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-3" style="text-align:left">
                                    <div>
                                        <label>Nro. CUT:</label>
                                    </div>
                                    <div>
                                        @Html.TextBox("nroCutSgd", (string)"", new { @class = "", style = "width:70%", disabled = true })
                                    </div>
                                </div>


                            </div>

                            <div class="row" style="margin-bottom:15px; margin-left:auto">

                                <div class="col-xs-12 col-md-3" style="text-align:left">
                                    <div>
                                        <label>Nombre de PRPA:</label>
                                    </div>
                                    <div>
                                        @Html.TextBox("nombrePRP", (string)"", new { @class = "", style = "width:70%", disabled = true })
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-3" style="text-align:left">
                                    <div>
                                        <label>Especialista asignado:</label>
                                    </div>
                                    <div>
                                        @Html.TextBox("nombrePRP", (string)"", new { @class = "", style = "width:70%", disabled = true })
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-3" style="text-align:left">
                                    <div>
                                        <label>Oficina regional:</label>
                                    </div>
                                    <div>
                                        <select id="cbxTipoSda" class="custom-select" style="width:70%;"> </select>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-3" style="text-align:left">
                                    <div>
                                        <label>Motivo de actualización:</label>
                                    </div>
                                    <div>
                                        @Html.TextBox("motivoAct", (string)"", new { @class = "", style = "width:70%" })
                                    </div>
                                </div>

                            </div>

                            <div class="row" style="margin-bottom:15px; margin-left:auto">
                                <br />
                                <div class="col-xs-12 col-md-12" style="text-align:center;">

                                    <div>
                                        <button id="btnGuardar" class="btn btn-success" style="margin-bottom: 5px; vertical-align: middle; text-align: center;"><i class="glyphicon glyphicon-floppy-save"></i>  Guardar  </button>  &nbsp;&nbsp;&nbsp;
                                        <button id="btnLModificar" class="btn btn-warning" style="margin-bottom: 5px; vertical-align: middle; text-align: center;"><i class="glyphicon glyphicon-pencil"></i>  Modificar  </button>
                                    </div>
                                </div>

                            </div>

                            <br />
                        </div>
                    </div>

                </div>


            </div>
            <!-- fin de Acrodeon -->
            <!--TABLA MODAL-->
            <div class="table-responsive margen">
                <h3 style="text-align:left"> Registro de documentos de formulación PRPA</h3>
                <table id="tabRegistraDocEvaluacionViabilidad" class="table table-bordered table-hover table-striped display" style="width:100%">
                    <thead>
                        <tr>
                            <th rowspan="2" style="display:none; background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:2%; max-width:2%">ID</th>
                            <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:4%; max-width:4%">Nro.</th>
                            <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:20%; max-width:30%">Documentos</th>
                            <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:4%; max-width:4%">Cumple</th>
                            <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:30%; max-width:30%">Observación</th>
                            <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:15%; max-width:15%">Adjuntar documento</th>
                        </tr>

                    </thead>

                    <tbody>
                        <tr>
                            @*<td class="center">1</td>*@
                            <td class="center">01</td>
                            <td class="center">20570607945 </td>
                            <td style="text-align:center">
                                <label style="align-content:center"><input id="rb_checkList_EvaluacionDoc" type="checkbox" name="optradio" checked></label>
                            </td>
                            <td class="center">
                                <div class="col-xs-12" style="text-align:center;">@Html.TextBox("obsChecklist", (string)"", new { style = "width:100%", })</div>
                            </td>
                            <td class="center">
                                <input type="file" id="cargarArchivo" title="Adjuntar" style="text-align:center; align-content:center">
                            </td>

                    </tbody>

                </table>

                <div class="row" ; style="margin-left:auto">

                    <div class="col-xs-12 col-md-4" style="text-align:left">
                        <div>
                            <label>Resultado final:</label>
                        </div>
                        <div>
                            @Html.TextBox("resultFinalFrmto_O1", (string)"", new { @class = "", style = "width:70%", disabled = true })
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-4" style="text-align:left">
                        <div>
                            <label>Recomendación:</label>
                        </div>
                        <div>
                            @Html.TextBox("resultFinalFrmto_O1", (string)"", new { @class = "", style = "width:70%", })
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-3" style="text-align:left;">
                        <div>  &nbsp; </div>
                        <div>
                            <button id="btnGuardarCheclistEvaluacion" class="btn btn-success" style="margin-bottom: 5px; vertical-align: middle; text-align: center;"><i class="glyphicon glyphicon-floppy-save"></i>  Guardar </button>
                            &nbsp; &nbsp;
                            <button id="btnModificaCheclistEvaluacion" class="btn btn-warning" style="margin-bottom: 5px; vertical-align: middle; text-align: center;"><i class="glyphicon glyphicon-pencil"></i>  Modificar </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- TABLA 2 MODAL-->
            <div class="table-responsive margen">
                <h3 style="text-align:left"> Resultado de evaluación de la viabilidad técnica del PRPA</h3>
                <table id="tabResultadoEvaluacionViabilidadPRP" class="table table-bordered table-hover table-striped display" style="width:100%">
                    <thead>
                        <tr>
                            <th rowspan="2" style="display:none; background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:2%; max-width:2%">ID</th>
                            <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:4%; max-width:4%">Nro.</th>
                            <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:20%; max-width:30%">Documentos evaluados</th>
                            <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:4%; max-width:4%">Cumple</th>
                            <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:30%; max-width:30%">Observación</th>
                            <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:15%; max-width:15%">Documento adjunto</th>
                        </tr>

                    </thead>

                    <tbody>
                        <tr>
                            @*<td class="center">1</td>*@
                            <td class="center">01</td>
                            <td class="center">20570607945 </td>
                            <td style="text-align:center">
                                <label style="align-content:center"><input id="rb_checkList_EvaluacionDoc" type="checkbox" name="optradio" checked></label>
                            </td>
                            <td class="center">
                                <div class="col-xs-12" style="text-align:center;">@Html.TextBox("obsChecklist", (string)"", new { style = "width:100%", })</div>
                            </td>
                            <td class="center">
                                <button id="btnVerDocAdjunto" class="btn btn-warning" style="margin-bottom: 5px; vertical-align: middle; text-align: center;"><i class="ace-icon fa fa-eye"></i>  </button>
                            </td>

                    </tbody>

                </table>

                <div class="row" ; style="margin-left:auto">

                    <div class="col-xs-12 col-md-4" style="text-align:left">
                        <div>
                            <label>Resultado final:</label>
                        </div>
                        <div>
                            @Html.TextBox("resultFinalFrmto_O1", (string)"", new { @class = "", style = "width:70%", disabled = true })
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-4" style="text-align:left">
                        <div>
                            <label>Recomendación:</label>
                        </div>
                        <div>
                            @Html.TextBox("resultFinalFrmto_O1", (string)"", new { @class = "", style = "width:70%", })
                        </div>
                    </div>


                </div>
            </div>
            <!--FIN TABLA 2 MODAL-->


        </div>
        <!-- fin  pasos-->
    </div>
    <!-- fin contenido-->

</div>
<!-- fin contenido-->
</div>

<script type="text/javascript">
    $(document).ready(function () {
        controles_UP_PRP_Socios();

    });

</script>
