
@{
    ViewBag.Title = "evaluacionViabilidadTecnicaPRP";
    Layout = "~/Views/Shared/_LayoutMenuUpPrp.cshtml";
}

<head>
    <title>Evaluación viabilidad técnica PRP</title>
</head>


<div class="main-content">
<!-- contenedor -->

<div class="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <!-- INICIO RUTA -->
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="/Modulos/">Modulos</a>
            </li>
            <li><a href="/UPromocion/Index">U.Promoción PRP</a></li>
            <li class="active"><a href="/UPromocionPrp/evaluacionViabilidadTecnicaPRP">Evaluación de viabilidad técnica PRP</a></li>
        </ul>

    </div><!-- FIN RUTA -->

    <div class="page-content">
        <!-- contenido -->

        <div class="page-header">
            <!-- Inicio titulo -->

            <div class="cbp-mc-column">
                <h1> Evaluación de viabilidad técnica PRP </h1>
            </div>

        </div>
        <!-- Fin titulo -->
        <!-- inicio pasos-->
        <div class="col-xs-12 col-md-12" style="margin-bottom:25px;">
            <!-- contenido de pasos -->
            <!--------- ACORDEON ------------>

            <div id="accordion" style="border:1px solid; ">
                <div class="card">

                    <div class="card-header widget-header" id="headingOne" style="text-align:left;">
                        <h5 class="widget-title" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <a href="#" style="color:white; text-decoration:none;">
                                <i class="ace-icon fa fa-search"></i>
                                Evaluación de viabilidad técnica PRP
                            </a>
                        </h5>
                        <div class="widget-toolbar" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <a href="#" data-action="collapse" style="color:#fff;">
                                <i class="ace-icon fa fa-chevron-down"></i>
                            </a>
                        </div>
                    </div>

                    <!--------- card body ------------>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">

                        <div class="card-body" style="padding-left:12px;padding-right:12px;">

                            <div class="row" style="margin-bottom:0px;">

                                <div class="col-xs-12 col-md-12 panel panel-default" style="width:20%; margin-left:1%; margin-top:1%;">
                                    <div class="panel-body inline-block" style="text-align:left">
                                        <label>Buscar Por:</label>
                                        &nbsp;&nbsp;&nbsp;
                                        <label><input id="rb_ruc" type="radio" name="optradio" checked> RUC</label>
                                        &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
                                        <label><input id="rb_sgd" type="radio" name="optradio"> Nro. CUT</label>
                                    </div>
                                </div>

                            </div>

                            <div id="conRuc" class="row" style="margin-bottom:15px; margin-left:auto">

                                <div class="col-xs-12 col-md-3" style="text-align:left">
                                    <div>
                                        <label>RUC:</label>
                                    </div>
                                    <div>
                                        @Html.TextBox("rucOA", (string)"", new { @class = "campoNumero", @MaxLenght = "11", style = "width:60%" })

                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-3" style="text-align:left">
                                    <div>
                                        <label>Nro. Expediente:</label>
                                    </div>
                                    <div>
                                        <select id="cbxExpedientes" class="custom-select" style="width:60%;"> </select>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-3" style="text-align:left">
                                    <div>
                                        <label>Nro. CUT:</label>
                                    </div>
                                    <div>
                                        @Html.TextBox("nroCutSgd", (string)"", new { @class = "", style = "width:60%", disabled = true })
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-3" style="text-align:left;">
                                    <div>
                                        <label style="text-align:left;">
                                            Razón Social :
                                        </label>
                                    </div>
                                    <div>
                                        @Html.TextBox("razon_social", (string)"", new { @MaxLength = "500", style = "width:70%", })
                                    </div>
                                </div>

                            </div>

                            <div id="conSGD" class="row" style="margin-bottom:15px; display:none; margin-left:auto">

                                <div class="col-xs-12 col-md-3" style="text-align:left">
                                    <div>
                                        <label>Nro. CUT:</label>
                                    </div>
                                    <div>
                                        @Html.TextBox("nroCutSgd", (string)"", new { @class = "", style = "width:60%", })
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-3" style="text-align:left;">
                                    <div>
                                        <label style="text-align:left;">
                                            Razón social:
                                        </label>
                                    </div>
                                    <div>
                                        @Html.TextBox("razon_social", (string)"", new { @MaxLength = "500", style = "width:70%", disabled = "true" })
                                    </div>
                                </div>

                            </div>


                            <div class="row" style="margin-bottom:15px; margin-left:auto">

                                <div class="col-xs-12 col-md-3" style="text-align:left">
                                    <div>
                                        <label>Compromiso:</label>
                                    </div>
                                    <div>
                                        <select id="cbxCompromiso" class="custom-select" style="width:60%;"> </select>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-3" style="text-align:left">
                                    <div>
                                        <label>Estado actual:</label>
                                    </div>
                                    <div>
                                        <select id="cbxTipoSda" class="custom-select" style="width:60%;"> </select>
                                    </div>
                                </div>

                            </div>

                            <div class="row" style="margin-bottom:15px; margin-left:auto">

                                <div class="col-xs-12 col-md-3" style="text-align:left">
                                    <div>
                                        <label>Región:</label>
                                    </div>
                                    <div>
                                        <select id="cbxTipoSda" class="custom-select" style="width:60%;"> </select>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-3" style="text-align:left">
                                    <div>
                                        <label>Provincia:</label>
                                    </div>
                                    <div>
                                        <select id="cbxTipoSda" class="custom-select" style="width:60%;"> </select>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-3" style="text-align:left">
                                    <div>
                                        <label>Distrito:</label>
                                    </div>
                                    <div>
                                        <select id="cbxTipoSda" class="custom-select" style="width:60%;"> </select>
                                    </div>
                                </div>

                                <div class="col-xs-12  col-md-3" style="text-align:left;">
                                    <div>  &nbsp; </div>
                                    <div>
                                        <button id="btnConsultarViabilidadTecnica" class="btn btn-success" style="margin-bottom: 5px; vertical-align: middle; text-align: center;"><i class="ace-icon fa fa-search"></i>  Buscar  </button>  &nbsp;&nbsp;&nbsp;
                                        <button id="btnLimpiarViabilidadTecnica" class="btn btn-success" style="margin-bottom: 5px; vertical-align: middle; text-align: center;"><i class="ace-icon fa fa-eraser"></i>  Limpiar  </button>
                                    </div>
                                </div>

                            </div>

                            <br />
                        </div>
                    </div>

                </div>


            </div>
            <!-- fin de Acrodeon -->
        </div>
        <!-- fin  pasos-->
    </div>
    <!-- fin contenido-->
    <!--TABLA PADRON SOCIOS-->
    <div class="col-xs-12" style="margin-bottom:25px;">
        <!-- inicio tabla-->
        <h3 style="text-align:left; margin-left:auto"><b>Lista de expedientes asignados del especialista</b></h3>
        <div class="table-responsive margen">
           
            <table id="TablaListaExpAsignadosEspecialista" class="table table-bordered table-hover table-striped display" style="width:100%">
                <thead>
                    <tr>
                        <th rowspan="2" style="display:none; background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:2%; max-width:2%">ID</th>
                        <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:2%; max-width:2%">Nro.</th>
                        <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:10%; max-width:10%">RUC</th>
                        <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:20%; max-width:25%">Razón social</th>
                        <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:8%; max-width:12%">Proceso</th>
                        <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:8%; max-width:12%">Nro. Expediente</th>
                        <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:6%; max-width:8%">Nro. CUT</th>
                        <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:6%; max-width:8%">Compromiso</th>
                        <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:6%; max-width:8%">Especialista</th>
                        <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:6%; max-width:8%">Estado actual</th>
                        <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:6%; max-width:8%">Fecha de asignación</th>
                        <th rowspan="2" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:6%; max-width:8%">Doc.evaluación de viabilidad técnica</th>
                        
                </thead>

                <tbody>
                    <tr>

                        <td class="center">01</td>
                        <td class="center">Arequipa </td>
                        <td style="text-align:center"> 15/10/2016 </td>
                        <td class="center">20/11/2018 </td>
                        <td class="center"> - </td>
                        <td class="center"> - </td>
                        <td class="center"> - </td>
                        <td class="center">-</td>
                        <td class="center">-</td>
                        <td class="center"> - </td>
                        <td class="center">
                            <a class="btn btn-primary" id="btnRegistraDocEvaViabilidad" href="#" title="RegistrarDocEvaluacion" data-toggle="modal">
                                <i class="ace-icon fa fa-pencil">&nbsp; REGISTRAR</i>
                            </a>
                        </td>

                    </tr>
                </tbody>

            </table>

        </div>

    </div>
    <!-- FIN TABLA PADRON SOCIOS-->
   


</div>
<!-- fin contenido-->
</div>
<!-- fin contenedor -->


<script type="text/javascript">
    $(document).ready(function () {
        controles_UP_PRP_Socios();
        controles_Evaluacion_PRP();
    });

</script>
