
@{
    ViewBag.Title = "registrarDatos_PRP";
    Layout = "~/Views/Shared/_LayoutMenuUpPrp.cshtml";
}

<title>Registrar datos de PRP</title> 

<div class="main-content">
<!-- contenedor -->

<div class="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <span>Bienvenido  Sr: @Session["NombreUsua"] </span>
        <!-- Fin Ruta -->
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="/Modulos/">Modulos</a>
            </li>
            <li><a href="/UPromocion/Index">U.Promocion</a></li>
            <li class="active">Registrar datos de PRP</li>
        </ul>

    </div><!-- Inicio ruta -->

    <div class="page-content">
        <!-- contenido -->

        <div class="page-header">
            <!-- Inicio titulo -->

            <div class="cbp-mc-column">

                <h1>Registrar datos de PRP</h1>
            </div>
        </div>       <!-- Fin titulo -->
        <!-- inicio pasos-->

        <div class="col-xs-12 col-md-12">

            <!-- INICIO 1ER ACORDEON REGISTRAR DATOS -->
            <div id="acordeonRegistraSDA_PRP" style="border:1px solid;">

                <div class="card">

                    <div class="widget-header card-header" id="headingOne" style="text-align:left; background-color:#005e3a">
                        <h5 class="widget-title" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <a style="color:white; text-decoration:none;">
                                <i class="ace-icon fa fa-pencil-square-o"></i>
                                &nbsp; Datos de OA
                            </a>
                        </h5>

                        <div class="widget-toolbar" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <a href="#collapseOne" data-action="collapse" style="color:#fff;">
                                <i class="ace-icon fa fa-chevron-down"></i>
                            </a>
                        </div>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body" style="padding-left:12px;padding-right:12px;">
                            <br />

                            <div class="row" style="margin-bottom:5px;">

                                <!--INICIO DATOS GENERALES OA -->

                                <div class="row" style="padding-left:25px;padding-right:25px; padding-bottom:0px; margin-left:auto;">
                                   

                                    <form class="card-body" id="datosparaOA" style="margin-left:auto; padding-right:13px;">

                                        <div class="row">
                                            <div class="col-xs-12 col-md-11" style="text-align: left; margin-bottom: 1%; border-bottom: 1px solid #ede9e9;">
                                                <h3>
                                                    <i class="ace-icon fa fa-file"></i>
                                                    &nbsp; Datos generales de OA
                                                </h3>
                                            </div>
                                        </div>


<!--fin use htmlBeginform-->         @using (Html.BeginForm())
                                        {

                                            <div class="row" style="margin-bottom:10px; margin-left:auto; display:none">

                                                <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom: 5px;">
                                                    <div><label style="text-align:left; width:40%">RUC:</label></div>
                                                    <div>
                                                        @Html.TextBox("RUC", (string)"", new { @class = "campoNumero", @style = "width:70%", disabled = true, Value = @Session["RucOA"] })
                                                        <p id="profCargoFl" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Ingresar solo texto en este campo.</p>
                                                    </div>
                                                </div>

                                                <div class="col-xs-12 col-md-6" style="text-align: left; margin-bottom: 5px;">
                                                    <div><label style="text-align:left; width:40%">Razón social:</label></div>
                                                    <div>
                                                        @Html.TextBox("RazonSocial", (string)"", new { @class = "campoTexto", @style = "width:85%", disabled = true, Value = @Session["RazonSocialOA"] })
                                                        <p id="profCargoFl" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Ingresar solo texto en este campo.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        
                                            

                                            <div class="row" style="margin-bottom:10px; margin-left:auto;">

                                                <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom: 5px;">
                                                    <div><label style="text-align:left; width:40%">Departamento:</label></div>
                                                    <div>
                                                        @Html.TextBox("departamentoOA", (string)"", new { @class = "campoNumero", @style = "width:70%", disabled = true, Value = @Session["RucOA"] })
                                                        <p id="profCargoFl" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Ingresar solo texto en este campo.</p>
                                                    </div>
                                                </div>

                                                <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom: 5px;">
                                                    <div><label style="text-align:left; width:40%">Provincia:</label></div>
                                                    <div>
                                                        @Html.TextBox("provinciaOA", (string)"", new { @class = "campoTexto", @style = "width:70%", disabled = true, Value = @Session["RazonSocialOA"] })
                                                        <p id="profCargoFl" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Ingresar solo texto en este campo.</p>
                                                    </div>
                                                </div>

                                                <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom: 5px;">
                                                    <div><label style="text-align:left; width:40%">Distrito:</label></div>
                                                    <div>
                                                        @Html.TextBox("distritoOA", (string)"", new { @class = "campoTexto", @style = "width:70%", disabled = true, Value = @Session["RazonSocialOA"] })
                                                        <p id="profCargoFl" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Ingresar solo texto en este campo.</p>
                                                    </div>
                                                </div>

                                                <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom: 5px;">
                                                    <div><label style="text-align:left; width:40%">Dirección legal:</label></div>
                                                    <div>
                                                        @Html.TextBox("centroPoblado", (string)"", new { @class = "campoTexto", @style = "width:70%", disabled = true, Value = @Session["RazonSocialOA"] })
                                                        <p id="profCargoFl" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Ingresar solo texto en este campo.</p>
                                                    </div>
                                                </div>

                                            </div>
                                        
                                    

                                    <div class="row" style="margin-bottom:10px; margin-left: auto;">

                                        <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom: 5px;">
                                            <div><label style="text-align:left; width:40%">Centro poblado:</label></div>
                                            <div>
                                                @Html.TextBox("centroPoblado", (string)"", new { @class = "campoTexto", @style = "width:70%", disabled = true, Value = @Session["RazonSocialOA"] })
                                                <p id="profCargoFl" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Ingresar solo texto en este campo.</p>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom: 5px;">
                                            <div><label style="text-align:left; width:40%">Altitud por distrito:</label></div>
                                            <div>
                                                @Html.TextBox("altitudHistorial", (string)"", new { @class = "campoNumero", @style = "width:70%", disabled = true, Value = @Session["RucOA"] })
                                                <p id="profCargoFl" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Ingresar solo texto en este campo.</p>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom: 5px;">
                                            <div><label style="text-align:left; width:40%">Ámbito de influencia:</label></div>
                                            <div>
                                                @Html.TextBox("tipoAmbito", (string)"", new { @class = "campoNumero", @style = "width:70%", disabled = true, Value = @Session["RucOA"] })
                                                <p id="profCargoFl" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Ingresar solo texto en este campo.</p>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom: 5px;">
                                            <div><label style="text-align:left; width:40%">Zona Geográfica:</label></div>
                                            <div>
                                                @Html.TextBox("zonaGeografica", (string)"", new { @class = "campoTexto", @style = "width:70%", disabled = true, Value = @Session["RazonSocialOA"] })
                                                
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row" style="margin-bottom:10px; margin-left: auto;">

                                        <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom: 5px;">
                                            <div><label style="text-align:left; width:40%">Nivel de quintil:</label></div>
                                            <div>
                                                @Html.TextBox("nivelQuintil", (string)"", new { @class = "campoNumero", @style = "width:70%", disabled = true, Value = @Session["RucOA"] })
                                                <p id="profCargoFl" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Ingresar solo número en este campo.</p>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom: 5px;">
                                            <div><label style="text-align:left; width:40%">Valor de quintil:</label></div>
                                            <div>
                                                @Html.TextBox("valorQuintil", (string)"", new { @class = "campoNumero", @style = "width:70%", disabled = true, Value = @Session["RucOA"] })
                                                <p id="profCargoFl" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Ingresar solo texto en este campo.</p>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom: 5px;">
                                            <div><label style="text-align:left; width:40%">Nro. Teléfono:</label></div>
                                            <div>
                                                @Html.TextBox("telefonoOA", (string)"", new { @class = "campoNumero", @style = "width:70%", disabled = true, Value = @Session["RucOA"] })
                                                <p id="profCargoFl" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Ingresar solo texto en este campo.</p>
                                            </div>
                                        </div>

                                    </div>

<!--fin use htmlBeginform-->     }

                                    </form>


<!-- form persona antural-->  <form class="card-body" id="datosparaPersonaNatural" style="margin-left:auto; padding-right:13px; display:none">

                                  <div class="row">
                                      <div class="col-xs-12 col-md-11" style="text-align: left; margin-bottom: 1%; border-bottom: 1px solid #ede9e9;">
                                          <h3>
                                              <i class="ace-icon fa fa-file"></i>
                                              &nbsp; Datos del productor individual
                                          </h3>
                                      </div>
                                  </div>



<!-- use htmlBeginform-->         @using (Html.BeginForm())
                                    {

                                        <div class="row" style="margin-bottom:10px; margin-left:auto;">

                                            <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom: 5px;">
                                                <div><label style="text-align:left; width:40%">RUC:</label></div>
                                                <div>
                                                    @Html.TextBox("RUC", (string)"", new { @class = "campoNumero", @style = "width:70%", disabled = true, Value = @Session["RucOA"] })
                                                    <p id="profCargoFl" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Ingresar solo texto en este campo.</p>
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-md-6" style="text-align: left; margin-bottom: 5px;">
                                                <div><label style="text-align:left; width:40%">Apellidos y nombres:</label></div>
                                                <div>
                                                    @Html.TextBox("RazonSocial", (string)"", new { @class = "campoTexto", @style = "width:85%", disabled = true, Value = @Session["RazonSocialOA"] })
                                                    <p id="profCargoFl" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Ingresar solo texto en este campo.</p>
                                                </div>
                                            </div>
                                        </div>



                                            <div class="row" style="margin-bottom:10px; margin-left:auto;">

                                                <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom: 5px;">
                                                    <div><label style="text-align:left; width:40%">Departamento:</label></div>
                                                    <div>
                                                        @Html.TextBox("departamentoOA", (string)"", new { @class = "campoNumero", @style = "width:70%", disabled = true, Value = @Session["RucOA"] })
                                                        <p id="profCargoFl" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Ingresar solo texto en este campo.</p>
                                                    </div>
                                                </div>

                                                <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom: 5px;">
                                                    <div><label style="text-align:left; width:40%">Provincia:</label></div>
                                                    <div>
                                                        @Html.TextBox("provinciaOA", (string)"", new { @class = "campoTexto", @style = "width:70%", disabled = true, Value = @Session["RazonSocialOA"] })
                                                        <p id="profCargoFl" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Ingresar solo texto en este campo.</p>
                                                    </div>
                                                </div>

                                                <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom: 5px;">
                                                    <div><label style="text-align:left; width:40%">Distrito:</label></div>
                                                    <div>
                                                        @Html.TextBox("distritoOA", (string)"", new { @class = "campoTexto", @style = "width:70%", disabled = true, Value = @Session["RazonSocialOA"] })
                                                        <p id="profCargoFl" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Ingresar solo texto en este campo.</p>
                                                    </div>
                                                </div>

                                                <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom: 5px;">
                                                    <div><label style="text-align:left; width:40%">Domicilio:</label></div>
                                                    <div>
                                                        @Html.TextBox("centroPoblado", (string)"", new { @class = "campoTexto", @style = "width:70%", disabled = true, Value = @Session["RazonSocialOA"] })
                                                        <p id="profCargoFl" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Ingresar solo texto en este campo.</p>
                                                    </div>
                                                </div>

                                            </div>



                                            <div class="row" style="margin-bottom:10px; margin-left: auto;">

                                                <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom: 5px;">
                                                    <div><label style="text-align:left; width:40%">Estado civil:</label></div>
                                                    <div>
                                                        @Html.TextBox("centroPoblado", (string)"", new { @class = "campoTexto", @style = "width:70%", disabled = true, Value = @Session["RazonSocialOA"] })
                                                        <p id="profCargoFl" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Ingresar solo texto en este campo.</p>
                                                    </div>
                                                </div>

                                                <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom: 5px;">
                                                    <div><label style="text-align:left; width:40%">N°. DNI cónyuge:</label></div>
                                                    <div>
                                                        @Html.TextBox("centroPoblado", (string)"", new { @class = "campoTexto", @style = "width:70%", disabled = true, Value = @Session["RazonSocialOA"] })
                                                        <p id="profCargoFl" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Ingresar solo texto en este campo.</p>
                                                    </div>
                                                </div>

                                                <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom: 5px;">
                                                    <div><label style="text-align:left; width:40%">Altitud por distrito:</label></div>
                                                    <div>
                                                        @Html.TextBox("altitudHistorial", (string)"", new { @class = "campoNumero", @style = "width:70%", disabled = true, Value = @Session["RucOA"] })
                                                        <p id="profCargoFl" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Ingresar solo texto en este campo.</p>
                                                    </div>
                                                </div>

                                                <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom: 5px;">
                                                    <div><label style="text-align:left; width:40%">Ámbito de influencia:</label></div>
                                                    <div>
                                                        @Html.TextBox("tipoAmbito", (string)"", new { @class = "campoNumero", @style = "width:70%", disabled = true, Value = @Session["RucOA"] })
                                                        <p id="profCargoFl" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Ingresar solo texto en este campo.</p>
                                                    </div>
                                                </div>

                                               

                                            </div>

                                            <div class="row" style="margin-bottom:0px; margin-left: auto;">

                                                <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom: 5px;">
                                                    <div><label style="text-align:left; width:40%">Zona Geográfica:</label></div>
                                                    <div>
                                                        @Html.TextBox("zonaGeografica", (string)"", new { @class = "campoTexto", @style = "width:70%", disabled = true, Value = @Session["RazonSocialOA"] })

                                                    </div>
                                                </div>
                                                
                                                <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom: 5px;">
                                                    <div><label style="text-align:left; width:40%">Nivel de quintil:</label></div>
                                                    <div>
                                                        @Html.TextBox("nivelQuintil", (string)"", new { @class = "campoNumero", @style = "width:70%", disabled = true, Value = @Session["RucOA"] })
                                                        <p id="profCargoFl" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Ingresar solo número en este campo.</p>
                                                    </div>
                                                </div>

                                                <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom: 5px;">
                                                    <div><label style="text-align:left; width:40%">Valor de quintil:</label></div>
                                                    <div>
                                                        @Html.TextBox("valorQuintil", (string)"", new { @class = "campoNumero", @style = "width:70%", disabled = true, Value = @Session["RucOA"] })
                                                        <p id="profCargoFl" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Ingresar solo texto en este campo.</p>
                                                    </div>
                                                </div>

                                                <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom: 5px;">
                                                    <div><label style="text-align:left; width:40%">Nro. Teléfono:</label></div>
                                                    <div>
                                                        @Html.TextBox("telefonoOA", (string)"", new { @class = "campoNumero", @style = "width:70%", disabled = true, Value = @Session["RucOA"] })
                                                        <p id="profCargoFl" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Ingresar solo texto en este campo.</p>
                                                    </div>
                                                </div>

                                            </div>

                                            <!--fin use htmlBeginform-->     }

                                    </form>

                                </div>
                                <!--FIN ESTADO EXTERNO -->
                                <!--INICIO REPRESENTANTE LEGAL -->

                                <div class="row" style="padding-left:25px;padding-right:25px; padding-bottom:0px; margin-left:auto;">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-11" style="text-align: left; margin-bottom: 1%; border-bottom: 1px solid #ede9e9;">
                                            <h3>
                                                <i class="ace-icon fa fa-file"></i>
                                                &nbsp; Representante legal
                                            </h3>
                                        </div>
                                    </div>

                                    <div class="row" style="margin-bottom:10px; margin-left:auto;">

                                        <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom: 5px;">
                                            <div><label style="text-align:left; width:40%">Apellidos y Nombres:</label></div>
                                            <div>
                                                @Html.TextBox("apellidosNombresRepreLegal", (string)"", new { @class = "campoNumero", @style = "width:70%", disabled = true, Value = @Session["RucOA"] })
                                                <p id="profCargoFl" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Ingresar solo texto en este campo.</p>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom: 5px;">
                                            <div><label style="text-align:left; width:40%">Correo Electrónico:</label></div>
                                            <div>
                                                @Html.TextBox("correoRepreLegal", (string)"", new { @class = "campoTexto", @style = "width:70%", disabled = true, Value = @Session["RazonSocialOA"] })
                                                <p id="profCargoFl" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Ingresar solo texto en este campo.</p>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom: 5px;">
                                            <div><label style="text-align:left; width:40%">Nro. Teléfono:</label></div>
                                            <div>
                                                @Html.TextBox("telefonoRepreLegal", (string)"", new { @class = "campoTexto", @style = "width:70%", disabled = true, Value = @Session["RazonSocialOA"] })
                                                <p id="profCargoFl" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Ingresar solo texto en este campo.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--FIN REPRESNETANTE LEGAL -->
                                <!--INICIO PERSONA CONTACTO -->

                                <div class="row" style="padding-left:25px;padding-right:25px; padding-bottom:0px; margin-left:auto;">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-11" style="text-align: left; margin-bottom: 1%; border-bottom: 1px solid #ede9e9;">
                                            <h3>
                                                <i class="ace-icon fa fa-file"></i>
                                                &nbsp; Persona de contacto
                                            </h3>
                                        </div>
                                    </div>

                                    <div class="row" style="margin-bottom:10px; margin-left:auto;">

                                        <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom: 5px;">
                                            <div><label style="text-align:left; width:40%">Apellido paterno:</label></div>
                                            <div>
                                                @Html.TextBox("apellidoPaterno", (string)"", new { @class = "campoNumero", @style = "width:70%", disabled = true, Value = @Session["RucOA"] })
                                                <p id="profCargoFl" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Ingresar solo texto en este campo.</p>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom: 5px;">
                                            <div><label style="text-align:left; width:40%">Apellidos materno:</label></div>
                                            <div>
                                                @Html.TextBox("apellidoMaterno", (string)"", new { @class = "campoNumero", @style = "width:70%", disabled = true, Value = @Session["RucOA"] })
                                                <p id="profCargoFl" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Ingresar solo texto en este campo.</p>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom: 5px;">
                                            <div><label style="text-align:left; width:40%">Nombres:</label></div>
                                            <div>
                                                @Html.TextBox("Nombres", (string)"", new { @class = "campoNumero", @style = "width:90%", disabled = true, Value = @Session["RucOA"] })
                                                <p id="profCargoFl" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Ingresar solo texto en este campo.</p>
                                            </div>
                                        </div>
                                       
                                    </div>

                                    <div class="row" style="margin-bottom:10px; margin-left:auto;">

                                        <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom: 5px;">
                                            <div><label style="text-align:left; width:40%">Correo electrónico:</label></div>
                                            <div>
                                                @Html.TextBox("correoContacto", (string)"", new { @class = "campoTexto", @style = "width:70%", disabled = true, Value = @Session["RazonSocialOA"] })
                                                <p id="profCargoFl" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Ingresar solo texto en este campo.</p>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom: 5px;">
                                            <div><label style="text-align:left; width:40%">Nro. Teléfono:</label></div>
                                            <div>
                                                @Html.TextBox("telefonoContacto", (string)"", new { @class = "campoTexto", @style = "width:70%", disabled = true, Value = @Session["RazonSocialOA"] })
                                                <p id="profCargoFl" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Ingresar solo texto en este campo.</p>
                                            </div>
                                        </div>

                                    </div>
                                    </div>

                                <!--FIN PERSONA CONTACTO -->

                                <!--INICIO PRODUCTORES -->

                                <div class="row" style="padding-left:25px;padding-right:25px; padding-bottom:0px; margin-left:auto;">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-11" style="text-align: left; margin-bottom: 1%; border-bottom: 1px solid #ede9e9;">
                                            <h3>
                                                <i class="ace-icon fa fa-file"></i>
                                                &nbsp; Productores
                                            </h3>
                                        </div>
                                    </div>

                                    <div class="row" style="margin-bottom:10px; margin-left:auto;">

                                        <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom: 5px;">
                                            <div><label style="text-align:left; width:40%">Total hombres:</label></div>
                                            <div>
                                                @Html.TextBox("TotalHombres", (string)"", new { @class = "campoNumero", @style = "width:70%", disabled = true, Value = @Session["RucOA"] })
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom: 5px;">
                                            <div><label style="text-align:left; width:40%">Total mujeres:</label></div>
                                            <div>
                                                @Html.TextBox("totalMujeres", (string)"", new { @class = "campoNumero", @style = "width:70%", disabled = true, Value = @Session["RucOA"] })
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom: 5px;">
                                            <div><label style="text-align:left; width:40%">Total productores:</label></div>
                                            <div>
                                                @Html.TextBox("totalProductores", (string)"", new { @class = "campoNumero", @style = "width:70%", disabled = true, Value = @Session["RucOA"] })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--FIN PRODUCTORES -->

                                <!--INICIO CANTIDAD HECTAREAS -->

                                <div class="row" style="padding-left:25px;padding-right:25px; padding-bottom:0px; margin-left:auto;">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-11" style="text-align: left; margin-bottom: 1%; border-bottom: 1px solid #ede9e9;">
                                            <h3>
                                                <i class="ace-icon fa fa-file"></i>
                                                &nbsp; Cantidad de hectáreas
                                            </h3>
                                        </div>
                                    </div>

                                    <div class="row" style="margin-bottom:10px; margin-left:auto;">

                                        <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom: 5px;">
                                            <div><label style="text-align:left; width:40%">Total hectáreas:</label></div>
                                            <div>
                                                @Html.TextBox("TotalHectareas", (string)"", new { @class = "campoNumero", @style = "width:70%", disabled = true, Value = @Session["RucOA"] })
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom: 5px;">
                                            <div><label style="text-align:left; width:40%">Total Ha Secano:</label></div>
                                            <div>
                                                @Html.TextBox("totalHaSecano", (string)"", new { @class = "campoNumero", @style = "width:70%", disabled = true, Value = @Session["RucOA"] })
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom: 5px;">
                                            <div><label style="text-align:left; width:40%">Total Ha bajo riego:</label></div>
                                            <div>
                                                @Html.TextBox("totalHabajoRiego", (string)"", new { @class = "campoNumero", @style = "width:70%", disabled = true, Value = @Session["RucOA"] })
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom: 5px;">
                                            <div><label style="text-align:left; width:55%">Hectáreas destinadas al PCC:</label></div>
                                            <div>
                                                @Html.TextBox("hcDestinadasPCC", (string)"", new { @class = "campoNumero", @style = "width:70%", disabled = true, Value = @Session["RucOA"] })
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <!--FIN CANTIDAD HECTAREAS -->

                                <!--INICIO OTROS DATOS -->

                                <div class="row" style="padding-left:25px;padding-right:25px; padding-bottom:0px; margin-left:auto;">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-11" style="text-align: left; margin-bottom: 1%; border-bottom: 1px solid #ede9e9;">
                                            <h3>
                                                <i class="ace-icon fa fa-file"></i>
                                                &nbsp; Otros datos
                                            </h3>
                                        </div>
                                    </div>

                                    <div class="row" style="margin-bottom:10px; margin-left:auto;">

                                        <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom: 5px;">
                                            <div><label style="text-align:left; width:55%">Nro. Cabezas de ganado:</label></div>
                                            <div>
                                                @Html.TextBox("nroCabezas", (string)"", new { @class = "campoNumero", @style = "width:70%", disabled = true, Value = @Session["RucOA"] })
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom: 5px;">
                                            <div><label style="text-align:left; width:40%">Hectáreas pastizales:</label></div>
                                            <div>
                                                @Html.TextBox("hectareasPastizales", (string)"", new { @class = "campoNumero", @style = "width:70%", disabled = true, Value = @Session["RucOA"] })
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <!--FIN OTROS DATOS -->

                                <!--INICIO DATOS DEL EXPEDIENTE -->

                                <div class="row" style="padding-left:25px;padding-right:25px; padding-bottom:0px; margin-left:auto;">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-11" style="text-align: left; margin-bottom: 1%; border-bottom: 1px solid #ede9e9;">
                                            <h3>
                                                <i class="ace-icon fa fa-file"></i>
                                                &nbsp; Datos del expediente
                                            </h3>
                                        </div>
                                    </div>

                                    <div class="row" style="margin-bottom:10px; margin-left:auto;">

                                        <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom: 5px;">
                                            <div><label style="text-align:left; width:40%">Nro. Expediente:</label></div>
                                            <div>
                                                @Html.TextBox("nroExpediente", (string)"", new { @class = "campoNumero", @style = "width:70%", disabled = true, Value = @Session["RucOA"] })
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom: 5px;">
                                            <div><label style="text-align:left; width:40%">Nro. CUT:</label></div>
                                            <div>
                                                @Html.TextBox("nroCut", (string)"", new { @class = "campoNumero", @style = "width:70%", disabled = true, Value = @Session["RucOA"] })
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom: 5px;">
                                            <div><label style="text-align:left; width:40%">Lugar de recepción:</label></div>
                                            <div>
                                                @Html.TextBox("lugarRecepcion", (string)"", new { @class = "campoTexto", @style = "width:70%", disabled = true, Value = @Session["RazonSocialOA"] })
                                                <p id="profCargoFl" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Ingresar solo texto en este campo.</p>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom: 5px;">
                                            <div><label style="text-align:left; width:40%">Línea de acción:</label></div>
                                            <div>
                                                @Html.TextBox("tipoCofinanciamiento", (string)"", new { @class = "campoNumero", @style = "width:70%", disabled = true, Value = @Session["RucOA"] })
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row" style="margin-bottom:10px; margin-left:auto;">
        
                                        <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom: 5px;">
                                            <div><label style="text-align:left; width:40%">Proceso:</label></div>
                                            <div>
                                                @Html.TextBox("tipoCofinanciamiento", (string)"", new { @class = "campoNumero", @style = "width:70%", disabled = true, Value = @Session["RucOA"] })
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom: 5px;">
                                            <div><label style="text-align:left; width:40%">Motivo de actualización:</label></div>
                                            <div>
                                                <select id="cbxmotivoActualizacion" class="custom-select" style="width:70%;"> </select>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-md-6" style="text-align: left; margin-bottom: 5px;">
                                            <div><label style="text-align:left; width:40%">Otro motivo:</label></div>
                                            <div>
                                                @Html.TextBox("otroMotivo", (string)"", new { @class = "campoTexto", @style = "width:70%", Value = @Session["RazonSocialOA"] })
                                                <p id="profCargoFl" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Ingresar solo texto en este campo.</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <!--FIN DATOS DEL EXPEDIENTE -->


                            </div><!-- contenido -->
                        </div>

                    </div>

                    @*FIN DE ACORDEONES*@
                </div>

            </div>
            <!--FIN 1ER ACORDEON REGISTRAR DATOS SDA-->

           
        </div>

        <!--COMIENZO 2DO ACORDEON PARA VISTAS-->
        <div class="col-xs-12 col-md-12" style="margin-bottom:25px;">


            <!--------- INICIO ACORDEON 2 DATOS PLAN NEGOCIO ------------>

            <div id="acordeonPlanNegocio" style="border:1px solid; ">
                <div class="card">

                    <div class="card-header widget-header" id="headingsix" style="text-align:left;">
                        <h5 class="widget-title" data-toggle="collapse" data-target="#collapsefour" aria-expanded="true" aria-controls="collapsefour">
                            <a href="#" style="color:white; text-decoration:none;">
                                <i class="ace-icon fa fa-file"></i>
                                &nbsp; Datos del PRP
                            </a>
                        </h5>
                        <div class="widget-toolbar" data-toggle="collapse" data-target="#collapsefour" aria-expanded="true" aria-controls="collapsefour">
                            <a href="#" data-action="collapse" style="color:#fff;">
                                <i class="ace-icon fa fa-chevron-down"></i>
                            </a>
                        </div>
                    </div>

                    <!--------- card body ------------>
                    <div id="collapsefour" class="collapse" aria-labelledby="headingsix" data-parent="#accordion">
                        <!-- Inicio Card Body  -->
                        <div class="card-body" style="padding-left:12px;padding-right:12px;">

                            <br />
                           
                            <div class="row" style="margin-bottom:10px; margin-left:auto;">

                                <div class="col-xs-12 col-md-6" style="text-align: left; margin-bottom: 5px;">
                                    <div><label style="text-align:left; width:40%"> Nombre del PRP:</label></div>
                                    <div>
                                        @Html.TextBox("nroExpediente", (string)"", new { @class = "campoNumero", @style = "width:85%", Value = @Session["RucOA"] })
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom: 5px;">
                                    <div><label style="text-align:left; width:40%">Nombre corto:</label></div>
                                    <div>
                                        @Html.TextBox("nroCut", (string)"", new { @class = "campoNumero", @style = "width:70%", Value = @Session["RucOA"] })
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom: 5px;">
                                    <div><label style="text-align:left; width:40%">Actividad económica:</label></div>
                                    <div>
                                        @Html.TextBox("lugarRecepcion", (string)"", new { @class = "campoTexto", @style = "width:70%", disabled = true, Value = @Session["RazonSocialOA"] })
                                        <p id="profCargoFl" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Ingresar solo texto en este campo.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="margin-bottom:10px; margin-left:auto;">

                                <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom: 5px;">
                                    <div><label style="text-align:left; width:40%">Tipo de tecnología:</label></div>
                                    <div>
                                        <select id="cbxTipoTecnologia" class="custom-select" style="width:70%;"> </select>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom: 5px;">
                                    <div><label style="text-align:left; width:40%">Cadena productiva:</label></div>
                                    <div>
                                        @Html.TextBox("lugarRecepcion", (string)"", new { @class = "campoTexto", @style = "width:70%", disabled = true, Value = @Session["RazonSocialOA"] })
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom: 5px;">
                                    <div><label style="text-align:left; width:40%">Cultivo / Producto:</label></div>
                                    <div>
                                        @Html.TextBox("lugarRecepcion", (string)"", new { @class = "campoTexto", @style = "width:70%", disabled = true, Value = @Session["RazonSocialOA"] })
                                    </div>
                                </div>

                           </div>
                            <div class="row" style="margin-bottom:10px; margin-left:auto;">

                                <div class="col-xs-12 col-md-6" style="text-align: left; margin-bottom: 5px;">
                                    <div><label style="text-align:left; width:40%">Problemática:</label></div>
                                    <div>
                                        @Html.TextArea("problematica", (string)"", new { @class = "campoTexto", @style = "width:90%", Value = @Session["RazonSocialOA"] })
                                        <p id="profCargoFl" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Ingresar solo texto en este campo.</p>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-12" style="text-align:center;">
                                    <div>  &nbsp; </div>
                                    <div>
                                        <button id="btnRegistraDatosPRP" class="btn btn-success" style="margin-bottom: 5px; vertical-align: middle; text-align: center;"><i class="ace-icon fa fa-floppy-o"></i>  Guardar  </button>
                                        &nbsp; &nbsp;
                                        @*<button id="btnCerrar" class="btn btn-danger" style="margin-bottom: 5px; vertical-align: middle; text-align: center;"><i class="ace-icon fa fa-close"></i>  Cancelar  </button>*@
                                    </div>
                                </div>

                            </div>



                                <br />

                            </div>
                        <!-- Fin Card Body  -->
                    </div>

                </div>
            </div>


            <!---------- FIN ACORDEON 2 DATOS PLAN NEGOCIO ---------->

            <!----------- INICIO ACORDEON 3 OBJETIVO ------------------->

            <div id="acordeonObjetivosPlan" style="border:1px solid; ">
                <div class="card">

                    <div class="card-header widget-header" id="headingnine" style="text-align:left;">
                        <h5 class="widget-title" data-toggle="collapse" data-target="#collapseeight" aria-expanded="true" aria-controls="collapseeight">
                            <a href="#" style="color:white; text-decoration:none;">
                                <i class="ace-icon fa fa-file"></i>
                                &nbsp; Objetivos del PRP
                            </a>
                        </h5>
                        <div class="widget-toolbar" data-toggle="collapse" data-target="#collapseeight" aria-expanded="true" aria-controls="collapseeight">
                            <a href="#" data-action="collapse" style="color:#fff;">
                                <i class="ace-icon fa fa-chevron-down"></i>
                            </a>
                        </div>
                    </div>

                    <!--------- card body ------------>
                    <div id="collapseeight" class="collapse" aria-labelledby="headingnine" data-parent="#accordion">
                        <!-- Inicio Card Body  -->
                        <div class="card-body" style="padding-left:12px;padding-right:12px;">

                            <div class="row" style="margin-bottom:10px; margin-left:auto;">
                                <br />
                                <div class="col-xs-12 col-md-12" style="text-align: center; margin-bottom: 5px;">
                                    <div><label style="text-align:center; width:20%">Seleccione objetivo del PRP: </label>
                                        <select id="cbxCultivoProducto" class="custom-select" style="width:20%; text-align:left"> </select>  &nbsp;  &nbsp;
                                        <button id="btnAgregarObjetivo" class="btn btn-success" style="margin-bottom: 5px; vertical-align: middle; text-align: center;"><i class="ace-icon fa fa-pencil"></i> Agregar </button>
                                    </div>
                                </div>
                           </div>
                                <!--INICIO TABLA -->

                            <div class="row" style="margin-bottom:10px; margin-left:auto;">
                                <div class="table-responsive margen col-md-12" style="align-content:center;">
                                    <table id="tb_objetivoPlanNegocioPRP" class="table table-bordered table-hover" style="width:70%; align-content:center; margin-left:15%">
                                        <thead>
                                            <tr>
                                                <th rowspan="2" width="2%" style="background-color:#005e3a; color:white;" class="center">N°</th>
                                                <th rowspan="2" width="18%" style="background-color:#005e3a; color:white;" class="center">Objetivos del PRP</th>
                                                <th rowspan="2" width="5%" style="background-color:#005e3a; color:white;" class="center">Eliminar</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="center"> 01 </td>
                                                <td class="center"> Aprobado </td>
                                                <td class="center">
                                                    <button id="btnLimpiarConsultaEvaluaciones" class="btn btn-danger" style="margin-bottom: 5px; vertical-align: middle; text-align: center;"><i class="glyphicon glyphicon-remove"></i> </button>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>

                                </div>

                                </div>

                                <!--FIN TABLA-->
                            </div>
                        <!-- Fin Card Body  -->
                    </div>

                </div>
            </div>


            <!--------- ACORDEON 4 INVERSION PROYECTO ------------>
            <div id="acordeonInversionProyecto" style="border:1px solid; ">
                <div class="card">

                    <div class="card-header widget-header" id="headingsix" style="text-align:left;">
                        <h5 class="widget-title" data-toggle="collapse" data-target="#collapseten" aria-expanded="true" aria-controls="collapseten">
                            <a href="#" style="color:white; text-decoration:none;">
                                <i class="ace-icon fa fa-file"></i>
                                &nbsp; Inversión del proyecto de reconversión productiva agropecuaria
                            </a>
                        </h5>
                        <div class="widget-toolbar" data-toggle="collapse" data-target="#collapseten" aria-expanded="true" aria-controls="collapseten">
                            <a href="#" data-action="collapse" style="color:#fff;">
                                <i class="ace-icon fa fa-chevron-down"></i>
                            </a>
                        </div>
                    </div>

                    <!--------- card body ------------>
                    <div id="collapseten" class="collapse" aria-labelledby="headingsix" data-parent="#accordion">
                        <!-- Inicio Card Body  -->
                        <div class="card-body" style="padding-left:12px;padding-right:12px;">

                            <br />

                            <div class="row" style="margin-bottom:10px; margin-left:auto;">

                                <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom: 5px;">
                                    <div><label style="text-align:left; width:50%"> Monto total de inversión:</label></div>
                                    <div>
                                        @Html.TextBox("montoTotalInversion", (string)"", new { @class = "campoNumero", @style = "width:60%", Value = @Session["RucOA"], disabled= true })
                                        <p id="profCargoFl" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Ingresar solo numero en este campo.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="margin-bottom:10px; margin-left:auto;">

                                <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom: 5px;">
                                    <div><label style="text-align:left; width:40%">Aporte PCC:</label></div>
                                    <div>
                                        @Html.TextBox("aportePCC", (string)"", new { @class = "campoNumero", @style = "width:60%", Value = @Session["RucOA"], disabled=true })
                                        <p id="profCargoFl" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Ingresar solo numero en este campo.</p>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom: 5px;">
                                    <div><label style="text-align:left; width:40%">% Aporte PCC:</label></div>
                                    <div>
                                        @Html.TextBox("%aportePCC", (string)"", new { @class = "campoNumero", @style = "width:60%", Value = @Session["RucOA"], disabled= true })
                                        <p id="profCargoFl" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Ingresar solo numero en este campo.</p>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom: 5px;">
                                    <div><label style="text-align:left; width:40%">Aporte OA:</label></div>
                                    <div>
                                        @Html.TextBox("aporteOA", (string)"", new { @class = "campoNumero", @style = "width:60%", Value = @Session["RucOA"], disabled= true })
                                        <p id="profCargoFl" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Ingresar solo numero en este campo.</p>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom: 5px;">
                                    <div><label style="text-align:left; width:40%">% Aporte OA:</label></div>
                                    <div>
                                        @Html.TextBox("%aporteOA", (string)"", new { @class = "campoNumero", @style = "width:60%", Value = @Session["RucOA"], disabled= true })
                                        <p id="profCargoFl" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Ingresar solo numero en este campo.</p>
                                    </div>
                                </div>

                            </div>
                            <br />

                        </div>
                        <!-- Fin Card Body  -->
                    </div>

                </div>
            </div>
            <!------------ fin de Acordeon 4 INVERSION PROYECTO ----------->


            <!--------- ACORDEON 5 DATOS EVAUADOR ------------>

            <div id="acordeonDatosEvaluador" style="border:1px solid; ">
                <div class="card">

                    <div class="card-header widget-header" id="headingsix" style="text-align:left;">
                        <h5 class="widget-title" data-toggle="collapse" data-target="#collapsenine" aria-expanded="true" aria-controls="collapsenine">
                            <a href="#" style="color:white; text-decoration:none;">
                                <i class="ace-icon fa fa-file"></i>
                                &nbsp; Datos del evaluador
                            </a>
                        </h5>
                        <div class="widget-toolbar" data-toggle="collapse" data-target="#collapsenine" aria-expanded="true" aria-controls="collapsenine">
                            <a href="#" data-action="collapse" style="color:#fff;">
                                <i class="ace-icon fa fa-chevron-down"></i>
                            </a>
                        </div>
                    </div>

                    <!--------- card body ------------>
                    <div id="collapsenine" class="collapse" aria-labelledby="headingsix" data-parent="#accordion">
                        <!-- Inicio Card Body  -->
                        <div class="card-body" style="padding-left:12px;padding-right:12px;">

                            <br />

                            <div class="row" style="margin-bottom:10px; margin-left:auto;">

                                <div class="col-xs-12 col-md-6" style="text-align: left; margin-bottom: 5px;">
                                    <div><label style="text-align:left; width:40%"> Evaluador actual:</label></div>
                                    <div>
                                        @Html.TextBox("montoTotalInversion", (string)"", new { @class = "campoNumero", @style = "width:90%", disabled = true, Value = @Session["RucOA"] })
                                        <p id="profCargoFl" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Ingresar solo numero en este campo.</p>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-3" style="text-align: left; margin-bottom: 5px;">
                                    <div><label style="text-align:left; width:40%"> Oficina regional:</label></div>
                                    <div>
                                        @Html.TextBox("montoTotalInversion", (string)"", new { @class = "campoNumero", @style = "width:70%", disabled = true, Value = @Session["RucOA"] })
                                        <p id="profCargoFl" class="alerta" style="display:none; font-family:'Gill Sans'; color:darkred">Ingresar solo numero en este campo.</p>
                                    </div>
                                </div>

                            </div>

                            <div class="row" style="margin-bottom:10px; margin-left:auto;">

                                <div>  &nbsp; </div>
                                <div>
                                    <button id="btnConsultarEvaluaciones" class="btn btn-success" style="margin-bottom: 5px; vertical-align: middle; text-align: center;"><i class="ace-icon fa fa-floppy-o"></i>  Guardar  </button>
                                    &nbsp; &nbsp;
                                    <button id="btnLimpiarConsultaEvaluaciones" class="btn btn-danger" style="margin-bottom: 5px; vertical-align: middle; text-align: center;"><i class="ace-icon fa fa-close"></i>  Cancelar  </button>
                                </div>
                            </div>
                            <br />

                        </div>
                        <!-- Fin Card Body  -->
                    </div>

                </div>
            </div>
            <!-- fin de Acordeon 5 ADTOS EVALUADOR -->

        </div>


        <!--FIN ACORDEON-->



    </div>
</div>
</div>