@model SEL_Entidades.SEL_E.MP_ExpedienteOA_E

@{
    ViewBag.Title = "asignarCut";
    Layout = "~/Views/Shared/_LayoutMenuUa.cshtml";
}

<head>
    <title>
        Mesa de Parte - Asignar Cut de Expedientes
    </title>
</head>

<div class="main-content">
    <!-- contenedor -->

    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <span>Bienvenido  Sr: @Session["NombreUsua"]   </span>
            <!-- Fin Ruta -->
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="/Modulos/">Modulos</a>
                </li>
                <li><a href="/UPromocion/index"> U.Administración</a></li>
                <li class="active">Asignar Cut</li>
            </ul>

        </div><!-- Inicio ruta -->

        <div class="page-content">
            <!-- contenido -->

            <div class="page-header">
                <!-- Inicio titulo -->

                <div class="cbp-mc-column">

                    <h1> Asignar Cut a Expediente  </h1>
                </div>
            </div>       <!-- Fin titulo -->
            <!-- inicio pasos-->

            <div class="col-xs-12" style="margin-bottom:25px;">
                <!-- contenido de pasos -->
                <div id="accordion" style="border:1px solid;">
                    <div class="card">

                        <div class="widget-header card-header" id="headingOne" style="text-align:left;">
                            <h5 class="widget-title" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <a href="#" style="color:white; text-decoration:none;">
                                    <i class="ace-icon fa fa-file"></i>
                                    &nbsp;Datos de la Organización
                                </a>
                            </h5>
                            <div class="widget-toolbar" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <a href="#" data-action="collapse" style="color:#fff;">
                                    <i class="ace-icon fa fa-chevron-down"></i>
                                </a>
                            </div>
                        </div>



                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body" style="padding-left:12px;padding-right:12px;">
                                <br />

                                <div class="row" style="margin-bottom:10px;">

                                    <div class="col-xs-12 col-md-4" style="text-align:left">
                                        <div>
                                            <label>RUC :</label>
                                        </div>
                                        <div>
                                            @Html.TextBox("idCutExpedienteOA", (string)"", new { @class = "campoNumero", style = "display:none; width:50%" })
                                            
                                            @Html.TextBoxFor(m => m.idExpedienteOA, new { @class = "campoNumero", style = "display:none; width:50%" }) 
                                            @Html.TextBoxFor(m => m.idOA, new { @class = "campoNumero", style = "display:none; width:50%", disabled = true })
                                            @Html.TextBoxFor(m => m.idOADatos, new { @class = "campoNumero", @MaxLenght = "11", style = "display:none;width:50%", disabled = true })
                                            @Html.TextBoxFor(m => m.idUsuarioRegistro, new { @class = "campoNumero", @MaxLenght = "11", style = "display:none;width:50%", disabled = true, Value = @Session["IdUsua"] })
                                            @Html.TextBoxFor(m => m.rucOA, new { @class = "campoTexto col-xs-12 col-sm-12 col-md-6", @MaxLenght = "11",   disabled = true })
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-md-8" style="text-align:left">
                                        <div>
                                            <label>Razón Social :</label>
                                        </div>
                                        <div>
                                            @Html.TextBox("idOA", (string)"", new { @class = "campoTexto col-xs-12 col-sm-12 col-md-10", disabled = true, style = "display:none;" })
                                            @Html.TextBox("razonSocial", (string)"", new { @class = "campoTexto col-xs-12 col-sm-12 col-md-10", disabled = true })
                                        </div>
                                    </div>

                                </div>


                                <div class="row" style="margin-bottom:10px;">

                                    <div class="col-xs-12 col-md-4" style="text-align:left">
                                        <div>
                                            <label>Departamento :</label>
                                        </div>
                                        <div>
                                            @Html.TextBoxFor(m => m.departamento, new { @class = "campoTexto col-xs-12 col-sm-12 col-md-6",  disabled = true })
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-md-4" style="text-align:left">
                                        <div>
                                            <label>Provincia :</label>
                                        </div>
                                        <div>
                                            @Html.TextBoxFor(m => m.provincia, new { @class = "campoTexto col-xs-12 col-sm-12 col-md-6",  disabled = true })
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-md-4" style="text-align:left">
                                        <div>
                                            <label>Distrito :</label>
                                        </div>
                                        <div>
                                            @Html.TextBoxFor(m => m.distrito, new { @class = "campoTexto col-xs-12 col-sm-12 col-md-6",  disabled = true })
                                        </div>
                                    </div>

                                </div>

                                <div class="row" style="margin-bottom:10px;">

                                    <div class="col-xs-12 col-md-12" style="text-align:left">
                                        <div>
                                            <label>Domicilio legal :</label>
                                        </div>
                                        <div>
                                            @Html.TextBoxFor(m => m.direccionLegal, new { @class = "campoTexto col-xs-12 col-sm-12 col-md-10", disabled = true })
                                        </div>
                                    </div>
                                </div>

                                <div class="row" style="margin-bottom:10px;">
                                    <div class="col-xs-12 col-md-12" style="text-align:left">
                                        <div>
                                            <label>Centro poblado legal :</label>
                                        </div>
                                        <div>
                                            @Html.TextBoxFor(m => m.centroPoblado, new { @class = "campoTexto col-xs-12 col-sm-12 col-md-10", disabled = true })
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <br />

                        </div>

                    </div>
                </div><!-- fin contenido-->
            </div>

            <br />
            <br />

            <div class="col-xs-12" style="margin-bottom:25px;">
                <!-- contenido de pasos -->
                <div id="accordion" style="border:1px solid;">
                    <div class="card">

                        <div class="widget-header card-header" id="headingTwo" style="text-align:left;">
                            <h5 class="widget-title" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                <a href="#" style="color:white; text-decoration:none;">
                                    <i class="ace-icon fa fa-file"></i>
                                    &nbsp;Datos del Expediente
                                </a>
                            </h5>
                            <div class="widget-toolbar" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                <a href="#" data-action="collapse" style="color:#fff;">
                                    <i class="ace-icon fa fa-chevron-down"></i>
                                </a>
                            </div>
                        </div>



                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body" style="padding-left:12px;padding-right:12px;">
                                <br />

                                <div class="col-xs-12 col-md-12" style="text-align:left; margin-bottom: 1%; border-bottom: 1px solid #ede9e9;">
                                    <h3>
                                        Datos del Expediente Registrado.
                                    </h3>
                                </div>

                                <div class="row" style="margin-bottom:10px;">


                                    <div class="col-xs-12 col-md-3" style="text-align:left">
                                        <div>
                                            <label>Nro. Expediente:</label>
                                        </div>
                                        <div>
                                           @Html.TextBoxFor(m=>m.idExpedienteOA, new {@class="col-xs-12 col-sm-12 col-md-8", style="display:none;", disabled=true })
                                           @Html.TextBoxFor(m => m.numeroExpedienteOA, new { @class = "col-xs-12 col-sm-12 col-md-8", disabled = true })
                                        </div>
                                    </div>


                                    <div class="col-xs-12 col-md-3" style="text-align:left">
                                        <div>
                                            <label>Línea de Acción:</label>
                                        </div>
                                        <div> 
                                            @Html.TextBoxFor(m => m.tipoSDA, new { @class = "col-xs-12 col-sm-12 col-md-8", disabled = true })
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-md-3 promocion" style="display:none; text-align:left">
                                        <div>
                                            <label>Proceso :</label>
                                        </div>
                                        <div>
                                            @Html.TextBoxFor(m=>m.idProceso, new { @class = "campoTexto", style = "display:none; width:60%", disabled = true })
                                            @Html.TextBoxFor(m=>m.proceso, new { @class = "campoTexto col-xs-12 col-sm-12 col-md-8", disabled = true })
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-md-3 NoPromocion" style="display:none; text-align:left">
                                        <div>
                                            <label> Tipo de Incentivo:</label>
                                        </div>
                                        <div>
                                            @Html.TextBoxFor(m => m.tipoIncentivo, new { @class = "campoTexto col-xs-12 col-sm-12 col-md-8", disabled = true })
                                        </div>
                                    </div>
                                     
                                    <div class="col-xs-12 col-md-3" style="text-align:left">
                                        <div>
                                            <label> Estado del expediente:</label>
                                        </div>
                                        <div>
                                            @Html.TextBoxFor(m => m.estado, new { @class = "campoTexto col-xs-12 col-sm-12 col-md-8", disabled = true })
                                        </div>
                                    </div> 
                                </div>

                                <div class="col-xs-12 col-md-12" style="text-align:left; margin-bottom: 1%; border-bottom: 1px solid #ede9e9;">
                                    <h3>
                                        Datos para la asignación de CUT.
                                    </h3>
                                </div>

                                <div class="row" style="margin-bottom:10px;">

                                    <div class="col-xs-12 col-md-3" style="text-align:left">
                                        <div>
                                            <label>Unidad PCC de Destino :</label>
                                        </div>
                                        <div>
                                            <select id="cbxUnidadProgFr" class="custom-select col-xs-12 col-sm-12 col-md-12"> </select>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-md-3" style="text-align:left">
                                        <div>
                                            <label>Línea de Acción :</label>
                                        </div>
                                        <div>
                                            @Html.TextBoxFor(m => m.idTipoSDA, new { style = "display:none; width:60%; ", disabled = true })
                                            @Html.TextBoxFor(m => m.tipoSDA, new {@class= "col-xs-12 col-sm-12 col-md-8", disabled = true })
                                       </div>
                                    </div>

                               
                                    <div class="col-xs-12 col-md-3 NoPromocionC" style="display:none; text-align:left">
                                        <div>
                                            <label>Tipo Incentivo :</label>
                                        </div>
                                        <div>
                                            <select id="cbxTipoIncentivoFr" class="custom-select col-xs-12 col-sm-12 col-md-8"> </select>
                                        </div>
                                    </div>


                                    <div class="col-xs-12 col-md-3" style="text-align:left">
                                        <div>
                                            <label> Nro. Cut:</label>
                                        </div>
                                        <div>
                                            @Html.TextBox("nroCutSGD", (string)"", new {@class = "col-xs-12 col-sm-12 col-md-8", placeholder="000000-2020"})
                                            @Html.TextBox("nroCutSel", (string)"", new {@class= "col-xs-12 col-sm-12 col-md-8", style = "display:none;", disabled = true })
                                        </div>
                                    </div>
                                     
                                </div>



                                <div class="row" style="margin-bottom:10px;">
                                    <div class="col-xs-12 col-md-6" style="text-align:left">
                                        <div>
                                            <label>Asunto :</label>
                                        </div>
                                        <div>
                                            @Html.TextBox("asuntoCutExp", (string)"", new { @class = "campoTexto col-xs-12 col-sm-12 col-md-10", disabled = true })
                                        </div>
                                    </div> 
                                     

                                    <div class="col-xs-12 col-md-3" style="text-align:left">
                                        <div>
                                            <label>Fecha asignación :</label>
                                        </div>
                                        <div>
                                            @Html.TextBox("fechaRecepcionC", (string)"", new { @class = "campoTexto", style = "width:60%", disabled = true })
                                        </div>
                                    </div>
                                      

                                    <div class="col-xs-12 col-md-3 estadoActCut" style="text-align:left">
                                        <div>
                                            <label> Estado Actual:</label>
                                        </div>
                                        <div>
                                            @Html.TextBox("estadoCut", (string)"", new { style = "width:60%;", disabled = true })
                                        </div>
                                    </div>
                                     
                                </div>
                                 

                                <div class="row" style="display: none; margin-bottom:10px;">
                                      
                                    <div class="col-xs-12 col-md-12" style="text-align:left">
                                        <div>
                                            <label>Observaciones :</label>
                                        </div>
                                        <div>
                                            @Html.TextArea("observacion", (string)"", new { @class = "campoTexto", @maxlength = "350", style = "min-width:80%; width:80%; min-heigth:20% heigth:20%;" })
                                        </div>
                                    </div>
                                     
                                </div>
                                 
                            </div>
                            <br />

                        </div>

                    </div>
                </div>
                <!-- fin contenido-->
            </div>

        </div>
        <!-- -->
    </div>


    <br />
    <br />

    <div class="row" style="margin-bottom:25px;">
        <a class="btn btn-success" id="btnAsignaCutExp" title="asignar" style="display:none">
            <i class="ace-icon fa fa-check-circle"></i>ASIGNAR
        </a>
        &nbsp;&nbsp;
        <a class="btn btn-success" id="btnCancelarAsignaCut"  title="cancelar">
            <i class="ace-icon fa fa-undo"></i>CANCELAR
        </a> 
    </div>


    <br />
    <div class="col-xs-12 col-md-12">
        <div class="col-xs-12 col-md-12" style="text-align:left; margin-bottom: 1%; border-bottom: 1px solid #ede9e9;">
            <h3>
                Cut asignados a Expediente
            </h3>
        </div>
        <br />
        <div id="div-tabla" class="table-responsive margen">
            <table id="tablaMP_CutExpedienteAsig" class="table table-bordered table-hover table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th rowspan="1" style="display:none; background-color:darkseagreen; color:black; text-align:center; vertical-align:middle;">ID</th>
                        <th rowspan="1" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; max-width:5%">Nro.</th>
                        <th rowspan="1" style="display:none; background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; max-width:5%">ID. Expediente</th>
                        <th rowspan="1" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:10%; max-width:10%">N° Expediente</th>
                        <th rowspan="1" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:15%; max-width:15%">N° CUT</th>
                        <th rowspan="1" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:15%; max-width:15%">Unidad Destino </th>
                        <th rowspan="1" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:15%; max-width:15%">Línea de Acción</th> 
                        <th rowspan="1" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:15%; max-width:15%">Proceso</th>
                        <th rowspan="1" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:15%; max-width:15%">Tipo Incentivo</th> 
                        <th rowspan="1" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:25%; max-width:25%">Asunto</th> 
                        <th rowspan="1" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:25%; max-width:25%">Observación</th>
                        <th rowspan="1" style="display:none; background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; max-width:5%">Codigo SEL</th>
                        <th rowspan="1" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; max-width:5%">Estado Actual</th>
                        @*<th rowspan="1" class="text-center" style="background-color:darkseagreen; color:black; vertical-align:middle; min-width:5%; max-width:5%">Reasignar N° Cut </th>*@  
                        <th rowspan="1" class="text-center" style="background-color:darkseagreen; color:black; vertical-align:middle; min-width:5%; max-width:5%">Anexar Documento </th>  
                    </tr>
                     
                </thead>

            </table>
        </div>

    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        controles_MP_CutExpediente();
       
    
    })



</script>