@model SEL_Entidades.SEL_E.OA_E

@{
    ViewBag.Title = "recepcionarExpedienteOA";
    Layout = "~/Views/Shared/_LayoutMenuUa.cshtml";
}

<head>
    <title>
        Mesa de Parte - Recepción de Expedientes
    </title>
</head>


<div class="main-content">
    <!-- contenedor -->

    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <span>Bienvenido  Sr: @Session["NombreUsua"]   </span>
            <!-- Fin Ruta -->
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="/Modulos/">Modulos</a>
                </li>
                <li><a href="/UPromocion/index"> U.Administración</a></li>
                <li class="active">Recepcionar Expedientes</li>
            </ul>

        </div><!-- Inicio ruta -->

        <div class="page-content">
            <!-- contenido -->

            <div class="page-header">
                <!-- Inicio titulo -->

                <div class="cbp-mc-column">

                    <h1> Recepcionar Expediente  </h1>
                </div>
            </div>       <!-- Fin titulo -->
            <!-- inicio pasos-->

            <div class="col-xs-12" style="margin-bottom:25px;">
                <!-- contenido de pasos -->
                <div id="accordion" style="border:1px solid;">
                    <div class="card">

                        <div class="widget-header card-header" id="headingOne" style="text-align:left;">
                            <h5 class="widget-title" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <a href="#" style="color:white; text-decoration:none;">
                                    <i class="ace-icon fa fa-file"></i>
                                    &nbsp;Datos de la Organización
                                </a>
                            </h5>
                            <div class="widget-toolbar" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <a href="#" data-action="collapse" style="color:#fff;">
                                    <i class="ace-icon fa fa-chevron-down"></i>
                                </a>
                            </div>
                        </div>
                         
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body" style="padding-left:12px;padding-right:12px;">
                                <br />

                                <div class="row" style="margin-bottom:10px;">

                                    <div class="col-xs-12 col-md-4" style="text-align:left">
                                        <div>
                                            <label>RUC :</label>
                                        </div>
                                        <div>
                                            @Html.TextBox("idExpedienteOA", (string)"" , new {@class = "campoNumero", style = "display:none; width:50%" })
                                            @Html.TextBox("nroExpediente", (string)"", new { @class = "campoNumero", style = "display:none; width:50%" })
                                            @Html.TextBoxFor(m => m.idOA, new { @class = "campoNumero", style = "display:none; width:50%", disabled = true }) 
                                            @Html.TextBoxFor(m => m.idoadatos, new { @class = "campoNumero", @MaxLenght = "11", style = "display:none;width:50%", disabled = true })
                                            @Html.TextBoxFor(m => m.idUsuarioRegistro, new { @class = "campoNumero", @MaxLenght = "11", style = "display:none;width:50%", disabled = true, Value = @Session["IdUsua"] })
                                            @Html.TextBoxFor(m => m.rucOA, new { @class = "campoNumero col-xs-12 col-sm-12 col-md-8", @MaxLenght = "250", style = "width:60%", disabled = true })
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-md-8" style="text-align:left">
                                        <div>
                                            <label>Razón Social :</label>
                                        </div>
                                        <div>
                                            @Html.TextBoxFor(m => m.razonSocial, (string)"", new { @class = "campoTexto col-xs-12 col-sm-12 col-md-12", disabled = true })
                                        </div>
                                    </div>

                                </div>


                                <div class="row" style="margin-bottom:10px;">

                                    <div class="col-xs-12 col-md-4" style="text-align:left">
                                        <div>
                                            <label>Departamento :</label>
                                        </div>
                                        <div>
                                            @Html.TextBoxFor(m => m.departamento, new { @class = "campoTexto col-xs-12 col-sm-12 col-md-8", disabled = true })
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-md-4" style="text-align:left">
                                        <div>
                                            <label>Provincia :</label>
                                        </div>
                                        <div>
                                            @Html.TextBoxFor(m => m.provincia, new { @class = "campoTexto col-xs-12 col-sm-12 col-md-8", disabled = true })
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-md-4" style="text-align:left">
                                        <div>
                                            <label>Distrito :</label>
                                        </div>
                                        <div>
                                            @Html.TextBoxFor(m => m.distrito, new { @class = "campoTexto col-xs-12 col-sm-12 col-md-8",  disabled = true })
                                        </div>
                                    </div>

                                </div>

                                <div class="row" style="margin-bottom:5px;"> 
                                    <div class="col-xs-12 col-sm-12 col-md-10" style="text-align:left">
                                        <div>
                                            <label>Domicilio legal :</label>
                                        </div>
                                        <div>
                                            @Html.TextBoxFor(m => m.domicilioLegal, new { @class = "campoTexto col-xs-12 col-sm-12 col-md-10", disabled = true })
                                        </div>
                                    </div> 
                                </div>

                                <div class="row" style="margin-bottom:5px;">
                                    <div class="col-xs-12 col-sm-12 col-md-10" style="text-align:left">
                                        <div>
                                            <label>Centro poblado legal :</label>
                                        </div>
                                        <div>
                                            @Html.TextBoxFor(m => m.domicilioCentroPoblado, new { @class = "campoTexto col-xs-12 col-sm-12 col-md-10",  disabled = true })
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <br />

                        </div>

                    </div>
                </div><!-- fin contenido-->
            </div>

            <br />
            <br />

            <div class="col-xs-12 datosExpediente"  style="display:none; margin-bottom:25px;">
                <!-- contenido de pasos -->
                <div id="accordion" style="border:1px solid;">
                    <div class="card">

                        <div class="widget-header card-header" id="headingTwo" style="text-align:left;">
                            <h5 class="widget-title" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                <a href="#" style="color:white; text-decoration:none;">
                                    <i class="ace-icon fa fa-file"></i>
                                    &nbsp;Datos del Expediente
                                </a>
                            </h5>
                            <div class="widget-toolbar" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                <a href="#" data-action="collapse" style="color:#fff;">
                                    <i class="ace-icon fa fa-chevron-down"></i>
                                </a>
                            </div>
                        </div>
                         

                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body" style="padding-left:12px;padding-right:12px;">
                                <br />

                                <div class="row" style="margin-bottom:10px;">
                                     
                                    <div class="col-xs-12 col-md-4" style="text-align:left">
                                        <div>
                                            <label>Unidad de destino:</label>
                                        </div>
                                        <div> 
                                            @Html.TextBox("idUnidPcc", (string)"", new { @class="", style="display:none", disabled = true, Value = '2'})
                                            @Html.TextBox("unidPcc", (string)"Unidad de Promoción y Formulación de Proyectos", new { @class = "col-xs-12 col-sm-12 col-md-8", disabled = true }) 
                                        </div>
                                    </div>
                                    
                                    <div class="col-xs-12 col-md-4" style="text-align:left">
                                        <div>
                                            <label>Línea de Acción :</label>
                                        </div> 
                                        <div>
                                            @Html.TextBox("idTipoSDA", (string)"", new { @class = "col-xs-12 col-sm-12 col-md-6", style = "display:none;", disabled = true })
                                            @Html.TextBox("TipoSDA", (string)"", new {@class="col-xs-12 col-sm-12 col-md-6", disabled = true })
                                        </div>
                                    </div>
                                     
                                    <div class="col-xs-12 col-md-4 promocion" style="text-align:left">
                                        <div>
                                            <label>Proceso :</label>
                                        </div>
                                        <div>
                                             @*@Html.TextBox("idproceso", (string)"", new { @class = "campoTexto", style = "display:none; width:60%", disabled = true })
                                             @Html.TextBox("proceso", (string)"", new { @class = "campoTexto", style = "width:60%", disabled = true })*@
                                            <select id="cbxProcesoFr" class="custom-select" style="width:60%;"> </select>
                                         </div>
                                    </div>

                                    <div class="col-xs-12 col-md-4 NoPromocion" style="display:none; text-align:left">
                                        <div>
                                            <label>Tipo Incentivo :</label>
                                        </div>
                                        <div>
                                            <select id="cbxTipoIncentivoFr" class="custom-select" style="width:60%;"> </select>
                                        </div>
                                    </div>

                                </div>
                                  
                                <div class="row" style="margin-bottom:10px;">

                                    <div class="col-xs-12 col-md-8" style="text-align:left">
                                        <div>
                                            <label>Asunto :</label>
                                        </div>
                                        <div>
                                            @Html.TextBox("asunto",(string)"", new { @class = "campoTexto", style = "width:80%" })
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-md-4" style="text-align:left">
                                        <div>
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                        </div> 
                                    </div> 
                                </div>


                                <div class="row" style="margin-bottom:5px;">

                                    <div class="col-xs-12 col-md-4" style="text-align:left">
                                        <div>
                                            <label>Lugar de recepción :</label>
                                        </div>
                                        <div>
                                            <select id="cbxOficinaRegionalFr" class="custom-select" style="width:60%;"> </select>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-md-4" style="text-align:left">
                                        <div>
                                            <label>Fecha recepción :</label>
                                        </div>
                                        <div>
                                            @Html.TextBox("fechaRecepcion", (string)"", new { @class = "campoTexto", style = "width:60%", disabled = true })
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-md-4" style="text-align:left">
                                        <div>
                                            <label>Observaciones :</label>
                                        </div>
                                        <div>
                                            @Html.TextArea("observacion", (string)"", new { @class = "campoTexto", @maxlength="350" ,style = "min-width:80%; width:80%; min-heigth:20% heigth:20%;"})
                                        </div>
                                    </div>
                                     
                                </div>
                                 
                                <div class="row" style="margin-bottom:5px;">

                                    <div class="col-xs-12 col-md-12 panel panel-default" style="width:40%; margin-left:1%; margin-top:1%;">
                                        <div class="panel-body inline-block" style="text-align:left">
                                            <div>
                                                <label class="inline-block">
                                                    <input id="chkExpedAntiguo" type="checkbox" value="checkbox"> Cuenta con expediente antiguo.
                                                </label> &nbsp; &nbsp; 
                                                    @Html.TextBox("nroExpAntiguo", (string)"", new { @class = "campoNumero", @placeHolder = "Nro. Expediente Antiguo", style = "width:40%", disabled = true })
                                                
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                 
                            </div>
                            <br />

                        </div>

                    </div>
                </div>
                <!-- fin contenido-->
            </div>

        </div>
        <!-- -->
    </div>


    <br />
    <br />

    <div class="row" style="margin-bottom:25px;">
        <a class="btn btn-success" id="btnRecepExpediente" href="#" title="Recepcionar" style="display:none">
            <i class="ace-icon fa fa-check-circle"></i>RECEPCIONAR
        </a> 
        <a class="btn btn-success" id="btnRegresarRecepExpediente" href="#" title="Regresar" style="display:none">
            <i class="ace-icon fa fa-undo"></i>REGRESAR
        </a>
        
        <a class="btn btn-success" id="btnGrabarRecepExpediente" href="#" title="Grabar" style="display:none">
            <i class="ace-icon fa fa-save"></i>GRABAR
        </a> 

        <a class="btn btn-danger" id="btnCancelarRecepExpediente"  href="#" title="Cancelar" style="display:none">
            <i class="ace-icon fa fa-times"></i>CANCELAR
        </a> 
    </div>


    <br />
    <div class="col-xs-12 col-md-12">
        <div class="col-xs-12 col-md-12" style="text-align:left; margin-bottom: 1%; border-bottom: 1px solid #ede9e9;">
            <h3>
                Expedientes Registrados de la Organización.
            </h3>
        </div>
        <br />
        <div id="div-tabla" class="table-responsive margen">
            <table id="tablaMP_ExpedienteReg" class="table table-bordered table-hover table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th rowspan="1" style="display:none; background-color:darkseagreen; color:black; text-align:center; vertical-align:middle;">ID</th> 
                        <th rowspan="1" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:1%; width:1%;max-width:1%">N°</th>
                        <th rowspan="1" style="display:none; background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:1%; width:1%; max-width:1%">ID. OA Datos</th>
                        <th rowspan="1" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:8%; width:8%; max-width:8%">N° Expediente</th>
                        <th rowspan="1" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:15%; width:15%; max-width:15%">Unidad Destino </th>
                        <th rowspan="1" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:20%; width:20%; max-width:20%">Línea de Acción</th>
                        <th rowspan="1" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:7%; width:7%; max-width:7%">Proceso</th>
                        <th rowspan="1" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:7%; width:7%; max-width:7%">Tipo Incentivo</th> 
                        <th rowspan="1" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:30%; width:30%; max-width:30%">Asunto</th>
                        <th rowspan="1" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:20%; width:20%; max-width:20%">Lugar de Recepción</th>
                        <th rowspan="1" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; width:5%; max-width:5%">Fecha Recepción</th>
                        <th rowspan="1" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:35%; width:35%; max-width:35%">Observaciones</th>
                        <th rowspan="1" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; width:5%; max-width:5%">N° Expediente Antiguo</th>
                        <th rowspan="1" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; width:5%; max-width:5%">Estado</th>
                        <th rowspan="1" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; width:5%; max-width:5%">Asignar Cut</th>
                        <th rowspan="1" style="background-color:darkseagreen; color:black; text-align:center; vertical-align:middle; min-width:5%; width:5%; max-width:5%">Modificar</th>
                    </tr> 
                </thead>

            </table>
        </div>

    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        controles_MP_Expedientes(); 
         
        var idUsuarioMpExp = $('#idUsuarioRegistro').val();
        console.log('Id Usuar: ' + idUsuarioMpExp);

    }); 
</script>


